<div class="dialog-header" *ngFor="let arr1 of newArray">
    <h5 class="text-main">#{{arr1.jobpostId}} -{{arr1.job_Title}} <small class="text-muted">{{arr1.job_Location}}</small></h5>
    <button mat-icon-button mat-dialog-close>
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</div>
<div class="dialog-body form-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="job-height scrollbar">
                <div class="row gy-3" *ngFor="let arr of newArray">
                    <div class="col-sm-6">
                        <div class="form-label">Date of Posting</div>
                        <div class="form-data">{{arr.date_of_Posting | date: 'dd-MM-yyyy'}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-label">Last Date of Application</div>
                        <div class="form-data">{{arr.date_of_Application | date: 'dd-MM-yyyy'}}</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-label">Job Description</div>
                        <div class="form-data">{{arr.job_Description}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-label">Roles & Responsibility</div>
                        <div class="form-data" innerHTML="{{arr.roles_and_Responsibility}}"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-label">Experience</div>
                        <div class="form-data" innerHTML="{{arr.experience}}"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-label">Qualification</div>
                        <div class="form-data" innerHTML="{{arr.qualification}}"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-label">Skills Required</div>
                        <div class="form-data" innerHTML="{{arr.skills_Required}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-between p-3">
    <button mat-button mat-dialog-close class="btn-main-outline">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn-main">OK</button>
</div>