<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>contact us</h1>
                <h3>
                    We’d love to hear from you.
                </h3>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5>
                    Whether you have a question about products, services, courses, pricing, need a demo or anything
                    else, our team is ready to answer all your questions.
                </h5>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Contact Us</h2>
                <div class="row">
                    <div class="col-sm-5">
                        <img src="../../../assets/image/contact-us/contact-us.png" class="contact-img">
                    </div>
                    <div class="col-sm-7">
                        <h3 class="mb-4">WhizHack</h3>
                        <h5 class="mb-4">
                            <i class="fa-solid fa-circle text-main me-2"></i>
                            <span class="fs-5">
                                Reach Us
                            </span>
                        </h5>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-4">
                                    <h6>Email Us</h6>
                                    <small><a href="mailto:info@whizhack.com" class="contact">info@whizhack.com</a></small>
                                </div>
                                <div class="mb-4">
                                    <h6>Call Us</h6>
                                    <small class="d-block"><a href="tel:+91-8447-223-249" class="contact">+91-8447-223-249</a></small>
                                    <small class="mt-4">Monday - Saterday: 09 Am to 10 Pm</small>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="mb-4">
                                    <h6>Address</h6>
                                    <small>
                                        WhizHack Technologies -<br> Online Cyber Security Training Institute India,<br> The Palm
                                        Spring Plaza, 901/9th Floor,<br> Golf Course Rd, DLF Phase 5, Sector 54,<br> Gurugram,
                                        Haryana 122003
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="d-flex">
                                    <div class="social-icon"><a href="https://twitter.com/whizhack" target="_blank"><i class="fa-brands fa-twitter"></i></a></div>
                                <div class="social-icon"><a href="https://www.instagram.com/whizhackofficial/" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
                                <div class="social-icon"><a href="https://www.youtube.com/channel/UCdiOPbpGiztiIQyZ26437Tw" target="_blank"><i class="fa-brands fa-youtube"></i></a></div>
                                <div class="social-icon"><a href="https://www.facebook.com/whizhackofficial/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<div class="container">


    <!--------Contact-Us-section------------>



    <!--------Map-section--------->

    <section>
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="ratio ratio-16x9">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115681.29592731265!2d-77.47713270775661!3d25.0326996781907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x892f7c99b981dbc9%3A0x2aef01d3485e50d2!2sNassau%2C%20Bahamy!5e0!3m2!1spl!2spl!4v1624445118063!5m2!1spl!2spl"
                        class="w-100 h-75 rounded-3" height="100" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </section>
</div>