<div class="container">
      <div class="row py-4">
         <div class="col-sm-4">
            <ul class="list-unstyled">
                <li>
                  <h6 class="footer-list mb-3">Useful Links</h6>
                </li>
                <li><a routerLink="#" class="dropdown-item">Home</a></li>
                <li><a routerLink="#" class="dropdown-item">About Us</a></li>
                <li><a routerLink="#" class="dropdown-item" >Services</a></li>
                <li><a routerLink="#" class="dropdown-item" >Contact Us</a></li>
              </ul>
         </div>
         <div class="col-sm-8">
            <ul class="list-unstyled">
                <li>
                  <h6 class="footer-list mb-3">Contact Us</h6>
                </li>
                <li><a routerLink="#" class="dropdown-item">Whilzhack Pvt. Ltd.7th Floor, <br>
                    Cybernex 399, Shankar Sheth Road, Pune 411 037</a>
                </li>
                <li><a routerLink="#" class="dropdown-item">info@whilzhack.com</a></li>
                <li><a routerLink="#" class="dropdown-item" >www.whilzhack.com</a></li>
                <li><a routerLink="#" class="dropdown-item" >+91 9876543210</a></li>
              </ul>
         </div>
      </div>
</div>

