<div class="container">
    <div class="footer">
        <div class="row py-4">
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li>
                        <h6>Useful Links</h6>
                    </li>
                    <li><a routerLink="#" class="footer-list">Home</a></li>
                    <li><a routerLink="#" class="footer-list">About Us</a></li>
                    <li><a routerLink="#" class="footer-list">Services</a></li>
                    <li><a routerLink="#" class="footer-list">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-8">
                <ul class="list-unstyled mb-0">
                    <li>
                        <h6>Contact Us</h6>
                    </li>
                    <li>
                        <a routerLink="#" class="footer-list">
                            <span class="material-symbols-outlined mb-3">location_on</span>
                            <span class="ms-3">Whilzhack Pvt. Ltd.7th Floor,<br>
                                Cybernex 399, Shankar Sheth Road, Pune 411 037
                            </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="#" class="footer-list">
                            <span class="material-symbols-outlined">mail</span>
                            <span class="ms-3">info@whilzhack.com</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="#" class="footer-list">
                            <span class="material-symbols-outlined">language</span>
                            <span class="ms-3">www.whilzhack.com</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="#" class="footer-list">
                            <span class="material-symbols-outlined">call</span>
                            <span class="ms-3">+91 9876543210</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>