.footer .footer-list
{
    padding: 5px 0px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 100;
    font-family: "Rubik", "Helvetica Neue", sans-serif !important;
}
.footer h6
{
    position: relative;
}
.footer h6::after
{
    content: '';
    display: inline;
    position: absolute;
    width: 69px;
    height: 2px;
    background: #2CF311;
    border-radius: 5px;
    left: 0;
    bottom: -11px;
}
.footer .material-symbols-outlined
{
    
    font-size: 15px;
}