section {
    padding-block: 4rem;
    color: #fff;
}
#statistics .card-body {
    padding: 50px;
    color: #000;
}
#statistics .card-body img{
    width: 100px;
    margin:0 auto;
    margin-bottom: 2rem;
}
#solutions .card{
    background-color:#0E1526;
    padding: 30px;
}
#solutions .card:hover{
    border: solid 1px #707070;
}
#solutions .card img{
    width: 150px;
    margin:0 auto;
    margin-bottom: 2rem;
}
#solutions .card p{
    font-weight: 300;
    font-size: 0.95rem;
}
.carousel-control-prev, 
.carousel-control-next {
    position: relative;
    background-color: #aaa;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-flex;
    margin-right: 15px;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: var(--main-color);
}
#tech-usp .card{
    background-color: var(--card-bg-color);
    border-radius: 10px;
    border: solid 1px var(--main-color);
    padding: 20px;
    height: 100%;
    display:flex;
    justify-content: center;
}
#tech-usp .card p{
    margin-bottom:0;
}
#application .card{
    border-radius: 20px;
    border: none;
}
.text-overlay{
    padding: 15px 25px;    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background:  linear-gradient(180deg, #FFFFFF29 0%, #FFFFFF2B 50%, #FFFFFF 100%);
}
.text-overlay h5{
    font-size: 1rem;
}
.text-overlay p{
    font-size: 0.85rem;
    margin-bottom: 0;
}
.text-overlay p a{
    color: #000;
    text-decoration: none;
}
#statistics .card-body{
    padding: 50px;
    color: #fff;
    background-color: var(--card-bg-color);
}