<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>ZERO HACK</h1>
                <h3>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </h3>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="ratio ratio-16x9 mb-5">
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/JQD3n2Rh1uM" title="Ecosystem"
                        frameborder="0" class="rounded border border-dark"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

                <div class="row" id="statistics">
                    <div class="col-sm-4 text-center mb-3">
                        <div class="card card-body">
                            <h5 class="fw-bold">Statistics 1</h5>
                            <p>15 April - 15 May</p>
                            <img src="../../../../assets/image/cyber-range/chart-bar.png" class="w-50 m-auto">
                        </div>
                    </div>
                    <div class="col-sm-4 text-center mb-3">
                        <div class="card card-body">
                            <h5 class="fw-bold">Statistics 1</h5>
                            <p>15 April - 15 May</p>
                            <img src="../../../../assets/image/cyber-range/chart-bar.png" class="w-50 m-auto">
                        </div>
                    </div>
                    <div class="col-sm-4 text-center mb-3">
                        <div class="card card-body">
                            <h5 class="fw-bold">Statistics 1</h5>
                            <p>15 April - 15 May</p>
                            <img src="../../../../assets/image/cyber-range/chart-bar.png" class="w-50 m-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tech-usp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Our Technology USPs</h2>
                <p class="about-text">
                    We have an adaptable, multi-layer security system that uses signature, machine learning & deep
                    learning algorithms to effectively predict and mitigate zero-day attacks. Presenting Zero Hack XDR
                    which is built with a vision of moving from an attack response mode to a proactive stance of threat
                    prevention with very high accuracy and minimal latency.
                </p>
                <div class="row g-3">
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <p>
                                Triple Layered Threat Detection Engine
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <p>
                                Zero Day Attack Detection
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <p>
                                Explainable Artificial Intelligence Technology
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <p>
                                Progressive Prediction Technology
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <p>
                                Dynamic Asset discovery powered by innovative passive fingerprinting
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <p>
                                Behaviour-Based Profiling Technology
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="application">
    <div class="container">
        <h2 class="mb-4">Application</h2>
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="card position-relative">
                    <img src="../../../../assets/image/TRACE/ZeroHack-Brochure.png" class="card-img-top" alt="...">
                    <div class="text-overlay">
                        <h5>Zero Hack Brochure.pdf</h5>
                        <p class="d-flex align-items-center gap-2">
                            <i class="fa-solid fa-file-pdf text-danger"></i>
                            <a href="#">drive.google.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="solutions">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Solution by Industry</h2>
                <div class="row">
                    <div class="col-sm-3 mb-3">
                        <div class="card card-body h-100">
                            <img src="../../../../assets/image/TRACE/Power.svg">
                            <h5>Power</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3 mb-3">
                        <div class="card card-body h-100">
                            <img src="../../../../assets/image/TRACE/Oil-Gas.svg">
                            <h5>Oil & Gas</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3 mb-3">
                        <div class="card card-body h-100">
                            <img src="../../../../assets/image/TRACE/Railways.svg">
                            <h5>Railways</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3 mb-3">
                        <div class="card card-body h-100">
                            <img src="../../../../assets/image/TRACE/Defence.svg">
                            <h5>Defence</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="mb-4">TESTIMONIALS</h3>
                <h5>Recent Feedback</h5>
                <p class="w-50 fw-normal">Trusted by more than 700 people</p>
                <div class="position-relative">
                    <button class="carousel-control-prev" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-8">
                <div id="TestimonialCarousel" class="carousel slide testimonal" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>