<div class="dialog-header">
  <h5 class="text-main">Register Now</h5>
  <button mat-icon-button mat-dialog-close>
    <span class="material-symbols-outlined">
      close
    </span>
  </button>
</div>
<div class="dialog-body form-container">  
  <mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="personalInfoForm" class="pt-3 mt-3">
      <form [formGroup]="personalInfoForm" #formDirective="ngForm">
        <ng-template matStepLabel> Personal Information</ng-template>
        <div class="row g-3 mb-4">
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Full Name</mat-label>
              <input matInput placeholder="Enter Full Name" formControlName="fullName"
                (keypress)="validator.noFirstSpaceAllow($event)">
              <mat-error *ngIf="personal['fullName'].errors" class="mt-2">
                <span class="text-danger" *ngIf="personal['fullName'].errors['required']">
                  Full Name is Required.</span>
                <span class="text-danger" *ngIf="personal['fullName'].errors['pattern']">
                  Please Enter Valid Full Name</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email ID</mat-label>
              <input matInput placeholder="Enter Email ID" formControlName="email" (keypress)="validator.noSpaceAllow($event)">
              <mat-error *ngIf="personal['email'].errors" class="mt-2">
                <span class="text-danger" *ngIf="personal['email'].errors['required']">
                  Email ID is Required.</span>
                <span class="text-danger" *ngIf="personal['email'].errors['email']">
                  Please Enter Valid Email Id</span>
            <span class="text-danger" *ngIf="!personal.email.errors?.email && personal.email.errors?.pattern">
                Please Enter Valid Email ID</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Date Of Birth</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Enter Date of birth" formControlName="date_of_Birth"
              [readonly]="true" (click)="picker.open()" [max]="max">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="multi-year"></mat-datepicker>
              <mat-error *ngIf="personal['date_of_Birth']?.errors" class="mt-2">
                <span class="text-danger" *ngIf="personal['date_of_Birth']?.errors['required']">
                  Date Of Birth is Required.</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <div class="d-flex align-items-center">
                <mat-label class="me-4">Gender :</mat-label>
              <mat-radio-group  formControlName="gender">
                <mat-radio-button value="Male" class="me-3">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
              </mat-radio-group> </div>
             <div class="text-start">
              <ng-container *ngIf="genderValFlag && !this.personalInfoForm.value.gender">
                <mat-error class="mt-2" *ngIf="personal['gender'].hasError('required')">
                    <p>Gender is Required.</p>
                </mat-error>
            </ng-container>
             </div>
           
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Country</mat-label>
              <input matInput placeholder="Enter Country" formControlName="country" (keypress)="validator.noFirstSpaceAllow($event)">
              <mat-error *ngIf="personal['country'].errors" class="mt-2">
                <span class="text-danger" *ngIf="personal['country']?.errors['required']">
                  Country Name is Required.</span>
                  <span class="text-danger" *ngIf="personal['country'].errors['pattern']">
                    Please Enter Valid Country Name</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>City</mat-label>
              <input matInput placeholder="Enter City" formControlName="city" (keypress)="validator.noFirstSpaceAllow($event)">
              <mat-error *ngIf="personal['city'].errors" class="mt-2">
                <span class="text-danger" *ngIf="personal['city']?.errors['required']">
                  City Name is Required.</span>
                  <span class="text-danger" *ngIf="personal['city'].errors['pattern']">
                    Please Enter Valid City Name</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Mobile Number</mat-label>
              <input matInput placeholder="Enter Mobile Number" formControlName="mobileNo" maxlength="16"
              (keypress)="validator.noFirstSpaceAllow($event)">
              <mat-error *ngIf="personal['mobileNo'].errors" class="mt-2">
                <span class="text-danger" *ngIf="personal['mobileNo']?.errors['required']">
                  Phone Number is Required.</span>
                  <span class="text-danger" *ngIf="personal['mobileNo'].errors['pattern']">
                    Please Enter Valid Phone Number</span> 
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <button mat-button class="btn-main" type="button" (click)="clearData(formDirective)">Clear</button>
          <button mat-button class="btn-main"  (click)="personalInfo()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="qualificationForm" label="Educational Qualification"  >
      <form [formGroup]="qualificationForm" #formDirective="ngForm">
        <div class="row g-3 mb-4">
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Qualification</mat-label>
              <mat-select formControlName="qualification">
                <mat-option *ngFor="let qualification of qualificationNameArr" [value]="qualification.qualificationName">
                  {{qualification.qualificationName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="qualification['qualification'].errors" class="mt-2">
                <span class="text-danger" *ngIf="qualification['qualification'].errors['required']">
                  Qualification is Required.</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Degree</mat-label>
              <mat-select formControlName="degree">
                <mat-option *ngFor="let degree of degreeNameArr" [value]="degree.degreeName">
                  {{degree.degreeName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="qualification['degree'].errors" class="mt-2">
                <span class="text-danger" *ngIf="qualification['degree'].errors['required']">
                  Degree Name is Required.</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Institute Name</mat-label>
              <input matInput placeholder="Enter Institute Name" formControlName="instituteName" (keypress)="validator.noFirstSpaceAllow($event)">
              <mat-error *ngIf="qualification['instituteName'].errors" class="mt-2">
                <span class="text-danger" *ngIf="qualification['instituteName'].errors['required']">
                  Institute Name is Required.</span>
                  <span class="text-danger" *ngIf="qualification['instituteName'].errors['pattern']">
                    Please Enter Valid Institute Name</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Year of Passing</mat-label>
              <input matInput placeholder="Enter Year of Passing" formControlName="year_of_passing"
              (keypress)="validation.acceptedOnlyNumbers($event)" maxlength="4">
              <mat-error *ngIf="qualification['year_of_passing'].errors" class="mt-2">
                <span class="text-danger" *ngIf="qualification['year_of_passing'].errors['required']">
                  Year of Passing is Required.</span>
                  <span class="text-danger" *ngIf="qualification['year_of_passing'].errors['pattern']">
                    Please Enter Valid Year of Passing</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-label class="me-4">Percentage :</mat-label>
            <mat-radio-group formControlName="remark" (change)="onSelectPercentage($event)">
              <mat-radio-button value="percentage" class="me-3">Percentage</mat-radio-button>
              <mat-radio-button value="CGPA">CGPA</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-sm-6" *ngIf="this.qualificationForm.value.remark=='percentage'">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Percentage (Highet Qualification)</mat-label>
              <input matInput placeholder="50.50%" formControlName="percentage" (keypress)="validator.noFirstSpaceAllow($event)">
              <mat-error *ngIf="qualification['percentage'].errors" class="mt-2">
                <span class="text-danger" *ngIf="qualification['percentage'].errors['required']">
                  Percentage is Required.</span>
                  <span class="text-danger" *ngIf="qualification['percentage'].errors['pattern']">
                    Please Enter Valid Percentage</span> 
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6" *ngIf="this.qualificationForm.value.remark=='CGPA'">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>CGPA (Highet Qualification)</mat-label>
              <input matInput placeholder="5.5 CGPA" formControlName="CGPA" (keypress)="validator.noFirstSpaceAllow($event)">
              <mat-error *ngIf="qualification['CGPA'].errors" class="mt-2">
                <span class="text-danger" *ngIf="qualification['CGPA'].errors['required']">
                  CGPA is Required.</span>
                  <span class="text-danger" *ngIf="qualification['CGPA'].errors['pattern']">
                    Please Enter Valid CGPA</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <button mat-button matStepperPrevious class="btn-main-outline">Back</button>
          <button mat-button  class="btn-main" (click)="qualificationInfo()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="experianceForm" label="Professional Qualification">
      <form [formGroup]="experianceForm" #formDirective="ngForm">
        <div class="mb-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Total Years of Experience</mat-label>
            <mat-select formControlName="total_Experience">
              <mat-option *ngFor="let year of experianceArray" [value]="year.percentageId">
                {{year.percentageName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="experiance['total_Experience'].errors" class="mt-2">
              <span class="text-danger" *ngIf="experiance['total_Experience'].errors['required']">
                Years of Experiance is Required.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <button mat-button matStepperPrevious class="btn-main-outline">Back</button>
          <button mat-button  class="btn-main" (click)="experianceYearInfo()">Next</button>
        </div>
      </form>
    </mat-step>
   <mat-step [stepControl]="whyProgram" label="Why Join?" (click)="$event.stopPropagation()">
      <form [formGroup]="whyProgram" (ngSubmit)="submitForm(formDirective)" #formDirective="ngForm">
        <mat-form-field appearance="legacy" class="w-100">
          <mat-label>Why do you want to join this program?</mat-label>
          <textarea matInput placeholder="Why do you want to join this program?" rows="10" formControlName="message"
          (keypress)="validator.noFirstSpaceAllow($event)"></textarea>
          <mat-error *ngIf="program['message'].errors" class="mt-2">
            <span class="text-danger" *ngIf="program['message'].errors['required']">
              Reason is Required.</span>
              <span class="text-danger" *ngIf="program['message'].errors['pattern']">
                Please Enter Valid Reason</span>
          </mat-error>
        </mat-form-field>
        <div>
          <!-- <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button> -->
      <div class="d-flex align-items-center justify-content-between">
            <button type="button" mat-button class="btn-main-outline" (click)="cancelForm(formDirective)">Cancel</button>
            <button type="submit" mat-button class="btn-main">Submit Data</button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-stepper>

</div>