<div class="dialog-header">
    <h5 class="text-main">Post New Job</h5>
    <button mat-icon-button mat-dialog-close>
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</div>
<div class="dialog-body form-container">
    <form [formGroup]="postNewJobFrm" #formDirective="ngForm">
        <div class="card form-card">
            <div class="row">
                <div class="col-sm-4 border-end">
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Job Title</mat-label>
                            <input matInput placeholder="Enter Job Title Here..." formControlName="job_Title"
                                maxlength="150" [value]="postNewJobFrm.get('job_Title')?.value | titlecase"
                                (keypress)="validation.noFirstSpaceAllow($event)">
                            <mat-error class="mt-2">
                                <div
                                    *ngIf="(f['job_Title'].hasError('required') || f['job_Title'].hasError('touched')) && submited">
                                    Job Title Is Required</div>
                                <div *ngIf="f['job_Title'].hasError('pattern') || f['job_Title'].hasError('touched')">
                                    Please Enter Valid Job Title.
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Job Location</mat-label>
                            <input matInput placeholder="Enter Job Location Here..." formControlName="job_Location"
                                maxlength="150" (keypress)="validation.noFirstSpaceAllow($event)"><br>
                            <mat-error class="mt-2">
                                <div
                                    *ngIf="(f['job_Location'].hasError('required') || f['job_Location'].hasError('touched')) && submited">
                                    Job Location is Required</div>
                                <div
                                    *ngIf="f['job_Location'].hasError('pattern') || f['job_Location'].hasError('touched')">
                                    Please Enter Valid Job Location
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Last Date of Application</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="date_of_Application"
                                [readonly]="true" [min]="min" placeholder="Enter Last Date of Application Here...">
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error class="mt-2"
                                *ngIf="f['date_of_Application'].hasError('required') || f['date_of_Application'].hasError('touched')">
                                Last Date of Application Is Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Job Description</mat-label>
                            <textarea matInput placeholder="Enter Job Description Here" rows="15" 
                                formControlName="job_Description"
                                (keypress)="validation.noFirstSpaceAllow($event)"></textarea>
                                <!-- maxlength="500" -->
                            <mat-error class="mt-2"
                                *ngIf="(f['job_Description'].hasError('required') || f['job_Description'].hasError('touched')) && submited">
                                Description Is Required
                            </mat-error>
                            <mat-error class="mt-2" *ngIf="f['job_Description'].hasError('maxlength')">
                                Please Enter Maximum 500 Character
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row gy-3 form-container">
                        <div class="col-sm-6">
                            <div class="form-label">Roles & Responsibilities</div>
                            <angular-editor formControlName="roles_and_Responsibility" [config]="editorConfig"
                                placeholder="Enter  Roles & Responsibilities Here...">
                            </angular-editor>
                            <mat-error class="mt-2">
                                <div *ngIf="f['roles_and_Responsibility'].hasError('required') && submited">
                                    Roles & Responsibility is Required</div>
                                <div *ngIf="f['roles_and_Responsibility'].hasError('maxlength') && submited">Please Enter Maximum 50 Character</div>
                            </mat-error>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-label">Experience</div>
                            <angular-editor formControlName="experience" [config]="editorConfig"
                                placeholder="Enter Experience Here...">
                            </angular-editor>
                            <mat-error class="mt-2" >
                                <div *ngIf="f['experience'].hasError('required') && submited">Experience Is Required</div>
                                <div *ngIf="f['experience'].hasError('maxlength') && submited">Please Enter Maximum 50 Character</div>
                            </mat-error>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-label">Qualification</div>
                            <angular-editor formControlName="qualification" [config]="editorConfig"
                                placeholder="Enter Qualifications Here...">
                            </angular-editor>
                            <mat-error class="mt-2" >
                                <div *ngIf="f['qualification'].hasError('required') && submited">Qualification Is Required</div>
                                <div *ngIf="f['qualification'].hasError('maxlength') && submited">Please Enter Maximum 50 Character</div>
                            </mat-error>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-label">Skills Required</div>
                            <angular-editor formControlName="skills_Required" [config]="editorConfig"
                                placeholder="Enter Skills Here...">
                            </angular-editor>
                            <mat-error class="mt-2">
                                <div *ngIf="f['skills_Required'].hasError('required') && submited">Skills Is Required</div>
                                <div *ngIf="f['skills_Required'].hasError('maxlength') && submited">Please Enter Maximum 50 Character</div>
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between p-3">
            <button mat-stroked-button class="btn-main-outline" type="button" (click)="clearForm()">Clear</button>
            <button mat-stroked-button class="btn-main" type="submit" (click)="onSubmit()">{{editFlag ?
                'Update':'Submit'}}</button>
        </div>
    </form>
</div>