#login{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#loginbox{
    border:none;
    border-radius: 20px;
    background-color:var(--card-bg-color);
}
.logo{
    text-align: center;
}
.logo img{
    width: 130px;
}