<div id="login" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <div class="card" id="loginbox">
                <img src="assets/image/home/Product3.png" class="card-img-top" alt="...">
                <div class="card-body p-5">
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username">
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <span class="material-symbols-outlined">
                                    {{hide ? 'visibility_off' : 'visibility'}}
                                </span>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <div class="row gx-1 align-items-center">
                            <div class="col-sm">
                                <div id="captcha" class="mb-2">
                                </div>
                            </div>
                            <div class="col-sm-auto">
                                <button class="mb-2" type="button" mat-icon-button (click)="captcha()"><i
                                        class="fa fa-sync"></i></button>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput placeholder="Enter Captcha"
                                        maxlength="4" autocomplete="off">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <button mat-raised-button class="bg-main w-100 text-dark mb-2">LOGIN</button>
                    <div class="text-end">
                        <a routerLink="" class="text-main">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>