<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Bootcamp</h1>
                <!-- <h3>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </h3> -->
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row py-4">
            <div class="col-sm-12 mb-4">
                <h4 class="d-flex">
                    <div class="flex-shrink-0">
                        <i class="fa-solid fa-circle text-main me-3"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        IITJ TISC Bootcamp covers the hands-on and practical skills necessary to land high-paying
                        careers in cyber security, one of the world’s fastest-growing industries.
                    </div>
                </h4>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Bootcamp Program</h2>
                <p class="about-text">
                    IIT Jodhpur TISC Dual Certification Program on CyberDefense Powered by WhizHack Technologies and
                    ThriveDX, Israel.
                </p>
                <div class="row courses">
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/image/home/Product1.png" alt="Product" class="card-img-top">
                            <div class="card-body">
                                <h5 class="course-name mb-3">Cyber Security Training Program</h5>
                                <h6 class="duration-label">Duration:</h6>
                                <p class="duration">1 Day; 3 Hour Live program</p>
                                <h6 class="price mb-3">
                                    Fully online activities and live virtual classes every day with the Bootcamp
                                    Facilitator, with built-in one-on-one time.
                                </h6>
                                <h6 class="price mb-3">
                                    Incubated at IIT Jodhpur
                                </h6>
                                <h6 class="duration-label">Price:</h6>
                                <div class="price mb-3">
                                    INR <strong>1,65,000</strong> + GST<br>
                                </div>
                                <h6 class="duration-label">EMI Available Starting at Rs. 8,945/-(Subject to Finance
                                    Approval)</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/image/home/Product1.png" alt="Product" class="card-img-top">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="course-name mb-3">Cyber Security Training Program</h5>
                                    <h6 class="duration-label">Duration:</h6>
                                    <p class="duration">6 months, Part-time</p>
                                    <h6 class="price mb-3">
                                        This will cover the same content, over a longer period of time and with
                                        live
                                        virtual classes occurring only twice a week, 2 hours each day.
                                    </h6>
                                    <h6 class="price mb-3">
                                        Incubated at IIT Jodhpur
                                    </h6>
                                    <h6 class="duration-label">Price:</h6>
                                    <div class="price mb-3">
                                        INR <strong>1,65,000</strong> + GST<br>
                                    </div>
                                    <h6 class="duration-label">EMI Available Starting at <strong>Rs. 8,945/-</strong>
                                        (Subject to Finance
                                        Approval)</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Who should choose this course?</h2>
                <p class="about-text">
                    The Cyber Defense Remote Bootcamp is for anyone interested in becoming a Global Cyber Defense
                    Expert. The training will ensure learners get the best blend of skill sets to tackle global
                    cyber
                    threats and also a certification that’s valued in India and beyond.
                </p>
                <h4>Qualifications</h4>
                <p class="about-text">
                    Selections to the Program will be on the basis of the following:
                </p>
                <ul>
                    <li> Aptitude for Cyber Security</li>
                    <li>Academic Background</li>
                    <li>Statement of Purpose</li>
                </ul>
                <small class="about-text">Graduates from any discipline can apply.</small>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Who should choose this course?</h2>
                <p class="about-text">
                    The dual certification program was developed around Israeli military training methodology and live
                    mentoring by top faculties. 50% of pedagogy comprises of hands-on learning on live projects and
                    simulated scenarios.
                </p>
                <div class="row courses">
                    <div class="col-sm-4 d-flex align-items-strech">
                        <div class="card p-3">
                            <img src="../../../assets/image/home/Product1.png" alt="Product" class="card-img-top w-100">
                            <div class="card-body mb-3">
                                <h5 class="course-name">During Bootcamp</h5>
                                <ul>
                                    <li>Self-paced and flexible learning with instant feedback</li>
                                    <li>Curriculum based on NationalInitiative for Cybersecurity Education (NICE)</li>
                                    <li> Access to faculties and industry experts</li>
                                    <li> Guidance on job searching and resume building</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 d-flex align-items-strech">
                        <div class="card p-3">
                            <img src="../../../assets/image/home/Product1.png" alt="Product" class="card-img-top w-100">
                            <div class="card-body">
                                <h5 class="course-name mb-3">Upon Graduation</h5>
                                <ul>
                                    <li>12 months of continued access to online learning platform</li>
                                    <li>Connection to our alumni and career network</li>
                                    <li>A new career in: Cyber Forensics Analyst, Network Operations Specialist, Cyber
                                        Analyst, Cyber Incident Responder,</li>
                                    <li>Cyber Infrastructure Support Specialist</li>
    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Trainers</h2>
            </div>
        </div>
        <div class="row g-5 products">
            <div class="col-sm-6">
                <div class="card card-body ">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/image/members-user.png" alt="...">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="">Anubhav Choudhary</h6>
                            <small>Cyber Security Expert</small>
                        </div>
                    </div>
                    <p>
                        Anubhav Choudhary is a cyber security expert with an experience of 3+ years in the field. He has trained more than 2500 professionals in the last few years as an Info-Sec Trainer. 
                    </p>
                    <p>He has trained members of the Indian Army and BSF in the field of cybersecurity.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-body">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/image/members-user.png" alt="...">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6>Deblina</h6>
                            <small>Lorem Ipsum</small>
                        </div>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="mb-4">TESTIMONIALS</h3>
                <h5>Recent Feedback</h5>
                <p class="w-50 fw-normal">Trusted by more than 700 people</p>
                <div class="position-relative">
                    <button class="carousel-control-prev" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-8">
                <div id="TestimonialCarousel" class="carousel slide testimonal" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Frequently Asked Questions</h2>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa-solid fa-circle"></i>What is Ethical Hacking?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Ethical hacking is an authorized practice of detecting vulnerabilities in an
                                    application, system, or organization’s infrastructure and bypassing system security
                                    to identify potential data breaches and threats in a network.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa-solid fa-circle"></i>What does an Ethical Hacker do?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Ethical hackers aim to investigate the system or network for weak points that malicious
                                hackers can exploit or destroy. They can then improve the security footprint to
                                withstand attacks better or divert them.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa-solid fa-circle"></i>Is Ethical Hacking a good career option?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Ethical hacking is a good career option across the globe due to the rapid rise in
                                    cyber attacks. Attackers are inflicting damage on physical infrastructure
                                    by infiltrating the digital systems that control physical processes, damaging
                                    specialized equipment and disrupting vital services.</p>
                                <p>Organisations now more than ever are looking for certified and trained ethical
                                    hackers that could effectively manage critical tasks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="fa-solid fa-circle"></i>What is the average salary of an Ethical Hacker?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Salary of an ethical hacker can go up to INR 40 lakh per annum depending on their
                                    experience, skills, and various other factors.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>