<div class="row">
    <div class="col-sm-4">
        <div class="card form-card">
            <div class="card-header">Media Coverage</div>
            <div class="card-body">
                <form [formGroup]="frmMedia" (ngSubmit)="onMediaSubmit(formDirective)" #formDirective="ngForm">
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Article Title</mat-label>
                            <input matInput placeholder="Article Title" formControlName="article_Title" (keyup)="vs.removeSpaceAtBegining($event)" (keypress)="vs.alphabetsWithSpaces($event)" maxlength="50">
                            <mat-error *ngIf="f['article_Title']?.errors" class="mt-2">
                                <span *ngIf="f['article_Title']?.hasError('required')"> Article title is required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Article Source</mat-label>
                            <input matInput placeholder="Article Source" formControlName="source" (keyup)="vs.removeSpaceAtBegining($event)" (keypress)="vs.alphabetsWithSpaces($event)" maxlength="20">
                            <mat-error *ngIf="f['source']?.errors" class="mt-2">
                                <span *ngIf="f['source']?.hasError('required')"> Article source is required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Article URL</mat-label>
                            <input matInput placeholder="Article URL" formControlName="url" (keyup)="vs.removeSpaceAtBegining($event)" (keypress)="vs.alphaNumericWithSpacesAndSpecChars($event)" maxlength="200">
                            <mat-error *ngIf="f['url']?.errors" class="mt-2">
                                <span *ngIf="f['url']?.hasError('required')"> Article url is required</span>
                                <span *ngIf="f['url']?.hasError('pattern')">Please enter valid Article url</span>
                            </mat-error>
                        </mat-form-field>
                    </div>   
                    <div class="d-flex align-items-center justify-content-between">
                        <button type="button" mat-stroked-button class="btn-main-outline" (click)="clearMediaForm(formDirective)">Cancel</button>
                        <button type="submit" mat-stroked-button class="btn-main">{{submitBtnTxt}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card form-card">
            <div class="card-header">
                <span>Media Coverage List</span>
            </div>
            <div class="card-body">
                <table mat-table [dataSource]="dataSource" class="dashboard-table">
                    <ng-container matColumnDef="srno">
                        <th mat-header-cell *matHeaderCellDef class="srno"> Sr. No. </th>
                        <td mat-cell *matCellDef="let element; let i = index" class="srno"> {{((currentPage + 1) * 10 + i + 1)-10}} </td>
                    </ng-container>            
                    <ng-container matColumnDef="article_Title">
                        <th mat-header-cell *matHeaderCellDef> Article Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.article_Title}} </td>
                    </ng-container>
                    <ng-container matColumnDef="source">
                        <th mat-header-cell *matHeaderCellDef> Article Source </th>
                        <td mat-cell *matCellDef="let element"> {{element.source}} </td>
                    </ng-container>
                    <ng-container matColumnDef="url">
                        <th mat-header-cell *matHeaderCellDef> Article URL </th>
                        <td mat-cell *matCellDef="let element"> 
                            <a href="{{element.url}}" target="_blank">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.action}}
                            <button mat-icon-button class="text-warning" (click)="editMediaRecord(element)">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>
                            <button mat-icon-button class="text-danger" (click)="deleteMediaRecord(element)">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>
                        </td>
                    </ng-container>
                    <tr class="mat-row p-2 w-100" *matNoDataRow col>
                        <td class="alert alert-danger text-center m-2 mt-2" colspan="9">No data found </td>
                      </tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <ng-container *ngIf="totalCount > 10">
                    <mat-paginator [length]="totalCount" [pageSize]="10" [pageIndex]="currentPage" showFirstLastButtons
                        (page)="onClickPaginatior($event)" aria-label="Select page of GitHub search results"></mat-paginator>
                </ng-container>
            </div>
        </div>
    </div>
</div>