<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>WhizTeens</h1>
                <!-- <h3>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </h3> -->
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row py-4">
            <div class="col-sm-12 mb-4">
                <h4 class="d-flex">
                    <div class="flex-shrink-0">
                        <i class="fa-solid fa-circle text-main me-3"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        India’s 1st Multi-leveled Teenager Program is exclusively curated to inspire
                        teenagers to combat
                        online attacks and pave a career pathway in Cyber Security Industry.
                    </div>
                </h4>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">WhizTeens Program</h2>
                <p class="fw-normal">Teenagers across the country will have the opportunity to crack codes, fix security
                    flaws and examine
                    the trails left behind by cybercriminals as part of a new learning experience they can take part in
                    from home.
                </p>
                <div class="row gx-3 courses">
                    <div class="col-sm-4 mb-3" *ngFor="let whizteen of whizteenArray">
                        <div class="card h-100">
                            <img src="{{whizteen.imagePath}}" alt="Product" class="card-img-top">
                            <div class="card-body px-0">
                                <h5 class="course-name">
                                    {{whizteen.course_Title}} 
                                </h5>
                                <p class="course-type fw-bold">
                                    {{whizteen.course_Caption}}
                                </p>
                                <p class="duration">
                                    {{whizteen.course_Description}}
                                </p>
                                <h6 class="duration-label">
                                    Duration:
                                </h6>
                                <p class="duration">
                                    {{whizteen.duration}}
                                </p>
                                <h6 class="duration-label">
                                    Syllabus :
                                </h6>
                                <div class="duration">
                                    {{whizteen.syllabus_Summary}} 
                                </div>

                            </div>
                            <div class="card-footer p-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="duration-label">Price:</h6>
                                        <h6 class="price">Rs.  {{whizteen.price}}/- <br> <small>({{whizteen.price_Terms}})</small></h6>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-more" (click)="openDialog(whizteen)">Register
                                            Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-4">
                        <div class="card h-100">
                            <img src="../../../assets/image/home/Product1.png" alt="Product" class="card-img-top">
                            <div class="card-body">
                                <h5 class="course-name">
                                    Cyber Ninja
                                </h5>
                                <p class="course-type fw-bold">
                                    Awareness Program
                                </p>
                                <p class="duration">
                                    This one-day program enables both students and parents to identify Cybercrimes or
                                    threats and also highlights the career opportunities for the students in Cyber
                                    Security.
                                </p>
                                <h6 class="duration-label">
                                    Duration:
                                </h6>
                                <p class="duration">
                                    1 Day; 3 Hour Live program
                                </p>
                                <h6 class="duration-label">
                                    Syllabus :
                                </h6>
                                <div class="duration">
                                    <ul>
                                        <li>Introduction & awareness of Cyber Security</li>
                                        <li>Learn to be safe online</li>
                                        <li>Get to know about career options in Cyber Defense</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="card-footer p-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="duration-label">Price:</h6>
                                        <h6 class="price">Rs. 999/- <br> <small>(inclusive of all taxes)</small></h6>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-more" (click)="openDialog('1')">Register
                                            Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card h-100">
                            <img src="../../../assets/image/home/Product2.png" alt="Product" class="card-img-top">
                            <div class="card-body">
                                <h5 class="course-name">
                                    Cyber Samurai
                                </h5>
                                <p class="course-type fw-bold">
                                    Aptitude Development for Career Pathway
                                </p>
                                <p class="duration">
                                    This course is specially designed to pave student’s career paths. It provides an
                                    understanding of the Linux Operating System, Networking Fundamentals, Hacking,
                                    Information Security, and Cyber Ethics.
                                </p>
                                <h6 class="duration-label">
                                    Duration :
                                </h6>
                                <p class="duration">
                                    1 Month, Teaching Hours: 15, Lab Hours: 15
                                </p>
                                <h6 class="duration-label">
                                    Syllabus :
                                </h6>
                                <div class="duration">
                                    <ul>
                                        <li>Operating System Essentials</li>
                                        <li>Security CIA Triad</li>
                                        <li>Network Foundation </li>
                                        <li>How Hackers Operate</li>
                                        <li>Introduction To Burpsuit </li>
                                        <li>Phishing Basics Of SQL Injection </li>
                                        <li>Introduction To Metasploit</li>
                                        <li>Assessment Report On Career Pathway</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="card-footer p-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="duration-label">Price:</h6>
                                        <h6 class="price">Rs. 8250/- <br> <small>(inclusive of all taxes)</small></h6>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-more" (click)="openDialog(2)">Register
                                            Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card h-100">
                            <img src="../../../assets/image/home/Product3.png" alt="Product" class="card-img-top">
                            <div class="card-body">
                                <h5 class="course-name">
                                    Cyber Guru
                                </h5>
                                <p class="course-type fw-bold">
                                    AI Blended Cyber Defence Course
                                </p>
                                <p class="duration">
                                    Cyber Guru is a complete learning program; after the completion of this course, not
                                    only the students have advanced knowledge of Ethical Hacking, Networking Bug Bounty
                                    Hunting, Digital forensics, etc., but they can also choose a dedicated field in
                                    Cyber Security as per their aptitude and interests.
                                </p>
                                <h6 class="duration-label">
                                    Duration:
                                </h6>
                                <p class="duration">
                                    2 Months Teaching Hours: 25, Lab Hours: 25
                                </p>
                                <h6 class="duration-label">
                                    Syllabus :
                                </h6>
                                <div class="duration">
                                    <ul>
                                        <li>Introduction To Ethical Hacking </li>
                                        <li>Reconnaissance Techniques</li>
                                        <li>Scanning Networks</li>
                                        <li>Enumeration</li>
                                        <li>Networking & Parameter Hacking</li>
                                        <li>Social Engineering </li>
                                        <li>System Hacking Phases</li>
                                        <li>Web Application Hacking</li>
                                        <li>Wireless Hacking</li>
                                        <li>Mobile Platform Hacking</li>
                                        <li>Artificial Intelligence </li>
                                        <li>Cryptography </li>
                                        <li>Program Certification</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="card-footer p-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="duration-label">Price:</h6>
                                        <h6 class="price">Rs. 19999/- <br> <small>(inclusive of all taxes)</small></h6>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-more" (click)="openDialog(3)">Register
                                            Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Exclusive Offer</h2>
                <!-- <p class="about-text">Teenagers across the country will have the opportunity to crack codes, fix
                    security
                    flaws and examine
                    the trails left behind by cybercriminals as part of a new learning experience they can take part in
                    from home.
                </p> -->
                <div class="row gx-5 courses">
                    <div class="col-sm-4" *ngFor="let exclusiveData of whizteenexclusiveArray">
                        <div class="card h-100">
                            <img src="{{exclusiveData.imagePath}}" alt="Product" class="card-img-top">
                            <div class="card-body">
                                <h5 class="course-name">
                                    {{exclusiveData.course_Title}}
                                </h5>
                                <p class="course-type">
                                    {{exclusiveData.course_Caption}}
                                </p>

                                <p class="course-type mb-0">
                                    Combo Total without discount -
                                </p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="price">Rs. {{exclusiveData.price}}/-</h6>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-more" (click)="openDialog(exclusiveData)">
                                            Register Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-4">
                        <div class="card h-100">
                            <img src="../../../assets/image/home/Product1.png" alt="Product" class="card-img-top">
                            <div class="card-body">
                                <h5 class="course-name">
                                    Combo Course Pack
                                </h5>
                                <p class="course-type">
                                    Includes all three programs - Ninja, Samurai & Guru - at the price of
                                </p>

                                <p class="course-type mb-0">
                                    Combo Total without discount -
                                </p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="price">Rs. 28250/-</h6>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-more" (click)="openDialog(3)">
                                            Register Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card h-100">
                            <img src="../../../assets/image/home/Product2.png" alt="Product" class="card-img-top">
                            <div class="card-body">
                                <h5 class="course-name">
                                    Career Pathway Pack
                                </h5>
                                <p class="course-type">
                                    Includes all three programs along with an exclusive Internship project with WhizHack
                                    at the price of
                                </p>

                                <p class="course-type mb-0">
                                    Combo + Internship without discount - 
                                </p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="price">Rs. 39250/-</h6>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-more" (click)="openDialog(3)">
                                            Register Now
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="duration-label mb-0"></div>
                                    <div class="price px-2"></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Why Choose WhizHack?</h2>
                <p class="about-text">WhizHack has forged knowledge partnerships with none other than IIT, and domain
                    experts from Israel and United States. This is in line with our mission to provide excellence and
                    capacity building for future cyber defenders. Our vision is to foster an active cyber defence
                    culture. </p>
                <p class="about-text">In just a short span of fewer than two years, we have had incredible success with
                    strategic verticals like defence, power, financial institutions, government, and SMEs.</p>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <h5>OFFICIAL TISC IIT CERTIFICATION</h5>
                            <p>Yes, you will be a certified ethical hacker from TISC IIT Jodhpur.</p>
                        </div>
                        <img src="assets/image/training/Official-TISC.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose justify-content-end">
            <div class="col-sm-7">
                <div class="card card-body right-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <img src="assets/image/training/Interactive-Live-Classes.svg">
                        <div class="text-end">
                            <h5>INTERACTIVE LIVE CLASSES</h5>
                            <p>We offer an interactive experience to learn ethical hacking with elaborate doubt-clearing
                                sessions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <h5>VIRTUAL LAB</h5>
                            <p>Virtual lab for a practical, application-based learning experience.</p>
                        </div>
                        <img src="assets/image/training/Virtual-Lab.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose justify-content-end">
            <div class="col-sm-7">
                <div class="card card-body right-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <img src="assets/image/training/Hacker-Community.svg">
                        <div class="text-end">
                            <h5>HACKER COMMUNITY</h5>
                            <p>WhizHackers is a growing community of ethical hackers, peers and mentors who are
                                strengthening the ecosystem by the day.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left me-5">
                            <h5>GAMIFIED LEARNING</h5>
                            <p>Our modules deliver gamified learning driven by curiosity, with a choice of
                                industry-specific projects and help build real skills for a global career pathway.
                            </p>
                        </div>
                        <img src="assets/image/training/Gamified-Learning.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-5">Trainers</h2>
            </div>
        </div>
        <div class="row g-5 products">
            <div class="col-sm-6">
                <div class="card card-body ">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0">
                            <img src="assets/image/members-user.png" alt="...">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6>Anubhav Choudhary</h6>
                            <small>Cyber Security Expert</small>
                        </div>
                    </div>
                    <p>
                        Anubhav Choudhary is a cyber security expert with an experience of 3+ years in the field. He has
                        trained more than 2500 professionals in the last few years as an Info-Sec Trainer.
                    </p>
                    <p>He has trained members of the Indian Army and BSF in the field of cybersecurity.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-body">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0">
                            <img src="assets/image/members-user.png" alt="...">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6>Deblina</h6>
                            <small>Lorem Ipsum</small>
                        </div>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="mb-4">TESTIMONIALS</h3>
                <h5>Recent Feedback</h5>
                <p class="w-50 fw-normal">Trusted by more than 700 people</p>
                <div class="position-relative">
                    <button class="carousel-control-prev" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-8">
                <div id="TestimonialCarousel" class="carousel slide testimonal" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>Vansh Parekh</h6>
                                            </div>
                                        </div>
                                        <p>
                                            It was a very skilful, creative and fun learning experience and would
                                            recommend it to my fellow mates. I want to thank Anubhav sir for being the
                                            helping hand throughout the time.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>Rajput G</h6>
                                            </div>
                                        </div>
                                        <p>
                                            I must say that I gained a lot of valuable information from this course and
                                            wondering to enrol in advanced courses like OSCP, CHIF in the future. I
                                            suggest you give it a try too and surely you will not regret it.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>Sukhmandeep Singh</h6>
                                            </div>
                                        </div>
                                        <p>
                                            It was an amazing experience to learn new things in this course. It was a
                                            good time to learn a lot of information about cyber security. The doubts
                                            were solved in minutes by the teacher. l really liked this course and will
                                            continue it for sure.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Frequently Asked Questions</h2>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa-solid fa-circle"></i>What is Ethical Hacking?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Ethical hacking is an authorized practice of detecting vulnerabilities in an
                                    application, system, or organization’s infrastructure and bypassing system security
                                    to identify potential data breaches and threats in a network.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa-solid fa-circle"></i>What does an Ethical Hacker do?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Ethical hackers aim to investigate the system or network for weak points that malicious
                                hackers can exploit or destroy. They can then improve the security footprint to
                                withstand attacks better or divert them.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa-solid fa-circle"></i>Is Ethical Hacking a good career option?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Ethical hacking is a good career option across the globe due to the rapid rise in
                                    cyber attacks. Attackers are inflicting damage on physical infrastructure
                                    by infiltrating the digital systems that control physical processes, damaging
                                    specialized equipment and disrupting vital services.</p>
                                <p>Organisations now more than ever are looking for certified and trained ethical
                                    hackers that could effectively manage critical tasks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="fa-solid fa-circle"></i>What is the average salary of an Ethical Hacker?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Salary of an ethical hacker can go up to INR 40 lakh per annum depending on their
                                    experience, skills, and various other factors.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>