<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>ENERGY PROFESSIONALS</h1>
                <!-- <h3>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </h3> -->
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row py-4">
            <div class="col-sm-12 mb-4">
                <h4 class="d-flex">
                    <div class="flex-shrink-0">
                        <i class="fa-solid fa-circle text-main me-3"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        India’s First Experiential Post Graduate Diploma in Cyber Security (PGDCS) Program for Core
                    Engineers
                    in partnership with NPTI (National Power Training Institute).
                    </div>
                </h4>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">
                    Post Graduate Diploma in Cyber Security (PGDCS) Program
                </h2>
                <p class="about-text">
                    Whizhack Technologies, in partnership with NPTI (National Power Training Institute), has launched
                    India’s 1st Experiential Training Program that combines advanced concepts and techniques on cyber
                    defence, hands-on personalised virtual labs and internships with the power sector.
                </p>
                <h2 class="mb-4">
                    Who should choose this course?
                </h2>
                <p class="about-text">
                    The course is ideal for Electrical, Electronics, and Mechanical fresh engineers joining fast-track
                    careers or experienced engineers attempting to shift to Cyber Security Industry– one of the
                    highest-growth global industries with a 0% unemployment rate.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-5">Trainers</h2>
            </div>
        </div>
        <div class="row g-5 products">
            <div class="col-sm-6">
                <div class="card card-body ">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/image/members-user.png" alt="...">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="">Anubhav Choudhary</h6>
                            <small>Cyber Security Expert</small>
                        </div>
                    </div>
                    <p>
                        Anubhav Choudhary is a cyber security expert with an experience of 3+ years in the field. He has trained more than 2500 professionals in the last few years as an Info-Sec Trainer. 
                    </p>
                    <p>He has trained members of the Indian Army and BSF in the field of cybersecurity.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-body">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/image/members-user.png" alt="...">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6>Deblina</h6>
                            <small>Lorem Ipsum</small>
                        </div>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="mb-4">TESTIMONIALS</h3>
                <h5>Recent Feedback</h5>
                <p class="w-50 fw-normal">Trusted by more than 700 people</p>
                <div class="position-relative">
                    <button class="carousel-control-prev" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-8">
                <div id="TestimonialCarousel" class="carousel slide testimonal" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Frequently Asked Questions</h2>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa-solid fa-circle"></i>What is Ethical Hacking?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Ethical hacking is an authorized practice of detecting vulnerabilities in an
                                    application, system, or organization’s infrastructure and bypassing system security
                                    to identify potential data breaches and threats in a network.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa-solid fa-circle"></i>What does an Ethical Hacker do?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Ethical hackers aim to investigate the system or network for weak points that malicious
                                hackers can exploit or destroy. They can then improve the security footprint to
                                withstand attacks better or divert them.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa-solid fa-circle"></i>Is Ethical Hacking a good career option?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Ethical hacking is a good career option across the globe due to the rapid rise in
                                    cyber attacks. Attackers are inflicting damage on physical infrastructure
                                    by infiltrating the digital systems that control physical processes, damaging
                                    specialized equipment and disrupting vital services.</p>
                                <p>Organisations now more than ever are looking for certified and trained ethical
                                    hackers that could effectively manage critical tasks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="fa-solid fa-circle"></i>What is the average salary of an Ethical Hacker?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Salary of an ethical hacker can go up to INR 40 lakh per annum depending on their
                                    experience, skills, and various other factors.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>