<div class="row">
    <div class="col-sm-4">
        <div class="card form-card">
            <div class="card-header">Course Manage</div>
            <form [formGroup]="courseManageForm" #clear="ngForm">
                <div class="card-body">
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label> Select Page Name</mat-label>
                            <mat-select formControlName="pageName">
                                <mat-option *ngFor="let ele of pageNameArray" [value]="ele.pageName">{{ele.pageName}}
                                </mat-option>
                            </mat-select>
                            <mat-error class="mt-2" *ngIf="formControls['pageName'].hasError('required')">
                                Page Name is Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Course Title</mat-label>
                            <input matInput placeholder="Enter Course Title" formControlName="course_Title"
                                (keypress)="vadations.noFirstSpaceAllow($event)">
                            <mat-error class="mt-2" *ngIf="formControls['course_Title'].hasError('required')">
                                Course Title is Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Course Caption</mat-label>
                            <input matInput placeholder="Enter Course Caption" formControlName="course_Caption"
                                (keypress)="vadations.noFirstSpaceAllow($event)">
                            <mat-error class="mt-2" *ngIf="formControls['course_Caption'].hasError('required')">
                                Course Caption is Required
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="mb-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Course Duration</mat-label>
                            <input matInput placeholder="Enter Course Duration" formControlName="duration"
                                (keypress)="vadations.noFirstSpaceAllow($event);vadations.alphaNumericWithSpacesWithSomeSpecChars($event)">
                            <mat-error class="mt-2" *ngIf="formControls['duration'].hasError('required')">
                                Course Duration is Required
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="mb-1">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Course Description</mat-label>
                            <textarea matInput placeholder="Enter Course Description" rows="4"
                                formControlName="course_Description"
                                (keypress)="vadations.noFirstSpaceAllow($event)"></textarea>
                            <mat-error *ngIf="formControls['course_Description'].hasError('required')">
                                Course Description is Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-1">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <input type="file" id="real-file" (change)="fileUpload($event)" hidden="hidden"
                                    #uploadDocument />
                                <button type="button" id="fileupload-button" (click)="uploadDocument.click()">Upload
                                    Course Image</button>
                                <ng-container *ngIf="imgFlag && !courseManageForm.value.imagePath">
                                    <p class="text-danger" style="font-size: 13px;">Please Upload Image!</p>
                                </ng-container>
                            </div>
                            <div *ngIf="imgSrc">
                                <button type="button" mat-icon-button class="bg-primary bg-opacity-10 text-primary me-2"
                                    (click)="onClickViewImage()">
                                    <span class="material-symbols-outlined">
                                        description
                                    </span>
                                </button>
                                <button type="button" mat-icon-button class="bg-danger bg-opacity-10 text-danger"
                                    (click)="deleteImage()">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </button>
                            </div>
                        </div>
                        <small> (Note: Allowed only png, jpg, jpeg, hevc, jfif image)</small>

                    </div>
                    <div class="mb-1">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Syllabus Summary</mat-label>
                            <textarea matInput placeholder="Enter Syllabus Summary" rows="4"
                                formControlName="syllabus_Summary"
                                (keypress)="vadations.noFirstSpaceAllow($event)"></textarea>
                            <mat-error *ngIf="formControls['syllabus_Summary'].hasError('required')">
                                Syllabus Summary is Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-checkbox [checked]="offer" class="example-margin" (change)="setOffer($event)">Exclusive
                            Offer?</mat-checkbox>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Price</mat-label>
                            <input matInput placeholder="Enter Price" formControlName="price"
                                (keypress)="vadations.onlydigitsWithDec($event)">
                            <mat-error class="mt-2" *ngIf="formControls['price'].hasError('required')">
                                Price is Required
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="mb-3" *ngIf="offer">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Discount Price</mat-label>
                            <input matInput placeholder="Enter Discount Price" formControlName="actual_price"
                                (keypress)="vadations.onlydigitsWithDec($event)">
                            <mat-error class="mt-2" *ngIf="formControls['actual_price'].hasError('required')">
                                Discount Price is Required
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Price Terms</mat-label>
                            <input matInput placeholder="Enter Terms" formControlName="price_Terms"
                                (keypress)="vadations.noFirstSpaceAllow($event)">
                            <mat-error class="mt-2" *ngIf="formControls['price_Terms'].hasError('required')">
                                Price Terms is Required
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <button type="button" mat-stroked-button class="btn-main-outline"
                            (click)="clearForm(clear)">Cancel</button>
                        <button type="submit" mat-stroked-button (click)="onClickSubmit(clear)"
                            class="btn-main">{{editFlag ? 'Update':'Submit'}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card form-card">
            <div class="card-header">Course List</div>
            <div class="row justify-content-end">
                <div class="col-4 text-end">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Search By Course Title</mat-label>
                        <input matInput placeholder="Enter Course Title" [formControl]="searchFilter" maxlength="20"
                            (keypress)="vadations.noFirstSpaceAllow($event)">

                        <button mat-icon-button matSuffix *ngIf="searchFilter.value" matTooltip="close"
                            aria-label="tooltip" (click)="clearSearchFilter()">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>
                    </mat-form-field>

                </div>
            </div>
            <div class="card-body">
                <table mat-table [dataSource]="dataSource" class="dashboard-table" matSort>
                    <ng-container matColumnDef="srno">
                        <th mat-header-cell *matHeaderCellDef class="srno"> Sr. No. </th>
                        <td mat-cell *matCellDef="let element" class="srno"> {{element.srNo}} </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef class="srno">Img</th>
                        <td mat-cell *matCellDef="let element" class="srno">
                            <img [src]="element.imagePath" class="table-img">
                        </td>
                    </ng-container> -->
                    <ng-container matColumnDef="course_Title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Title </th>
                        <td mat-cell *matCellDef="let element" class="text-break"> {{element.course_Title | titlecase}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="duration">
                        <th mat-header-cell *matHeaderCellDef> Course Duration </th>
                        <td mat-cell *matCellDef="let element" class="text-break"> {{element.duration}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.price | currency:"INR"}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex align-items-center justify-content-between">
                                <button mat-icon-button (click)="openDialog(element)" matTooltip="View">
                                    <span class="material-symbols-outlined">
                                        visibility
                                    </span>
                                </button>
                                <button type="button" mat-icon-button class="text-warning" (click)="editCourse(element)"
                                    matTooltip="Edit">
                                    <span class="material-symbols-outlined">
                                        edit
                                    </span>
                                </button>
                                <button type="button" mat-icon-button class="text-danger" matTooltip="Delete"
                                    (click)="openDeleteDialog(element.courseId)">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </button>
                            </div>

                        </td>
                    </ng-container>
                    <tr class="mat-row p-2 w-100" *matNoDataRow col>
                        <td class="alert alert-danger text-center m-2 mt-2" colspan="8">
                            No Data Found </td>
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [ngClass]="{'highlightedRow':selRow == row.courseId}"></tr>
                </table>


            </div>
            <ng-container *ngIf="totalCount > 10">
                <mat-paginator [length]="totalCount" [pageSize]="10" [pageIndex]="currentPage" showFirstLastButtons
                    (page)="pageChanged($event)" aria-label="Select page of GitHub search results"></mat-paginator>
            </ng-container>
        </div>
    </div>
</div>