<div class="row">
    <div class="col-sm-4">
        <div class="card form-card">
            <div class="card-header">Course Manage</div>
            <form [formGroup]="manageCoForm">
                <div class="card-body">
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Page Name</mat-label>
                            <mat-select formControlName="pageName">
                                <mat-option value="option">WhizTeens</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Course Title</mat-label>
                            <input matInput placeholder="Course Title" formControlName="coTitle">
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Course Caption</mat-label>
                            <input matInput placeholder="Course Caption" formControlName="coCaption">
                        </mat-form-field>
                    </div>
                    <div class="mb-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Course Duration</mat-label>
                            <input matInput placeholder="Course Duration" formControlName="coDuration">
                        </mat-form-field>
                    </div>
                    <div class="mb-1">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Course Description</mat-label>
                            <textarea matInput placeholder="Course Description" rows="4" formControlName="coDescription"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="mb-1">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <input type="file" id="real-file" (change)="fileUpload($event)" hidden="hidden" #uploadDocument/>
                                <button type="button" id="fileupload-button" (click)="uploadDocument.click()">Upload Course Image</button>
                            </div>
                            <div>
                                <button mat-icon-button class="bg-primary bg-opacity-10 text-primary me-2" (click)="onClickView()">
                                    <span class="material-symbols-outlined">
                                        description
                                    </span>
                                </button>
                                <button mat-icon-button class="bg-danger bg-opacity-10 text-danger">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Syllabus Summary</mat-label>
                            <textarea matInput placeholder="Syllabus Summary" rows="4" formControlName="syllSummary"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Price</mat-label>
                            <input matInput placeholder="Price" formControlName="price">
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Price Terms</mat-label>
                            <input matInput placeholder="Terms" formControlName="priceTerms">
                        </mat-form-field>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <button mat-stroked-button class="btn-main-outline">Cancel</button>
                        <button type="button" mat-stroked-button (click)="onClickSubmit()" class="btn-main">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card form-card">
            <div class="card-header">Course List</div>
            <div class="card-body">
                <table mat-table [dataSource]="dataSource" class="dashboard-table">
                    <ng-container matColumnDef="srno">
                        <th mat-header-cell *matHeaderCellDef class="srno"> Sr. No. </th>
                        <td mat-cell *matCellDef="let element" class="srno"> {{element.srno}} </td>
                    </ng-container>
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef class="srno"></th>
                        <td mat-cell *matCellDef="let element" class="srno"> 
                            <img src="assets/image/home/Product1.png" class="table-img">
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Course Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                    <ng-container matColumnDef="duration">
                        <th mat-header-cell *matHeaderCellDef> Course Duration </th>
                        <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element"> 
                            <button mat-icon-button (click)="openDialog()">
                                <span class="material-symbols-outlined">
                                    visibility
                                </span>
                            </button>
                            <button mat-icon-button class="text-warning">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>
                            <button mat-icon-button class="text-danger">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>    
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>