<div class="">
    <img src="../../../assets/image/Comman-Banner.png" class="card-img w-100">
    <div class="card-img-overlay">
        <div class="container">
            <h2 class="card-title text-white">SERVICES</h2>
            <p class="card-text text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 offset-sm-1">
            <div class="card">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen
                        class="w-10"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!---------Services-------------->

    <div class="">
        <h2 class="text-white">Services</h2>
        <div class="row">
            <div class="col-sm-7">
                <h4 class="text-white">
                    <i class="fa-solid fa-square text-warning"></i>
                    <span> OT Security </span>
                </h4>
                <p class="text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                </p>
                <div class="">
                    <button class="btn btn-outline-warning"> View More</button>
                </div>
            </div>
            <div class="col-sm-5">
                <img src="../../../assets/image/Services/OT-Security.png" class="w-100">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <img src="../../../assets/image/Services/Compliance-Audit.png" class="w-100">
            </div>
            <div class="col-sm-7">
                <h4 class="text-white">
                    <i class="fa-solid fa-square text-warning"></i>
                    <span> Compliance & Audit Services </span>
                </h4>
                <p class="text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                </p>
                <div class="">
                    <button class="btn btn-outline-warning"> View More</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <h4 class="text-white">
                    <i class="fa-solid fa-square text-warning"></i>
                    <span>Risk Advisory & Consulting Services</span>
                </h4>
                <p class="text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                </p>
                <div class="">
                    <button class="btn btn-outline-warning"> View More</button>
                </div>
            </div>
            <div class="col-sm-5">
                <img src="../../../assets/image/Services/RiskAdvisory-Consulting.png" class="w-100">
            </div>
        </div>
    </div>

    <!---------Process-------------->

    <div class="">
        <h2 class="text-white">Process</h2>
        <div class="row">
            <div class="col-sm-5">
                <div class="accordion accordion-flush" id="accordion-Process">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#Ethical-Hacking" aria-expanded="false"
                                aria-controls="Ethical-Hacking">
                                <span> Ethical Hacking </span>
                            </button>
                        </h2>
                        <div id="Ethical-Hacking" class="accordion-collapse collapse"
                            aria-labelledby="Ethical-Hacking" data-bs-parent="#accordion-Process">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#Growth-Hacking" aria-expanded="false"
                                aria-controls="Growth-Hacking">
                                <span>Growth Hacking</span>
                            </button>
                        </h2>
                        <div id="Growth-Hacking" class="accordion-collapse collapse"
                            aria-labelledby="Growth-Hacking" data-bs-parent="#accordion-Process">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#Cyber-Security" aria-expanded="false"
                                aria-controls="Cyber-Security">
                                <span> Cyber Security</span>
                            </button>
                        </h2>
                        <div id="Cyber-Security" class="accordion-collapse collapse"
                            aria-labelledby="Cyber-Security" data-bs-parent="#accordion-Process">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#Maintaining-Access" aria-expanded="false"
                                aria-controls="Maintaining-Access">
                                <span> Maintaining Access </span>
                            </button>
                        </h2>
                        <div id="Maintaining-Access" class="accordion-collapse collapse"
                            aria-labelledby="Maintaining-Access" data-bs-parent="#accordion-Process">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <img src="../../../assets/image/Services/Chart.png" class="w-100">
            </div>
        </div>
    </div>

    <!---------Clients-------------->

    <div class="">
        <h2 class="text-white">Clients</h2>
        <div class="row align-items-center">
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
        </div>
    </div>
</div>