<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>services</h1>
                <!-- <h3>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </h3> -->
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="ratio ratio-16x9">
                    <iframe width="949" height="534" src="https://www.youtube.com/embed/COLhMb88AYs" title="Services"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row mb-4">
            <div class="col-sm-12">
                <p class="about-text">Individuals and organisations alike are prone to cyber-attacks today. Cyber-crime
                    is a worldwide phenomenon that causes financial, psychological and social strains every day. A
                    hacker can cause severe digital damage to the devices and software we use.</p>
                <p class="about-text">The new developments in technology make it hard to keep track of your company’s
                    vulnerabilities and securing them.</p>
                <p class="about-text">At Whizhack we strive to keep you clean as a whistle. Our security experts will
                    evaluate the defensive capability of your business against the latest techniques used by malicious
                    actors.</p>
            </div>
        </div>
        <div class="row g-5" id="service-text">
            <div class="col-sm-6">
                <div class="card card-body h-100">
                    Our experts will perform a series of meticulous real- world attacks and will make recommendations on
                    how to improve your infrastructure’s resilience.
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-body h-100">
                    Work side-by-side with your response team to detect, react and mitigate your security
                    vulnerabilities
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-body h-100">
                    Help you to experience, assess, and remediate in advance a cyber-attack in a controlled/live
                    environment.
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-body h-100">
                    Identify and protect your most critical assets and vulnerabilities at every level of your asset’s
                    hierarchy.
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-body h-100">
                    Reduce your response time to potential security events and service interruptions.
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <h2 class="mb-4">Services</h2>
        <div class="row mb-5 gx-5 justify-content-between">
            <div class="col-sm-6">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <i class="fa-solid fa-square text-main"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h4>OT Security</h4>
                        <p>
                            This is a proactive measure, to secure computing systems and networks so that
                            they are not vulnerable to attack in the first place. Our services will include:
                        </p>
                        <ul class="two-column-list">
                            <li>Application Testing.</li>
                            <li>Vulnerability Assessment.</li>
                            <li>Penetration Testing.</li>
                            <li>Red Teaming- External & Internal Network.</li>
                            <li>Resilience Testing with Attack Simulation.</li>
                            <li>Web Application Testing.</li>
                            <li>Cloud Security Posture Assessment.</li>
                            <li>OS Hardening.</li>
                            <li>Wireless Network Testing.</li>
                            <li>Mobile Application Testing.</li>
                            <li>Social Engineering assessment</li>
                            <li>Custom Testing.</li>
                            <li>
                                IOT Security assessment. –
                                <ul>
                                    <li>IoT architecture and design review</li>
                                    <li>Security analysis of devices</li>
                                    <li>Firmware reverse engineering and binary exploitation</li>
                                    <li>Connected interface security analysis</li>
                                    <li>IoT platform security analysis</li>
                                    <li>IoT mobile and cloud application security analysis.</li>
                                </ul>
                            </li>
                        </ul>
                        <a class="text-main" routerLink="">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <img src="../../../assets/image/Services/OT-Security.png" class="w-100">
            </div>
        </div>

        <div class="row mb-5 gx-5 justify-content-between">
            <div class="col-sm-5">
                <img src="../../../assets/image/Services/Compliance-Audit.png" class="w-100">
            </div>
            <div class="col-sm-6">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <i class="fa-solid fa-square text-main"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h4>Compliance & Audit Services</h4>
                        <p>
                            Our services ensure the compliance of the Business and Security proceedings with National and International Cyber laws through regular audits.
                        </p>
                        <ul class="two-column-list">
                            <li>ISO27001 / 27002</li>
                            <li>PCI DSS</li>
                            <li>SOX</li>
                            <li>HIPAA</li>
                            <li>CERT-IN</li>
                            <li>CERT-IN</li>
                            <li>GLBA</li>
                            <li>FISMA</li>
                            <li>NIST</li>
                            <li>COBIT</li>
                            <li>SAS7</li>
                            <li>Open-Source compliance.</li>
                            <li>
                                India Specific –
                                <ul>
                                    <li>SAR- (RBI mandated compliance for data security & localization for payment-related data storage.)</li>
                                    <li>CERT-IN Security Audit Certifications for Infrastructure.</li>
                                    <li>UIDAI Compliance Security Audit.</li>
                                    <li>RBI Guidelines Security Audit for NBFC Sector.</li>
                                    <li>SEBI Cyber Security Framework.</li>
                                    <li>BI Guidelines for payment industry.</li>
                                </ul>
                            </li>
                        </ul>
                        <a class="text-main" routerLink="">View More</a>
                    </div>
                </div>


            </div>
        </div>

        <div class="row mb-5 gx-5 justify-content-between">
            <div class="col-sm-6">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <i class="fa-solid fa-square text-main"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h4>Risk Advisory & Consulting Services</h4>
                        <p>
                            These services understanding customer operations and business models, and an accelerating regulatory agenda and help overcome digital risks associated with the Business providing solutions through regular consulting
                        </p>
                        <ul class="two-column-list">
                            <li>Virtual CISO</li>
                            <li>Data Protection & Privacy</li>
                            <li>Cyber Policy Review</li>
                            <li>Cyber Risk Assessment & Monitoring.</li>
                            <li>Dark Web Monitoring.</li>
                            <li>Digital Risk Protection.</li>
                            <li>Control & Compliance assessment.</li>
                            <li>Incident Response – Remote & Onsite.</li>
                            <li>Digital Forensics.</li>
                        </ul>
                        <a class="text-main" routerLink="">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <img src="../../../assets/image/Services/RiskAdvisory-Consulting.png" class="w-100">
            </div>
        </div>
    </div>
</section>
<section id="testing-categories">
    <div class="container">
        <h2 class="mb-4">Penetration Testing Service Categories</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="card card-body h-100">
                    <img src="assets/image/Services/black-box-testing.png">
                    <h5>Black Box Test</h5>
                    <p>Penetrating the system with limited access and information, simulating an attack as a site user or a collaborator of the company.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-body h-100">
                    <img src="assets/image/Services/Gray-box-testing.png">
                    <h5>Grey Box Test</h5>
                    <p>Penetrating the system from the outside with a limited amount of information on the organization and its information system. Simulation of an attack as a site user or a collaborator of the company.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-body h-100">
                    <img src="assets/image/Services/white-box-testing.png">
                    <h5>White Box Test</h5>
                    <p>The penetration tester has all the information about the system, including the source code. He works and collaborates with the organization's technical team in order to detect as many vulnerabilities as possible.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="process">
    <div class="container">
        <h2 class="mb-4">Process</h2>
        <div class="row">
            <div class="col-sm-5">
                <div class="accordion accordion-flush" id="accordion-Process">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#Ethical-Hacking" aria-expanded="true" aria-controls="Ethical-Hacking">
                                <span>1</span>Ethical Hacking
                            </button>
                        </h2>
                        <div id="Ethical-Hacking" class="accordion-collapse collapse show"
                            aria-labelledby="Ethical-Hacking" data-bs-parent="#accordion-Process">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#Growth-Hacking" aria-expanded="false" aria-controls="Growth-Hacking">
                                <span>2</span>Growth Hacking
                            </button>
                        </h2>
                        <div id="Growth-Hacking" class="accordion-collapse collapse" aria-labelledby="Growth-Hacking"
                            data-bs-parent="#accordion-Process">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#Cyber-Security" aria-expanded="false" aria-controls="Cyber-Security">
                                <span>3</span>Cyber Security
                            </button>
                        </h2>
                        <div id="Cyber-Security" class="accordion-collapse collapse" aria-labelledby="Cyber-Security"
                            data-bs-parent="#accordion-Process">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#Maintaining-Access" aria-expanded="false"
                                aria-controls="Maintaining-Access">
                                <span>4</span>Maintaining Access
                            </button>
                        </h2>
                        <div id="Maintaining-Access" class="accordion-collapse collapse"
                            aria-labelledby="Maintaining-Access" data-bs-parent="#accordion-Process">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="card card-body">
                    <img src="../../../assets/image/Services/Chart.png" class="w-100">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section>
    <div class="container">
        <h2 class="mb-4">Clients</h2>
        <div class="row align-items-center mb-4">
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
        </div>
    </div>
</section> -->