<div class="">
    <img src="../../../assets/image/Comman-Banner.png" class="card-img w-100">
    <div class="card-img-overlay">
        <div class="container">
            <h2 class="card-title text-white">SERVICES</h2>
            <p class="card-text text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 offset-sm-1">
            <div class="card">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen
                        class="w-10"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!---------Services-------------->

    <div class="">
        <h2 class="text-white">Services</h2>
        <div class="row">
            <div class="col-sm-7">
                <h4 class="text-white">
                    OT Security
                </h4>
                <p class="text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                </p>
                <div class="">
                    <button class="btn btn-outline-warning"> View More</button>
                </div>
            </div>
            <div class="col-sm-5">
                <img src="../../../assets/image/Services/OT-Security.png" class="w-100">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <img src="../../../assets/image/Services/Compliance-Audit.png" class="w-100">
            </div>
            <div class="col-sm-7">
                <h4 class="text-white">
                    Compliance & Audit Services
                </h4>
                <p class="text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                </p>
                <div class="">
                    <button class="btn btn-outline-warning"> View More</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <h4 class="text-white">
                    Risk Advisory & Consulting Services
                </h4>
                <p class="text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry.
                </p>
                <div class="">
                    <button class="btn btn-outline-warning"> View More</button>
                </div>
            </div>
            <div class="col-sm-5">
                <img src="../../../assets/image/Services/RiskAdvisory-Consulting.png" class="w-100">
            </div>
        </div>
    </div>

    <!---------Process-------------->

    <div class="">
        <h2 class="text-white">Process</h2>
        <div class="row">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-7">
                <img src="../../../assets/image/Services/Chart.png" class="w-100">
            </div>
        </div>
    </div>

    <!---------Clients-------------->

    <div class="">
        <h2 class="text-white">Clients</h2>
        <div class="row align-items-center">
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
        </div>
    </div>
</div>