section{
    padding-block: 4rem;
    color: #fff;
}
#service-text .card{
    border: solid 1px var(--main-color);
    background-color: transparent;
}
#services h4{
    margin-bottom: 20px;
}
#services p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}
.accordion-item{
    background-color: transparent !important;
    border-bottom: none;
}
.accordion-button{
    background-color: transparent;
    box-shadow: none;
    font-weight: 700;
    color: var(--main-color);
}
.accordion-body{
    padding-left: 53px;
    padding-top: 0;
    color: #fff;
    font-size: 0.9rem;
}
.accordion-button span{
    background-color: var(--main-color);
   border-radius: 50%;
   height: 24px;
   line-height: 24px;
   width: 24px;
    color: #fff;
    text-align: center;
    margin-right: 10px;
}
.accordion-button::after{
    filter:invert(1);
}
#process .card-body{
    background-color: #0B1425;
}
.two-column-list{
    columns: 2;
    font-size: 1rem;
    font-weight: 300;
}
.two-column-list li{
    line-height:1.8rem;
}
#testing-categories .card{
    background-color: #0B1425;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
}
#testing-categories .card img{
    border-radius: 20px;
    margin-bottom:1rem ;
}
#testing-categories .card p{
    margin-bottom: 0;
}