<div class="dialog-header">
    <h5 class="text-main">My Profile</h5>
    <button mat-icon-button mat-dialog-close>
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</div>
<form [formGroup]="profileForm">
    <div class="dialog-body form-container">
        <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter First Name" formControlName="firstName" maxlength="30"
                    (keypress)="validation.noSpaceAllow($event)">
                <mat-error *ngIf="f.firstName.errors" class="mt-2">
                    <span class="text-danger" *ngIf="f.firstName.errors?.required">
                        First Name is Required.</span>
                    <span class="text-danger" *ngIf="f.firstName.errors?.pattern">
                        Please Enter Valid First Name</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter Last Name" formControlName="lastName" maxlength="30"
                    (keypress)="validation.noSpaceAllow($event)">
                <mat-error *ngIf="f.lastName.errors" class="mt-2">
                    <span class="text-danger" *ngIf="f.lastName.errors?.required">
                        Last Name is Required.</span>
                    <span class="text-danger" *ngIf="f.lastName.errors?.pattern">
                        Please Enter Valid Last Name</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email ID</mat-label>
                <input matInput placeholder="Enter Email ID" formControlName="emailId"
                    (keypress)="validation.emailRegex($event)" maxlength="50">
                <mat-error *ngIf="f.emailId.errors" class="mt-2">
                    <span class="text-danger" *ngIf="f.emailId.errors?.required">
                        Email ID is Required.</span>
                    <span class="text-danger" *ngIf="f.emailId.errors?.pattern">
                        Please Enter Valid Email ID</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Mobile No.</mat-label>
                <input matInput placeholder="Enter Mobile No." formControlName="contactNo"
                    (keypress)="validation.acceptedOnlyNumbers($event)" maxlength="10">
                <mat-error *ngIf="f.contactNo.errors" class="mt-2">
                    <span class="text-danger" *ngIf="f.contactNo.errors?.required">
                        Mobile No. is Required.</span>
                    <span class="text-danger" *ngIf="f.contactNo.errors?.pattern">
                        Please Enter Valid Mobile No.</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-between p-3">
        <button type="button" mat-button class="btn-main-outline" (click)="clearForm()">Clear</button>
        <button type="submit" mat-button class="btn-main" (click)="submitForm()">Update Profile</button>
    </div>
</form>