
<ng-container *ngIf="viewData?.pageName != 'Bootcamp '; else elseBlock">
    <div class="dialog-header">
        <span>Enquiry Details</span>
        <button mat-icon-button mat-dialog-close>
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
    </div>
    <div class="dialog-body form-container">
        <div class="row">
            <div class="col-sm-8 border-end">
                <div class="row gy-3">
                    <div class="col-sm-3">
                        <span class="form-label">Name :</span>
                    </div>
                    <div class="col-sm-9">
                        <span class="form-data">Mr. {{viewData?.fullName || '-' | titlecase}}</span>
                    </div>
                    <div class="col-sm-3">
                        <span class="form-label">Email ID :</span>
                    </div>
                    <div class="col-sm-9">
                        <span class="form-data">{{viewData?.email || '-'}}</span>
                    </div>
                    <div class="col-sm-3">
                        <span class="form-label">Contact No. :</span>
                    </div>
                    <div class="col-sm-9">
                        <span class="form-data">{{viewData?.mobileNo || '-'}}</span>
                    </div>
                    <div class="col-sm-3">
                        <span class="form-label">Course :</span>
                    </div>
                    <div class="col-sm-9">
                        <span class="form-data">{{data?.course_Title || '-' }}</span>
                    </div>
                    <div class="col-sm-3">
                        <span class="form-label">Page :</span>
                    </div>
                    <div class="col-sm-9">
                        <span class="form-data">{{viewData?.pageName || '-' | titlecase}}</span>
                    </div>
                    <div class="col-sm-3">
                        <span class="form-label">Message :</span>
                    </div>
                    <div class="col-sm-9">
                        <span class="form-data">
                            {{viewData?.message || '-'}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" *ngFor="let data of this.deviceDataarray">
                <div class="card form-card border border-white">
                    <div class="card-header">Additional Information</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="form-label">IP Address :</div>
                            <div class="form-data">{{address || '-'}}</div>
                        </div>
                        <div class="mb-3">
                            <div class="form-label">Operating System :</div>
                            <div class="form-data">{{data.deviceService.os_version || '-' | titlecase}}</div>
                        </div>
                        <div class="mb-0">
                            <div class="form-label">Browser :</div>
                            <div class="form-data">{{data.deviceService.browser || '-'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex align-items-center justify-content-between p-3">
        <button mat-button mat-dialog-close class="btn-main-outline">Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn-main">OK</button>
    </div>
</ng-container>
<ng-template #elseBlock>
    <div class="dialog-header">
        <span>Bootcamp Enquiry Details</span>
        <button mat-icon-button mat-dialog-close>
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
    </div>
    <div class="dialog-body form-container">
        <div class="row mb-4">
            <div class="col-sm-4">
                <div class="row gy-3">
                    <h4 class="text-main">Personal Information</h4>
                    <div class="col-sm-4">
                        <span class="form-label">Full Name : </span>
                    </div>
                    <div class="col-sm-8">
                        <span class="form-data">{{viewData?.fullName || '-' | titlecase}}</span>
                    </div>   
                    <div class="col-sm-4">
                        <span class="form-label">Email ID :</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="form-data">{{viewData?.email || '-'}}</span>
                    </div>  
                    <div class="col-sm-4">
                        <span class="form-label">Date of Birth :</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="form-data">{{viewData?.date_of_Birth || '-'}}</span>
                    </div>   
                    <div class="col-sm-4">
                        <span class="form-label">Country :</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="form-data">{{viewData?.country || '-'}}</span>
                    </div> 
                    <div class="col-sm-4">
                        <span class="form-label">City :</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="form-data">{{viewData?.city || '-'}}</span>
                    </div>   
                    <div class="col-sm-4">
                        <span class="form-label">Phone Number :</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="form-data">{{viewData?.mobileNo || '-'}}</span>
                    </div>    
                    <div class="col-sm-4">
                        <span class="form-label">Gender :</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="form-data">{{viewData?.gender==2?'female':'male' || '-'}}</span>
                    </div>                
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row gy-3">
                    <h4 class="text-main">Educational Information</h4>
                    <div class="col-sm-5">
                        <span class="form-label">Qualification :</span>
                    </div>
                    <div class="col-sm-7">
                        <span class="form-data">{{viewData?.qualification || '-'}} </span>
                    </div>  
                    <div class="col-sm-5">
                        <span class="form-label">Degree :</span>
                    </div>
                    <div class="col-sm-7">
                        <span class="form-data">{{viewData?.degree || '-'}} </span>
                    </div>  
                    <div class="col-sm-5">
                        <span class="form-label">Institute Name:</span>
                    </div>
                    <div class="col-sm-7">
                        <span class="form-data">{{viewData?.instituteName || '-'}} </span>
                    </div>  
                    <div class="col-sm-5">
                        <span class="form-label">Year of Passing:</span>
                    </div>
                    <div class="col-sm-7">
                        <span class="form-data">{{viewData?.year_of_passing || '-'}} </span>
                    </div>  
                    <div class="col-sm-5">
                        <span class="form-label">Percentage:</span>
                    </div>
                    <div class="col-sm-7">
                        <span class="form-data">{{viewData?.percentage || '-'}}</span>
                    </div>  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row gy-3">
                    <h4 class="text-main">Professional Qualification</h4>
                    <div class="col-sm-7">
                        <span class="form-label">Total Years of Experience :</span>
                    </div>
                    <div class="col-sm">
                        <span class="form-data">{{viewData?.total_Experience || '-'}}</span>
                    </div>  
                </div>
            </div>
        </div>
        <div class="row">
            <h4 class="text-main">Why Join ?</h4>
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Why do you want to join this program?</mat-label>
                <textarea matInput placeholder="Why do you want to join this program?" rows="10" formControlName="Programs">{{viewData?.message}}</textarea>
              </mat-form-field>
        </div>
    </div>
    
    <div class="d-flex align-items-center justify-content-between p-3">
        <button mat-button mat-dialog-close class="btn-main-outline">Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn-main">OK</button>
    </div>
</ng-template>