<div class="dialog-header">
    <span>ID :{{viewData.id}}</span>
    <button mat-icon-button mat-dialog-close>
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</div>
<div class="dialog-body form-container">
    <div class="row">
        <div class="col-sm-8 border-end">
            <div class="row gy-3">
                <div class="col-sm-3">
                    <span class="form-label">Name :</span>
                </div>
                <div class="col-sm-9">
                    <span class="form-data">Mr. {{viewData.fullName || '-'}}</span>
                </div>
                <div class="col-sm-3">
                    <span class="form-label">Email ID :</span>
                </div>
                <div class="col-sm-9">
                    <span class="form-data">{{viewData.email || '-'}}</span>
                </div>
                <div class="col-sm-3">
                    <span class="form-label">Contact No. :</span>
                </div>
                <div class="col-sm-9">
                    <span class="form-data">{{viewData.mobileNo || '-'}}</span>
                </div>
                <div class="col-sm-3">
                    <span class="form-label">Course :</span>
                </div>
                <div class="col-sm-9">
                    <span class="form-data">{{viewData.courseId == 1 ? 'Cyber Ninja' :
                        viewData.courseId == 2 ? 'Cyber Samurai' : 'Cyber Guru'}}</span>
                </div>
                <div class="col-sm-3">
                    <span class="form-label">Page :</span>
                </div>
                <div class="col-sm-9">
                    <span class="form-data">{{viewData.pageName || '-' | titlecase}}</span>
                </div>
                <div class="col-sm-3">
                    <span class="form-label">Message :</span>
                </div>
                <div class="col-sm-9">
                    <span class="form-data">
                        {{viewData.message}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-4" *ngFor="let data of this.deviceDataarray">
            <div class="card form-card border border-white">
                <div class="card-header">Additional Information</div>
                <div class="card-body">
                    <div class="mb-3">
                        <div class="form-label">IP Address :</div>
                        <div class="form-data">{{address}}</div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">Operating System :</div>
                        <div class="form-data">{{data.deviceService.os_version | titlecase}}</div>
                    </div>
                    <div class="mb-0">
                        <div class="form-label">Browser :</div>
                        <div class="form-data">{{data.deviceService.browser}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-between p-3">
    <button mat-button mat-dialog-close class="btn-main-outline">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn-main">OK</button>
</div>