<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>CULTURE & CAREER</h1>
                <h3>
                    Always preparing for the next threat. 
                </h3>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <h2 class="mb-4">Our Culture</h2>
        <div class="row g-5 align-items-center" id="culture">
            <div class="col-sm-6">
                <h1>Eccentric minds hack, innovate, take risks and contribute to chasing seemingly impossible goals.</h1>
            </div>
            <div class="col-sm-6">
                <img src="assets/image/culture-career/Pratnership-Program.png">
            </div>
            <div class="col-sm-6">
                <img src="assets/image/culture-career/Pratnership-Program.png">
            </div>
            <div class="col-sm-6">
                <h1>We have people from all walks of life hacking a few dream ideas of their own every day.</h1>
            </div>
            <div class="col-sm-6">
                <h1>The explorers at WhizHack seek intellectual challenges to creatively overcome the limitations of legacy systems.</h1>
            </div>
            <div class="col-sm-6">
                <img src="assets/image/culture-career/Pratnership-Program.png">
            </div>
            <div class="col-sm-6">
                <img src="assets/image/culture-career/Pratnership-Program.png">
            </div>
            <div class="col-sm-6">
                <h1>Challenging hackathons, Friday socials and a playful environment keep the energy high.</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="mb-4">Our Values</h2>
        <div class="row g-5 align-items-center" id="values">
            <div class="col-sm">
                <div class="card card-body">
                    <img src="assets/image/culture-career/curious.svg">
                    <p>Curious</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body">
                    <img src="assets/image/culture-career/innovative.svg">
                    <p>Innovative</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body">
                    <img src="assets/image/culture-career/collaboration.svg">
                    <p>Collaboration</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body">
                    <img src="assets/image/culture-career/integirty.svg">
                    <p>Integrity</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body">
                    <img src="assets/image/culture-career/all-inclusive.svg">
                    <p>Inclusive</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="mb-4">Our Commitment</h2>
        <div class="row g-5 align-items-center" id="culture">
            <div class="col-sm-12">
                To build a more secure future for India and the world.
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="mb-4">Our Stories</h2>
        <div class="row g-5 align-items-center" id="culture">
            <div class="col-sm-12">
                
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="mb-4">Life at WhizHack</h2>
        <div class="row g-5 align-items-center" id="culture">
            <div class="col-sm-4">
                <img src="assets/image/culture-career/Pratnership-Program.png" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="assets/image/culture-career/Pratnership-Program.png" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="assets/image/culture-career/Pratnership-Program.png" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="assets/image/culture-career/Pratnership-Program.png" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="assets/image/culture-career/Pratnership-Program.png" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="assets/image/culture-career/Pratnership-Program.png" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-white">Careers at WhizHack</h2>
                <div class="text-center py-5">
                    <h4 class="text-white">Head start towards choosing right career</h4>
                    <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,<br>
                        luctus nec ullamcorper mattis, pulvinar dapibus leo.
                    </p>
                </div>
                <div class="row g-4">
                    <div class="col-sm-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="mb-0">Business Development Manager</h5>
                                <p>Pune</p>
                                <div class="text-end">
                                    <button class="btn btn-main" type="button">Apply</button>
                                </div>
                                <!-- <p>
                                    Proactively manage and respond to a high volume of prospective students efficiently.
                                </p>                                 -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="mb-0">Training Lead for Cyber Security</h5>
                                <p>Pune</p>
                                <div class="text-end">
                                    <button class="btn btn-main" type="button">Apply</button>
                                </div>
                                <!-- <p>
                                    Proven experience in consultative sales, consumer sales, and Edtech sales/partnerships.
                                </p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="mb-0">Data Scientist</h5>
                                <p>Pune</p>
                                <div class="text-end">
                                    <button class="btn btn-main" type="button">Apply</button>
                                </div>
                                <!-- <p>
                                    Looking for Data Science Engineer having good familiarity with the AWS platform. The ideal candidate is a self-motivated and demonstrated team player. He/she needs to be an expert in Data Science, modelling data and building algorithms to improve and optimize large data sets.
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <ul class="pagination mb-0">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>