section {
    padding-block: 4rem;
    color: #fff;
}
#jobs .card{
    background-color:var(--card-bg-color);
    color: #fff;
}
#jobs .card p.location{
    margin-bottom: 0;
    color: #aaa;
}
#jobs .card p.description{
    margin-bottom: 0;
    color: #aaa;
    font-size: 0.85rem;
    line-height: 1.6rem;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4;
   -webkit-box-orient: vertical;
}
#jobs .card a{
    font-size: 0.85rem;
}
.pagination .page-link{
    background-color:#0E1526;
    border-radius: 0.375rem;
    margin-right: 5px;
    color: #fff;
    border: none;
    font-size:0.85rem
}
#culture h1{
    font-weight: 300;
}
#culture img{
    width: 100%;
}
#values .card{
    background-color: var(--card-bg-color);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: solid 1px #0B1425;
}
#values .card:hover{
    border: solid 1px var(--main-color);
}
#values .card img{
    width: 80px;
    margin:0 auto;
    margin-bottom:1rem
}
#values .card p{
    margin-bottom:0rem
}

.g-overlay {
    min-width: 320px;
  }
  .image-container{
    position: relative;
    margin-bottom:1rem;
  }
  .image-container img{
    width: 100%;
    height:200px;
    object-fit: cover;
    cursor: pointer;
  }
  .image-container:hover .image-title{
    opacity: 1;
    transition:all 0.6s ease;
    cursor: pointer;
  }
  .image-title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.85);
    font-size: 0.85rem;
    padding: 15px;
    text-align: center;
    opacity: 0;
    height:100%;
    transition:all 0.6s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }