<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>CULTURE & CAREER</h1>
                <h3>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <section>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-white">Career</h2>
                <div class="text-center py-5">
                    <h5 class="text-white">Head start towards choosing right career</h5>
                    <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,<br>
                        luctus nec ullamcorper mattis, pulvinar dapibus leo.
                    </p>
                </div>

                <div class="row g-4">
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <div class="card-header p-0">
                                <h5 class="mb-0">UX Researcher</h5>
                                <p>Pune</p>
                            </div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry.
                            </p>
                            <div class="d-grid">
                                <button class="btn btn-warning" type="button">Apply</button>
                                <a class="nav-link text-center" href="#">See Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <div class="card-header p-0">
                                <h5 class="mb-0">UI UX Designer</h5>
                                <p>Pune</p>
                            </div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry.
                            </p>
                            <div class="d-grid">
                                <button class="btn btn-warning" type="button">Apply</button>
                                <a class="nav-link text-center" href="#">See Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <div class="card-header p-0">
                                <h5 class="mb-0">Sr. UI Designer</h5>
                                <p>Pune</p>
                            </div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry.
                            </p>
                            <div class="d-grid">
                                <button class="btn btn-warning" type="button">Apply</button>
                                <a class="nav-link text-center" href="#">See Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <div class="card-header p-0">
                                <h5 class="mb-0">Graphic Designer</h5>
                                <p>Pune</p>
                            </div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry.
                            </p>
                            <div class="d-grid">
                                <button class="btn btn-warning" type="button">Apply</button>
                                <a class="nav-link text-center" href="#">See Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <div class="card-header p-0">
                                <h5 class="mb-0">Motion Graphic</h5>
                                <p>Pune</p>
                            </div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry.
                            </p>
                            <div class="d-grid">
                                <button class="btn btn-warning" type="button">Apply</button>
                                <a class="nav-link text-center" href="#">See Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-body">
                            <div class="card-header p-0">
                                <h5 class="mb-0">UX Researcher</h5>
                                <p>Pune</p>
                            </div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry.
                            </p>
                            <div class="d-grid">
                                <button class="btn btn-warning" type="button">Apply</button>
                                <a class="nav-link text-center" href="#">See Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>