<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>CULTURE & CAREER</h1>
                <h3>
                    Always preparing for the next threat.
                </h3>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <h2 class="mb-4">Our Culture</h2>
        <div class="row g-5 align-items-center" id="culture">
            <div class="col-sm-6">
                <h1>Eccentric minds hack, innovate, take risks and contribute to chasing seemingly impossible goals.
                </h1>
            </div>
            <div class="col-sm-6">
                <img src="assets/image/culture-career/Pratnership-Program.png">
            </div>
            <div class="col-sm-6">
                <img src="assets/image/culture-career/Pratnership-Program.png">
            </div>
            <div class="col-sm-6">
                <h1>We have people from all walks of life hacking a few dream ideas of their own every day.</h1>
            </div>
            <div class="col-sm-6">
                <h1>The explorers at WhizHack seek intellectual challenges to creatively overcome the limitations of
                    legacy systems.</h1>
            </div>
            <div class="col-sm-6">
                <img src="assets/image/culture-career/Pratnership-Program.png">
            </div>
            <div class="col-sm-6">
                <img src="assets/image/culture-career/Pratnership-Program.png">
            </div>
            <div class="col-sm-6">
                <h1>Challenging hackathons, Friday socials and a playful environment keep the energy high.</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="mb-4">Our Values</h2>
        <div class="row g-5 align-items-center" id="values">
            <div class="col-sm">
                <div class="card card-body">
                    <img src="assets/image/culture-career/curious.svg">
                    <p>Curious</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body">
                    <img src="assets/image/culture-career/innovative.svg">
                    <p>Innovative</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body">
                    <img src="assets/image/culture-career/collaboration.svg">
                    <p>Collaboration</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body">
                    <img src="assets/image/culture-career/integirty.svg">
                    <p>Integrity</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card-body">
                    <img src="assets/image/culture-career/all-inclusive.svg">
                    <p>Inclusive</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="mb-4">Our Commitment</h2>
        <div class="row g-5 align-items-center" id="culture">
            <div class="col-sm-12">
                To build a more secure future for India and the world.
            </div>
        </div>
    </div>
</section>
<!-- <section>
    <div class="container">
        <h2 class="mb-4">Our Stories</h2>
        <div class="row g-5 align-items-center" id="culture">
            <div class="col-sm-12">

            </div>
        </div>
    </div>
</section> -->
<section class="mb-5 pb-5">
    <div class="container">
        <h2 class="mb-5">Life at WhizHack</h2>

        <div class="row" id="culture">
          <ng-container *ngFor="let item of this.imageArray">
            <div class="col-sm-2" (click)="openLightBox(item?.imagepaths)">
              <div class="albums-tab mb-2">
                  <div class="albums-tab-thumb sim-anim-1">
                    <ng-container *ngFor="let x of item?.imagepaths; let i =index">
                      <ng-container *ngIf="i ==0 || i == 1">
                        <img src="{{x}}" class="all studio"  loading="lazy" class="img-fluid"/>
                      </ng-container>
                  </ng-container>
                  </div>
              </div>
              <p class="text-center">{{item.gallery_Title | titlecase}} </p>
          </div>
          </ng-container>


        </div>
        <ng-container *ngIf="totalCount > 6">
          <mat-paginator [length]="totalCount" [pageSize]="6" showFirstLastButtons (page)="onClickPaginatior($event)" #paginator>
          </mat-paginator>
        </ng-container>

        <!-- <div class="row align-items-center" id="culture">
            <ng-container *ngFor="let item of this.imageArray">
                <div class="col-sm-3" (click)="openLightBox(item?.imageArray)">
                    <div class="albums-tab">
                        <div class="albums-tab-thumb sim-anim-1">
                            <ng-container *ngFor="let x of item?.imageArray">
                                <img src="{{x}}" class="all studio"  loading="lazy"/>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>-->


    </div>
</section>
<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-white">Careers at WhizHack</h2>
                <div class="text-center py-5">
                    <h4 class="text-white">Head start towards choosing right career</h4>
                </div>
                <div class="row g-4">
                    <div class="col-sm-4" *ngFor="let postJob of postJobArray">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="mb-1">{{postJob?.job_Title}}</h5>
                                <p class="location">{{postJob?.job_Location}}</p>
                            </div>
                            <div class="card-body">
                                <p class="description">
                                    {{postJob?.job_Description}}
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="text-end">
                                    <a class="text-main" routerLink="../job-details"
                                        (click)="navigatePage(postJob?.jobpostId)">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="jobPostTotalCount > 6">
                      <mat-paginator [length]="jobPostTotalCount" [pageSize]="6" showFirstLastButtons (page)="onClickJobPaginatior($event)" #jobPaginator>
                      </mat-paginator>
                    </ng-container>

                    <!-- <div class="col-sm-4">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="mb-1">Training Lead for Cyber Security</h5>
                                <p class="location">Pune</p>
                            </div>
                            <div class="card-body">
                                <p class="description">
                                    Add captions to your slides easily with the .carousel-caption element within any
                                    .carousel-item. They can be easily hidden on smaller viewports, as shown below, with
                                    optional display utilities. We hide them initially with .d-none and bring them back
                                    on medium-sized devices with .d-md-block.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="text-end">
                                    <a class="text-main" routerLink="../job-details">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="mb-1">Data Scientist</h5>
                                <p class="location">Pune</p>
                            </div>
                            <div class="card-body">
                                <p class="description">
                                    Add captions to your slides easily with the .carousel-caption element within any
                                    .carousel-item. They can be easily hidden on smaller viewports, as shown below, with
                                    optional display utilities. We hide them initially with .d-none and bring them back
                                    on medium-sized devices with .d-md-block.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="text-end">
                                    <a class="text-main" routerLink="../job-details">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div> -->


                </div>
            </div>
        </div>
    </div>
</section>
