<div class="row">
  <div class="col-sm-4">
    <div class="card form-card">
      <div class="card-header">Gallery</div>
      <div class="card-body">
        <form [formGroup]="frmGallery" (ngSubmit)="onMediaSubmit()">
          <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Gallery Title</mat-label>
              <input matInput placeholder="Enter Gallery Title" formControlName="gallery_title"
                (keypress)="vs.noFirstSpaceAllow($event)" maxlength="50">
              <mat-error *ngIf="g['gallery_title']?.errors" class="mt-2">
                <span *ngIf="g['gallery_title']?.hasError('required') ">
                  Gallery title is required</span>
                <span *ngIf="g['gallery_title']?.hasError('pattern') ">
                 Please enter Valid gallery title </span>

              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field appearance="legacy" class="w-100">
              <mat-label>Gallery Description</mat-label>
              <textarea matInput placeholder="Enter Gallery Description" rows="5" formControlName="gallery_description" rows="20"
               (keypress)="vs.noFirstSpaceAllow($event)"
                maxlength="200"></textarea>
              <mat-error *ngIf="g['gallery_description']?.errors">
                <span
                  *ngIf="g['gallery_description']?.hasError('required') ">
                  Gallery description is required</span>
                <span
                  *ngIf="g['gallery_description']?.hasError('pattern')">
                Please enter valid gallery description </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-5">
            <input id="upload" multiple type="file" accept="image/*" formControlName="uploadImages" #fileInput
              (change)="mediaFileUpload($event)" />
            <mat-error *ngIf="showImagError" class="mt-2">
              <span>{{showImagError}}</span>
            </mat-error>
          </div>
          <div class="mb-3">
            <div class="d-flex  flex-wrap gap-4">
              <ng-container *ngFor="let item of imageArray; let i = index">
                <div class="gallery">
                  <img [src]="item">
                  <button mat-icon-button class="bg-danger bg-opacity-25 text-danger" (click)="deleteImage(i)">
                    <span class="material-symbols-outlined">
                      delete
                    </span>
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <button mat-stroked-button class="btn-main-outline" type="button"
              (click)="clearGalleryForm()">Cancel</button>
            <button type="submit" mat-stroked-button class="btn-main">{{this.UpdateObj? "Update":"Submit"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card form-card">
      <div class="card-header">
        <div class="row justify-content-between">
          <div class="col-sm-3">
            <span>Gallery List</span>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Enter Gallery Title" [formControl]="searchFilter"
                (keyup)="vs.removeSpaceAtBegining($event)" (keypress)="vs.alphabetsWithSpaces($event)" maxlength="50">

              <button mat-icon-button matSuffix *ngIf="searchFilter.value" matTooltip="close" aria-label="tooltip"
                (click)="clearSearchFilter()">
                <span class="material-symbols-outlined">
                  close
                </span>
              </button>

            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="dashboard-table">
          <ng-container matColumnDef="srNo">
            <th mat-header-cell *matHeaderCellDef class="srno"> Sr. No. </th>
            <td mat-cell *matCellDef="let element; let i = index" class="srno"> {{element.srNo}} </td>
          </ng-container>
          <ng-container matColumnDef="gallery_Title">
            <th mat-header-cell *matHeaderCellDef> Gallery Title </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{element.gallery_Title | titlecase}}"> {{element.gallery_Title | titlecase}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="gallery">
                        <th mat-header-cell *matHeaderCellDef> Article Source </th>
                        <td mat-cell *matCellDef="let element">
                            <img src="assets/image/home/Product1.png" class="table-img">
                        </td>
                    </ng-container> -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button class="text-white" (click)="openBox(element)" matTooltip="Photos">
                <span class="material-symbols-outlined">
                  photo_library
                </span>
              </button>
              <button mat-icon-button class="text-warning" (click)="editGalleryRecord(element)" matTooltip="Edit">
                <span class="material-symbols-outlined">
                  edit
                </span>
              </button>
              <button mat-icon-button class="text-danger" (click)="deleteGalleryRecord(element)" matTooltip="Delete">
                <span class="material-symbols-outlined">
                  delete
                </span>
              </button>
            </td>
          </ng-container>
          <tr class="mat-row p-2 w-100" *matNoDataRow col>
            <td class="alert alert-danger text-center m-2 mt-2" colspan="12">No data found </td>
          </tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'highlightedRow ': highlightedRow == row.galleryId}"></tr>
        </table>
        <ng-container *ngIf="totalCount > 10">
          <mat-paginator [length]="totalCount" [pageSize]="10" showFirstLastButtons (page)="onClickPaginatior($event)">
          </mat-paginator>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container" style="display: none;">

    <div class="row g-3 align-items-center" id="culture">
      <div class="col-sm-3" *ngFor="let item of items; index as i">
        <img [lightbox]="i" [src]="item.data.thumb" class="culture-image">
      </div>
    </div>
  </div>
</section>
