<div class="row">
    <div class="col-sm-4">
        <div class="card form-card">
            <div class="card-header">Blog Register</div>
            <div class="card-body">
                <div class="mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Blog Title</mat-label>
                        <input matInput placeholder="Blog Title">
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Blog Description</mat-label>
                        <textarea matInput placeholder="Blog Description" rows="5"></textarea>
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <input type="file" id="real-file" hidden="hidden" />
                            <button type="button" id="fileupload-button">Upload Blog Image</button>
                        </div>
                        <div>
                            <button mat-icon-button class="bg-primary bg-opacity-10 text-primary me-2">
                                <span class="material-symbols-outlined">
                                    description
                                </span>
                            </button>
                            <button mat-icon-button class="bg-danger bg-opacity-10 text-danger">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="card card-body form-card border">
                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Blog Sub-Title</mat-label>
                                <input matInput placeholder="Blog Sub-Title">
                            </mat-form-field>
                        </div>
                        <div class="mb-3">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Blog Sub-Description</mat-label>
                                <textarea matInput placeholder="Blog Sub-Description" rows="5"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="text-end mb-2">
                            <button mat-stroked-button class="btn-sm bg-success bg-opacity-10 text-success">
                                <span class="material-symbols-outlined">
                                    add
                                </span>
                                Add New
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <button mat-stroked-button class="btn-main-outline">Cancel</button>
                    <button mat-stroked-button class="btn-main">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card form-card">
            <div class="card-header">Blogs List</div>
            <div class="card-body">
                <table mat-table [dataSource]="dataSource" class="dashboard-table">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef class="srno"> Sr. No. </th>
                        <td mat-cell *matCellDef="let element" class="srno"> {{element.position}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Blog Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <span class="material-symbols-outlined">
                                    visibility
                                </span>
                            </button>
                            <button mat-icon-button class="text-warning">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>
                            <button mat-icon-button class="text-danger">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>