<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand" href="#">Logo</a>
            <div class="">
                <input class="input-check" id="full-menu" type="checkbox" />
                <label class="icon-bar" for="full-menu">
                    <span class="full-span"></span>
                    <span class="full-span"></span>
                    <span class="full-span"></span>
                </label>
                <div class="Menu-item">
                    <ul class="full-nav-ul">
                        <section class="full-nav-cntr">
                            <li>
                                <p class="full-nav-p">
                                    <a class="full-nav-a" href="#">
                                        <span class="full-nav-hltd">Home</span>
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="full-nav-p">
                                    <a class="full-nav-a" href="#">
                                        <span class="full-nav-hltd">About Us</span>
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="full-nav-p">
                                    <a class="full-nav-a" href="#">
                                        <span class="full-nav-hltd">Products</span>
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="full-nav-p">
                                    <a class="full-nav-a" href="#">
                                        <span class="full-nav-hltd">Services</span>
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="full-nav-p">
                                    <a class="full-nav-a" href="#">
                                        <span class="full-nav-hltd">Training</span>
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="full-nav-p">
                                    <a class="full-nav-a" href="#">
                                        <span class="full-nav-hltd">Knowledge Hub</span>
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="full-nav-p">
                                    <a class="full-nav-a" href="#">
                                        <span class="full-nav-hltd">Contact Us</span>
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="full-nav-p">
                                    <a class="full-nav-a" href="#">
                                        <span class="full-nav-hltd">Culture & Career</span>
                                    </a>
                                </p>
                            </li>
                        </section>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>