.navbar .material-symbols-outlined {
    border-radius: 50%;
    width: 57px;
    height: 57px;
    padding: 1;
    padding-top: 15px;
    text-align: center;
    background: #111D4F 0% 0% no-repeat padding-box;
    opacity: 1;
}