<nav class="navbar navbar-expand-sm fixed-top" (scroll)="onWindowScroll();">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand" href="#">
                <img src="assets/image/whilz-logo.png" class="logo">
            </a>
            <button (click)="openNav();" class="menubar"><i class="fa-solid fa-bars"></i></button>
            <div id="myNav" class="overlay" [style.width]="headerOPenFlag == false ? '0%' : '100%'">
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav();">&times;</a>
                <div class="overlay-content">
                  <a routerLink="home" (click)="headerOPenFlag = false">Home</a>
                  <a routerLink="about-us" (click)="headerOPenFlag = false">About Us</a>
                  <a routerLink="products" (click)="headerOPenFlag = false">Products</a>
                  <a routerLink="services" (click)="headerOPenFlag = false">Services</a>
                  <a routerLink="training" (click)="headerOPenFlag = false">Training</a>
                  <a routerLink="knowledge-hub" (click)="headerOPenFlag = false">Knowledge Hub</a>
                  <a routerLink="contact-us" (click)="headerOPenFlag = false">Contact Us</a>
                  <a routerLink="culture-and-career" (click)="headerOPenFlag = false">Culture & Career</a>
                  <a routerLink="login" (click)="headerOPenFlag = false">Login</a>

                </div>
              </div>
        </div>
    </div>
</nav>