<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>CYBER RANGE</h1>
                <h3>
                    Simulation-based platform that trains professionals to respond to real-world cyberattacks.
                </h3>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container" data-aos="fade-up"   data-aos-delay="100" data-aos-easing="ease-in-sine">
        <div class="row">
            <div class="col-sm-12">
                <div class="py-5">
                    <p class="about-text">
                        The shortage of cybersecurity workforce in India is 9 per cent higher than the global average.
                    </p>
                    <p class="about-text">
                        Considering that India is home to several IT companies and addresses the technology requirements
                        of
                        several global companies, this shortage of skilled cybersecurity workforce can be devastating in
                        the
                        long term.
                    </p>
                    <p class="about-text">
                        Thus, there is an immediate need for India to invest more in cybersecurity learning and
                        awareness of the war footing to address the mismatch in the demand and supply of cybersecurity
                        professionals.
                    </p>
                </div>
                <div class="row gx-5" id="statistics">
                    <div class="col-sm-4 text-center mb-3">
                        <div class="card card-body h-100" data-aos="fade-up"   data-aos-delay="100" data-aos-easing="ease-in-sine">
                            <img src="assets/image/cyber-range/9-Higher.svg">
                            <h5 class="fw-bold">9% Higher</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center mb-3">
                        <div class="card card-body h-100" data-aos="fade-up"   data-aos-delay="150" data-aos-easing="ease-in-sine">
                            <img src="assets/image/cyber-range/USD-35-billion.svg">
                            <h5 class="fw-bold">USD 35 billion</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center mb-3">
                        <div class="card card-body h-100" data-aos="fade-up"   data-aos-delay="200" data-aos-easing="ease-in-sine">
                            <img src="assets/image/cyber-range/10-Revenue.svg">
                            <h5 class="fw-bold">10% Revenue</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container" data-aos="fade-up"   data-aos-delay="100" data-aos-easing="ease-in-sine">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Our Technology USPs</h2>
                <p class="about-text">
                    WhizHack has developed a platform – Cyber Range - that trains professionals in a simulated
                    environment that helps them learn how to respond to real-world cyberattacks.
                </p>
                <ul class="usp-list">
                    <li>The government can integrate simulation technologies such as Cyber Range to help build
                        cybersecurity capabilities and provide better job opportunities.
                    </li>
                    <li>
                        Cyber Range can train aspiring professionals in realistic environments with the in-house tools
                        and infrastructure of a typical organisation to impart experiential learning.
                    </li>
                    <li>
                        Our modules deliver gamified learning driven by curiosity, with a choice of industry-specific
                        projects and help build real skills for a global career pathway.
                    </li>
                </ul>
                <p class="about-text">
                    We have forged knowledge partnerships with none other than IIT, and domain experts from Israel and
                    United States. This is in line with our mission to provide excellence and capacity building for
                    future cyber defenders.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- <section id="solutions">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Solution by Industry</h2>
            </div>
            <div class="row">
                <div class="col-sm-4 mb-3 mg-lg-0">
                    <div class="card card-body h-100">
                        <img src="assets/image/cyber-range/Universities.svg">
                        <h5>Universities</h5>
                      
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mg-lg-0">
                    <div class="card card-body h-100">
                        <img src="assets/image/cyber-range/Companies.svg">
                        <h5>Companies</h5>
                     
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mg-lg-0">
                    <div class="card card-body h-100">
                        <img src="assets/image/cyber-range/Companies-1.svg">
                        <h5>Government</h5>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="mb-4">TESTIMONIALS</h2>
                <h5>Recent Feedback</h5>
                <p class="w-50 fw-normal">Trusted by more than 700 people</p>
                <div class="position-relative">
                    <button class="carousel-control-prev" type="button" data-bs-target="#TestimonialCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#TestimonialCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
            <div class="col-sm-8">
                <div id="TestimonialCarousel" class="carousel slide testimonal" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> -->