<header>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h1 class="line-1 typing-erase">i am my enemy</h1>
                    <h3 class="text-center text-white mb-5">We nurture this belief</h3>
                    <button type="button" class="btn btn-home">explore whizhack</button>
                    <button type="button" class="btn btn-home">enterprize</button>
                    <button type="button" class="btn btn-home">education</button>
                </div>
            </div>
        </div>
    </div>
</header>