<div class="home-wrapper">
    <div class="home-heading">
        <div class="container">
            <div class="banner-text">
                <h1 class="typing-erase">I AM MY ENEMY</h1>
                <h5 class="text-white">We nurture this belief</h5>
            </div>
            <div class="">
                <button type="button" class="btn btn-main">EXPLORE WHIZHACK</button>
                <button type="button" class="btn btn-main mx-3">ENTERPRISE</button>
                <button type="button" class="btn btn-main">EDUCATION</button>
            </div>
        </div>
    </div>
    <div class="home-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="py-5">
                        <i class="fa-solid fa-circle"></i>
                        <span class="ms-3">India’s only vertically integrated cyber security organisation.</span>
                    </h5>
                </div>
                <div class="col-sm-12">
                    <h2 class="head-text">enterprise</h2>
                </div>
            </div>
            <div class="py-5">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="assets/image/home/Whizhack-Web.png" class="image-whizhack">
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0 text-white">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions
                            of
                            Lorem Ipsum.
                        </p>
                    </div>
                </div>
            </div>

            <div class="py-5">
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <h2 class="head-text">products</h2>
                    </div>
                    <div class="col-sm-12">
                        <p class="text-white">
                            Lorem Ipsum is simply dummy text ofthe anadthe printing of typesetting industry dummy texat
                            the
                            dummy text ofthe anadthe printing dummy text ofthe anadthe printing of dummy text of the
                            anadthe
                            printing of dummy text ofthe anadthe printing of typesetting texat the dummy text.
                        </p>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-sm-4 d-flex align-items-stretch">
                        <div class="card plain-card">
                            <img src="assets/image/home/Whizhack-Web-01.png" class="card-img-top p-3">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Cyber Range is a platform that trains professionals in a simulated environment to
                                    help them learn how to respond to real-world cyberattacks.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 d-flex align-items-stretch">
                        <div class="card plain-card">
                            <img src="assets/image/home/Whizhack-Web-01.png" class="card-img-top p-3">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    A highly scalable and adaptable cyber deception software that has been designed to
                                    capture and analyze live and real attacks on any enterprise.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 d-flex align-items-stretch">
                        <div class="card plain-card">
                            <img src="assets/image/home/Whizhack-Web-01.png" class="card-img-top p-3">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    An adaptable, triple-layer security system that uses industry-standard mature
                                    signature technology with highly optimized machine language and deep learning-based
                                    models on live traffic to detect threats in the hybrid cloud.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <h2 class="head-text">services</h2>
                    </div>
                    <div class="col-sm-12">
                        <p class="text-white">
                            Lorem Ipsum is simply dummy text ofthe anadthe printing of typesetting industry dummy texat
                            the
                            dummy text ofthe anadthe printing dummy text ofthe anadthe printing of dummy text of the
                            anadthe
                            printing of dummy text ofthe anadthe printing of typesetting texat the dummy text.
                        </p>
                    </div>
                </div>

                <div class="card plain-card">
                    <div class="card-body">
                        <div class="row pt-4">
                            <div class="col-sm-4 text-center">
                                <img src="assets/image/home/services-icon.png" class="mb-3">
                                <p>OT Security</p>
                            </div>
                            <div class="col-sm-4 text-center">
                                <img src="assets/image/home/services-icon.png" class="mb-3">
                                <p>Compliance & Audit Services</p>
                            </div>
                            <div class="col-sm-4 text-center">
                                <img src="assets/image/home/services-icon.png" class="mb-3">
                                <p class="mb-0">Risk Advisory & Consulting</p>
                                <p>Services</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-5">
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <h2 class="head-text">training</h2>
                    </div>
                    <div class="col-sm-12">
                        <p class="text-white">
                            Lorem Ipsum is simply dummy text ofthe anadthe printing of typesetting industry dummy texat
                            the
                            dummy text ofthe anadthe printing dummy text ofthe anadthe printing of dummy text of the
                            anadthe
                            printing of dummy text ofthe anadthe printing of typesetting texat the dummy text.
                        </p>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-sm-4 d-flex align-items-stretch">
                        <div class="card plain-card">
                            <img src="assets/image/home/Whizhack-Web-01.png" class="card-img-top p-3">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Cyber Range is a platform that trains professionals in a simulated environment to
                                    help them learn how to respond to real-world cyberattacks.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 d-flex align-items-stretch">
                        <div class="card plain-card">
                            <img src="assets/image/home/Whizhack-Web-01.png" class="card-img-top p-3">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    A highly scalable and adaptable cyber deception software that has been designed to
                                    capture and analyze live and real attacks on any enterprise.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 d-flex align-items-stretch">
                        <div class="card plain-card">
                            <img src="assets/image/home/Whizhack-Web-01.png" class="card-img-top p-3">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    An adaptable, triple-layer security system that uses industry-standard mature
                                    signature technology with highly optimized machine language and deep learning-based
                                    models on live traffic to detect threats in the hybrid cloud.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <h2 class="head-text">testimonials</h2>
                </div>
                <div class="col-sm-4">
                    <div class="card plain-card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0">
                                    <img src="assets/image/home/services-icon.png" class="image-profile">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="mb-0">John Smith</p>
                                    <small>Lorem Ipsum</small>
                                </div>
                            </div>
                            <div class="">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                    simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                    dummy text of the printing.
                                </p>
                                <p>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card plain-card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0">
                                    <img src="assets/image/home/services-icon.png" class="image-profile">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="mb-0">John Smith</p>
                                    <small>Lorem Ipsum</small>
                                </div>
                            </div>
                            <div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                    simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                                    dummy text of the printing.
                                </p>
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>