.home-wrapper .home-heading {
  width: 100%;
  display:flex;
  /* background: linear-gradient(90deg, #0A0544 45%, #243BDC 85%, #4F28EC 100%); */
  background-image: url('../../../assets/image/Home-Page/Home-page-bg.png');
  height:100vh;
  background-size: cover;
  align-items: center;
}

.home-wrapper .home-heading .banner-text {
  width: 750px;
  display: inline-block;
  text-align: center;
  padding-bottom: 23px;
}

.home-wrapper .home-heading .banner-text h1 {
  color: rgb(241, 233, 233);
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 2px;
  width: 0;
  max-width: max-content;
  overflow: hidden;
  border-right: .05em solid #FFFFFF;
  white-space: nowrap;
  margin: 0;
}

.btn-home{
  background-color: #020B20;
    color: #fff;
    margin-right: 15px;
    padding: 15px 25px;
    border-radius: 0;
    border-right: solid 5px #2DF611;
    border-left: solid 5px #2DF611;
    position: relative;
}
.btn-home:after{
  content: '';
    background: linear-gradient(270deg, #2DF611 0%, #020B20 100%);
    display: block;
    height: 5px;
    width: 50%;
    margin-top: 19px;
    position: absolute;
    bottom: 50px;
    right: -3px;
}
.btn-home:before{
  content: '';
    background: linear-gradient(270deg, #020B20 0%, #2DF611 100%);
    display: block;
    height: 5px;
    width: 50%;
    margin-top: 19px;
    position: absolute;
    bottom: -1px;
    left: -3px;
}
.btn-home:hover,
.btn-home:active{
  background-color: #020B20;
  color: #fff;
  margin-right: 15px;
  padding: 15px 25px;
  border-radius: 0;
}
.enterprise{
  font-size: 1rem;
  font-weight: 300;
  line-height:2rem;
}
.carousel-control-prev,
.carousel-control-next{
  position: relative;
  background-color: #aaa;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-flex;
  margin-right: 15px;
}
.carousel-control-prev:hover,
.carousel-control-next:hover{
  background-color: #2CF211;
}
.typing-erase {
  animation:
    4s typing-erase 0s steps(50, end) infinite,
    blink-caret .7s step-end infinite;
}

@keyframes typing-erase {
  0% {
    width: 0
  }

  80% {
    width: 100%
  }

  90%,
  100% {
    width: 0
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #FFFFFF;
    border-radius: 1px;
  }
}
.home-wrapper{
  padding-bottom: 5rem;
}
.home-wrapper .home-heading .btn-main {
  width: 185px;
  height: 50px;
  color: #FFFFFF;
  border-radius: 0px;
  background-color: #020B20;
}

.home-wrapper .home-banner {
  background-color: #010204;
}

.home-wrapper .home-banner h5 i {
  color: #2CF211;
}

.home-wrapper .home-banner .image-whizhack {
  width: 542px;
  height: 395px;
  border-radius: 11px;
}

.home-wrapper .home-banner .card-img-top {
  border-radius: 25px !important;
}

.home-wrapper .home-banner .image-profile {
  max-width: 55px;
  border-radius: 50%;
}

.home-wrapper .home-banner .rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.home-wrapper .home-banner .rating>input {
  display: none
}

.home-wrapper .home-banner .rating>label {
  position: relative;
  width: 1em;
  font-size: 30px;
  font-weight: 300;
  color: #FFD600;
  cursor: pointer
}

.home-wrapper .home-banner .rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.home-wrapper .home-banner .rating>label:hover:before,
.home-wrapper .home-banner .rating>label:hover~label:before {
  opacity: 1 !important
}

.home-wrapper .home-banner .rating>input:checked~label:before {
  opacity: 1
}

/* .rating:hover>input:checked~label:before {
  opacity: 0.4
} */