<header>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h1 class="line-1 typing-erase">i am my enemy</h1>
                    <h3 class="text-center text-white mb-5">We nurture this belief</h3>
                    <button type="button" class="btn btn-home">explore whizhack</button>
                    <button type="button" class="btn btn-home">enterprise</button>
                    <button type="button" class="btn btn-home">education</button>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row py-4">
            <div class="col-sm-12">
                <h1 class="text-white fw-normal"><i class="fa-solid fa-trophy me-3 text-main"></i>India's only
                    vertically integrated cyber security organisation.</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h3 class="mb-4">ENTERPRISE</h3>
        <div class="row gx-5 align-items-center">
            <div class="col-sm-12">
                <iframe width="100%" height="350" src="https://www.youtube.com/embed/Cw4k5vSKSpU" frameborder="0"
                    class="rounded border border-dark"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h3 class="mb-4">PRODUCTS</h3>
        <p class="about-text">
            Whizhack product portfolio is creating a secure digital cyberspace,ranging from surveillance tools that
            predict impending advanced attacks and also remediation engines post attacks. All our solutions are built
            for massive scale and efficiency.
        </p>
        <div class="row gx-5 products">
            <div class="col-sm-4">
                <a class="card h-100" routerLink="../cyber-range">
                    <img src="../../../assets/image/home/Product1.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/image/home/Cyber-Range.svg" class="me-3">
                                <span>Cyber Range</span>
                            </div>
                        </h5>
                        <p class="card-text">
                            Cyber Range is a platform that trains professionals in a simulated environment to help them
                            learn how to respond to real-world cyberattacks.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="card h-100" routerLink="../trace">
                    <img src="../../../assets/image/home/Product2.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/image/home/TRACE.svg" class="me-3">
                                <span>TRACE</span>
                            </div>
                        </h5>
                        <p class="card-text">
                            A highly scalable and adaptable cyber deception software that has been designed to capture
                            and analyze live and real attacks on any enterprise.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="card h-100" routerLink="../zero-hack">
                    <img src="../../../assets/image/home/Product3.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/image/home/Zero-Hack.svg" class="me-3">
                                <span>Zero Hack</span>
                            </div>
                        </h5>
                        <p class="card-text">
                            An adaptable, triple-layer security system that uses industry-standard mature signature
                            technology with highly optimized machine language and deep learning-based models on live
                            traffic to detect threats in the hybrid cloud.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h3 class="mb-4">SERVICES</h3>
        <p class="about-text">
            Whizhack is your trusted partner for IT/OT security services. Our specialised teams have years of experience
            and unparalleled commitment to work with select customers in meeting most extreme security challenges for
            durable partnerships.
        </p>
        <div class="row gx-5 products">
            <div class="col-sm-12">
                <div class="card card-body text-center p-5">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="../../../assets/image/home/Cyber-Range.svg" class="services-icon">
                            <p class="card-text">
                                IT / OT Security
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <img src="../../../assets/image/home/Cyber-Range.svg" class="services-icon">
                            <p class="card-text">
                                Compliance & Audit Services
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <img src="../../../assets/image/home/Cyber-Range.svg" class="services-icon">
                            <p class="card-text">
                                Risk Advisory & Consulting Services
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h3 class="mb-4">TRAINING</h3>
        <p class="about-text">
            WhizHack trainings are creating a culture of cyber defenders amongst future generations. They range from
            building curiosity for ethical hacking amongst teenagers, career pathway for students and skill upgrades for
            specific industry vertical employees, ultimately resolving the demand supply gap for high quality cyber
            security experts
        </p>
        <div class="row gx-5 products">
            <div class="col-sm-4">
                <div class="card h-100" routerLink="">
                    <img src="../../../assets/image/home/Product1.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/image/home/Cyber-Range.svg" class="me-3">
                                <span>WhizTeens</span>
                            </div>
                        </h5>
                        <p class="card-text">
                            India’s 1st Multi-leveled Teenager Program is exclusively curated to inspire teenagers to
                            combat online attacks and also to pave a career pathway in Cyber Security Industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100" routerLink="">
                    <img src="../../../assets/image/home/Product2.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/image/home/TRACE.svg" class="me-3">
                                <span>Bootcamp</span>
                            </div>
                        </h5>
                        <p class="card-text">
                            IITJ TISC Bootcamp covers the hands-on and practical skills necessary to land high-paying
                            careers in cyber security, one of the world’s fastest-growing industries.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100" routerLink="">
                    <img src="../../../assets/image/home/Product3.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/image/home/Zero-Hack.svg" class="me-3">
                                <span>Energy Professionals</span>
                            </div>
                        </h5>
                        <p class="card-text">
                            India’s First Experiential Post Graduate Diploma in Cyber Security (PGDCS) Program for Core
                            Engineers in partnership with NPTI (National Power Training Institute).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="mb-4">TESTIMONIALS</h3>
                <h5>Recent Feedback</h5>
                <p class="w-50 fw-normal">Trusted by more than 700 people</p>
                <div class="position-relative">
                    <button class="carousel-control-prev" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-8">
                <div id="TestimonialCarousel" class="carousel slide testimonal" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>