<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <main class="page-content">
        <div class="main-content scrollbar">
            <div class="card card-body" id="main-card">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- <footer>
            <app-footer></app-footer>
        </footer> -->
        <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
    </main>
</div>