<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
    <app-sidebar *ngIf="!getSideBarState()"></app-sidebar>
    <main class="page-content">
        <app-header></app-header>
        <div class="main-content scrollbar">
            <router-outlet></router-outlet>
        </div>
        <!-- <footer>
            <app-footer></app-footer>
        </footer> -->
        <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
    </main>
</div>