<div class="dialog-header">
    <h5 class="text-main">{{ elementData?.title }}<small class="text-muted">&nbsp;&nbsp;[{{elementData?.blog_categary_Id == 1 ? 'Training' : 'Products'}}]</small></h5>
    <button mat-icon-button mat-dialog-close>
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</div>
<div class="dialog-body form-container">
    <div class="row">
        <div class="col-sm-3">
            <img src="assets/image/culture-career/Pratnership-Program.png" class="img-fluid">
        </div>
        <div class="col-sm-9">
            <div class="blog-height scrollbar" >
                <p>{{ elementData?.description }}</p>
                <div *ngFor="let nums of blogRegDetailsArray;let i = index">
                    <h6 class="text-main">{{ nums?.title }}</h6>
                <p>{{ nums?.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-between p-3">
    <button mat-button mat-dialog-close class="btn-main-outline">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn-main">OK</button>
</div>