<div class="dialog-header">
    <h5 class="text-main">Change Password</h5>
    <button mat-icon-button mat-dialog-close>
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</div>
<form [formGroup]="registerForm" (ngSubmit)="onSumbit(clear)" #clear="ngForm">
    <div class="dialog-body form-container">

        <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Enter Current Password</mat-label>
                <input formControlName="currentPassword" matInput [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                </button>
                <mat-error *ngIf="fc['currentPassword'].hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="fc['currentPassword'].hasError('pattern')"> Please Enter Valid Password</mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Enter New Password</mat-label>
                <input formControlName="newPassword" matInput [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                </button>
                <mat-error class="mt-2" *ngIf="fc['newPassword'].hasError('required')">Password is required</mat-error>
                <mat-error class="mt-2" *ngIf="fc['newPassword'].hasError('pattern')"> Please Enter Valid Password</mat-error>
            </mat-form-field>
        </div>
        <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Retype Password</mat-label>
                <input formControlName="retypePassword" matInput [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                </button>
                <mat-error class="mt-2" *ngIf="fc['retypePassword'].hasError('required')">Password is required</mat-error>
                <mat-error class="mt-2" *ngIf="fc['retypePassword'].hasError('pattern')"> Please Enter Valid Password</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-between p-3">
        <button type="button" mat-button mat-dialog-close class="btn-main-outline"
            (click)="onCancel(clear)">Cancel</button>
        <button type="submit" mat-button class="btn-main">Change Password</button>
    </div>
</form>