<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>training</h1>
                <h3>
                    Learn how to secure the online world with cyber security training.
                </h3>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="card card-body bg-transparent" data-aos="fade-up"   data-aos-delay="100" data-aos-easing="ease-in-sine">
                    <div class="ratio ratio-16x9">
                        <iframe width="949" height="534" src="https://www.youtube.com/embed/VxNaVWENT7c"
                            title="Training" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="card-footer bg-transparent border-top-0" data-aos="fade-up"   data-aos-delay="100" data-aos-easing="ease-in-sine">
                        <h5>WhizHack trainings are creating a culture of cyber
                            defenders amongst future generations. They range
                            from building curiosity for ethical hacking amongst
                            teenagers, career pathway for students and skill
                            upgrades for specific industry vertical employees,
                            ultimately resolving the demand supply gap for
                            high-quality cyber security experts.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" data-aos="fade-up"   data-aos-delay="100" data-aos-easing="ease-in-sine">
                <h2 class="mb-4">Why Choose Cyber Security
                    Training?</h2>
                <p class="about-text">Like doctors, ethical hackers are required 24 hours a day, seven days a week,
                    regardless of the
                    economy. Ethical hacking has an infinite future. </p>
                <p class="about-text">
                    Only 32% of people work in the ethical hacking industry, as a result, the demand for new staff is on
                    the rise.
                </p>
                <p class="about-text">Many areas, including government,
                    corporate enterprises, health care, entertainment, banking, and others, are quickly expanding in
                    this arena.</p>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad" data-aos="fade-up"   data-aos-delay="100" data-aos-easing="ease-in-sine">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <h5>0% UNEMPLOYMENT RATE</h5>
                            <p>12% average monthly increase in demand for ethical hacker jobs</p>
                        </div>
                        <img src="https://whizhack.mahamining.com/assets/image/training/0-Unemployment-Rate.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose justify-content-end">
            <div class="col-sm-7">
                <div class="card card-body right-grad" data-aos="fade-up"   data-aos-delay="200" data-aos-easing="ease-in-sine">
                    <div class="d-flex align-items-center justify-content-between">
                        <img src="https://whizhack.mahamining.com/assets/image/training/3X-More-Salary.svg">
                        <div class="text-end">
                            <h5>3X MORE SALARY</h5>
                            <p>Ethical Hackers make 3x more salary than coders</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad" data-aos="fade-up"   data-aos-delay="300" data-aos-easing="ease-in-sine">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <h5>$40 MILLION</h5>
                            <p>Bounties earned by White Hat hackers in 2019</p>
                        </div>
                        <img src="https://whizhack.mahamining.com/assets/image/training/40-Million.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" data-aos="fade-up" data-aos-easing="ease-in-sine">
        <h3 class="mb-4">Courses</h3>
        <div class="row gx-5 gy-3 gy-lg-0 products">
            <div class="col-sm-4">
                <a class="card h-100" routerLink="../training/whizteens" data-aos="fade-up"   data-aos-delay="100" data-aos-easing="ease-in-sine">
                    <img src="https://whizhack.mahamining.com/assets/image/home/Product1.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="https://whizhack.mahamining.com/assets/image/home/Cyber-Range.svg" class="me-3" >
                                <span>WhizTeens</span>
                            </div>
                        </h5>
                        <p class="card-text">
                            India’s 1st Multi-leveled Teenager Program is exclusively curated to inspire teenagers to
                            combat online attacks and also to pave a career pathway in Cyber Security Industry.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="card h-100" routerLink="../training/bootcamp" data-aos="fade-up"   data-aos-delay="150" data-aos-easing="ease-in-sine">
                    <img src="https://whizhack.mahamining.com/assets/image/home/Product2.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="https://whizhack.mahamining.com/assets/image/home/TRACE.svg" class="me-3">
                                <span>Bootcamp</span>
                            </div>
                        </h5>
                        <p class="card-text">
                            IITJ TISC Bootcamp covers the hands-on and practical skills necessary to land high-paying
                            careers in cyber security, one of the world’s fastest-growing industries.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="card h-100" routerLink="../training/energy-professionals" data-aos="fade-up"   data-aos-delay="200" data-aos-easing="ease-in-sine">
                    <img src="https://whizhack.mahamining.com/assets/image/home/Product3.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="https://whizhack.mahamining.com/assets/image/home/Zero-Hack.svg" class="me-3">
                                <span>Energy Professionals</span>
                            </div>
                        </h5>
                        <p class="card-text">
                            India’s First Experiential Post Graduate Diploma in Cyber Security (PGDCS) Program for Core
                            Engineers in partnership with NPTI (National Power Training Institute).
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" data-aos="fade-up"   data-aos-delay="100" data-aos-easing="ease-in-sine">
        <div class="row">
            <div class="col-sm-12" data-aos="fade-up"   data-aos-delay="150" data-aos-easing="ease-in-sine">
                <h2 class="mb-4">Why Choose WhizHack?</h2>
                <p class="about-text">WhizHack has forged knowledge partnerships with none other than IIT-Jodhpur,
                    domain
                    experts from Israel and United States. This is in line with our mission to provide excellence and
                    capacity building for future cyber defenders. Our vision is to foster an active cyber defence
                    culture. </p>
                <p class="about-text">In just a short span of less than two years, we have had incredible success with
                    strategic
                    verticals like defence, power, financial institutions, government, and SMEs.</p>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad" data-aos="fade-up"   data-aos-delay="100" data-aos-easing="ease-in-sine">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <h5>OFFICIAL TISC IIT CERTIFICATION</h5>
                            <p>Yes, you will be a certified ethical hacker from TISC IIT Jodhpur.</p>
                        </div>
                        <img src="https://whizhack.mahamining.com/assets/image/training/Official-TISC.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose justify-content-end">
            <div class="col-sm-7">
                <div class="card card-body right-grad" data-aos="fade-up"   data-aos-delay="100" data-aos-easing="ease-in-sine">
                    <div class="d-flex align-items-center justify-content-between">
                        <img src="https://whizhack.mahamining.com/assets/image/training/Interactive-Live-Classes.svg">
                        <div class="text-end">
                            <h5>INTERACTIVE LIVE CLASSES</h5>
                            <p>We offer an interactive experience to learn ethical hacking with elaborate doubt-clearing
                                sessions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad" data-aos="fade-up"   data-aos-delay="200" data-aos-easing="ease-in-sine">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <h5>VIRTUAL LAB</h5>
                            <p>Virtual lab for a practical, application-based learning experience.</p>
                        </div>
                        <img src="https://whizhack.mahamining.com/assets/image/training/Virtual-Lab.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose justify-content-end">
            <div class="col-sm-7">
                <div class="card card-body right-grad" data-aos="fade-up"   data-aos-delay="200" data-aos-easing="ease-in-sine">
                    <div class="d-flex align-items-center justify-content-between">
                        <img src="https://whizhack.mahamining.com/assets/image/training/Hacker-Community.svg">
                        <div class="text-end">
                            <h5>HACKER COMMUNITY</h5>
                            <p>WhizHackers is a growing community of ethical hackers, peers and mentors who are
                                strengthening the ecosystem by the day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad" data-aos="fade-up"   data-aos-delay="300" data-aos-easing="ease-in-sine">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left me-5">
                            <h5>GAMIFIED LEARNING</h5>
                            <p>Our modules deliver gamified learning driven by curiosity, with a choice of
                                industry-specific projects and help build real skills for a global career pathway.</p>
                        </div>
                        <img src="https://whizhack.mahamining.com/assets/image/training/Gamified-Learning.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="mb-4">TESTIMONIALS</h3>
                <h5>Recent Feedback</h5>
                <p class="w-50 fw-normal">Trusted by more than 700 people</p>
                <div class="position-relative">
                    <button class="carousel-control-prev" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-8">
                <div id="TestimonialCarousel" class="carousel slide testimonal" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body h-100">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>Vansh Parekh</h6>
                                                <small>WhizTeens</small>
                                            </div>
                                        </div>
                                        <p>
                                            It was a very skilful, creative and fun learning experience and would
                                            recommend it to my fellow mates. I want to thank Anubhav sir for being the
                                            helping hand throughout the time.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body h-100">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>Srishti Shandilya</h6>
                                                <small>LLB from Delhi</small>
                                            </div>
                                        </div>
                                        <p>
                                            For every topic one assessment to make sure that every student has undertood
                                            the topic. They even had a doubt session which was really helpfull.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body h-100">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>Anjali Tripathi</h6>
                                                <small>Working Proffessional </small>
                                            </div>
                                        </div>
                                        <p>
                                            Great Opportunity for people to learn from people who are already in that
                                            sector. The course was really helpfull to get my 1st job in cyber security.
                                            I personally recommend it.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body h-100">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>Ajay Gautam </h6>
                                                <small>On Israeli Pedagogy & Virtual labs</small>
                                            </div>
                                        </div>
                                        <p>
                                            The best part of training is Israeli Cloud Hosted Labs provided with clear
                                            instructions to individual with high tech commision tools.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body h-100">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>Devika Katariya </h6>
                                                <small>PHD Electrical Enginnering - IIT - Kanpur</small>
                                            </div>
                                        </div>
                                        <p>
                                            Excellent Faculty. Quizes were really state of art.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body h-100">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>Lakshya Sharma</h6>
                                                <small>B.Tech-EC - Wapi Gujarat</small>
                                            </div>
                                        </div>
                                        <p>
                                            Live Labs were good. Pratical Approach.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> -->
<section>
    <div class="container" data-aos="fade-up" data-aos-easing="ease-in-sine">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Frequently Asked Questions</h2>

                <div class="accordion" id="accordionExample" data-aos="fade-up"   data-aos-delay="100" data-aos-easing="ease-in-sine">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <i class="fa-solid fa-circle"></i>What is Ethical Hacking?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Ethical hacking is an authorized practice of detecting vulnerabilities in an
                                    application, system, or organization’s infrastructure and bypassing system security
                                    to identify potential data breaches and threats in a network.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa-solid fa-circle"></i>What does an Ethical Hacker do?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Ethical hackers aim to investigate the system or network for weak points that malicious
                                hackers can exploit or destroy. They can then improve the security footprint to
                                withstand attacks better or divert them.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa-solid fa-circle"></i>Is Ethical Hacking a good career option?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Ethical hacking is a good career option across the globe due to the rapid rise in
                                    cyber attacks. Attackers are inflicting damage on physical infrastructure
                                    by infiltrating the digital systems that control physical processes, damaging
                                    specialized equipment and disrupting vital services.</p>
                                <p>Organisations now more than ever are looking for certified and trained ethical
                                    hackers that could effectively manage critical tasks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="fa-solid fa-circle"></i>What is the average salary of an Ethical Hacker?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Salary of an ethical hacker can go up to INR 40 lakh per annum depending on their
                                    experience, skills, and various other factors.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>