<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>training</h1>
                <h3>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </h3>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="ratio ratio-16x9">
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/JQD3n2Rh1uM" title="Ecosystem"
                        frameborder="0" class="rounded border border-dark"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Why Choose Ethical Hacking?</h2>
                <p class="about-text">Like doctors, ethical hackers are required 24 hours a day, seven days a week,
                    regardless of the
                    economy. Ethical hacking has an infinite future. </p>
                <p class="about-text">Only 32% of people work in the ethical hacking
                    industry, as a result, the demand for new staff is on the rise. </p>
                <p class="about-text">Many areas, including government,
                    corporate enterprises, health care, entertainment, banking, and others, are quickly expanding in
                    this arena.</p>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <h5>0% UNEMPLOYMENT RATE</h5>
                            <p>12% average monthly increase in demand for ethical hacker jobs</p>
                        </div>
                        <img src="../../../assets/image/training/choosing.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose justify-content-end">
            <div class="col-sm-7">
                <div class="card card-body right-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <img src="../../../assets/image/training/choosing.png">
                        <div class="text-end">
                            <h5>3X MORE SALARY</h5>
                            <p>Ethical Hackers make 3x more salary than coders</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <h5>$40 MILLION</h5>
                            <p>Bounties earned by White Hat hackers in 2019</p>
                        </div>
                        <img src="../../../assets/image/training/choosing.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h3 class="mb-4">Courses</h3>
        <div class="row gx-5 products">
            <div class="col-sm-4">
                <div class="card h-100" routerLink="">
                    <img src="../../../assets/image/home/Product1.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/image/home/Cyber-Range.svg" class="me-3">
                                <span>WhizTeens</span>
                            </div>
                        </h5>
                        <p class="card-text">
                            India’s 1st Multi-leveled Teenager Program is exclusively curated to inspire teenagers to
                            combat online attacks and also to pave a career pathway in Cyber Security Industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100" routerLink="">
                    <img src="../../../assets/image/home/Product2.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/image/home/TRACE.svg" class="me-3">
                                <span>Bootcamp</span>
                            </div>
                        </h5>
                        <p class="card-text">
                            IITJ TISC Bootcamp covers the hands-on and practical skills necessary to land high-paying
                            careers in cyber security, one of the world’s fastest-growing industries.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100" routerLink="">
                    <img src="../../../assets/image/home/Product3.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/image/home/Zero-Hack.svg" class="me-3">
                                <span>Energy Professionals</span>
                            </div>
                        </h5>
                        <p class="card-text">
                            India’s First Experiential Post Graduate Diploma in Cyber Security (PGDCS) Program for Core
                            Engineers in partnership with NPTI (National Power Training Institute).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Why Choose WhizHack?</h2>
                <p class="about-text">WhizHack has forged knowledge partnerships with none other than IIT, domain
                    experts from Israel and United States. This is in line with our mission to provide excellence and
                    capacity building for future cyber defenders. Our vision is to foster an active cyber defence
                    culture. </p>
                <p class="about-text">In just a short span of less than two years, we have had incredible success with
                    strategic
                    verticals like defence, power, financial institutions, government, and SMEs.</p>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <h5>OFFICIAL TISC IIT CERTIFICATION</h5>
                            <p>Yes, you will be a certified ethical hacker from TISC IIT Jodhpur.</p>
                        </div>
                        <img src="../../../assets/image/training/choosing.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose justify-content-end">
            <div class="col-sm-7">
                <div class="card card-body right-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <img src="../../../assets/image/training/choosing.png">
                        <div class="text-end">
                            <h5>INTERACTIVE LIVE CLASSES</h5>
                            <p>We offer an interactive experience to learn ethical hacking with elaborate doubt-clearing
                                sessions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <h5>VIRTUAL LAB</h5>
                            <p>Virtual lab for a practical, application-based learning experience.</p>
                        </div>
                        <img src="../../../assets/image/training/choosing.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose justify-content-end">
            <div class="col-sm-7">
                <div class="card card-body right-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <img src="../../../assets/image/training/choosing.png">
                        <div class="text-end">
                            <h5>HACKER COMMUNITY</h5>
                            <p>WhizHackers is a growing community of ethical hackers, peers and mentors who are
                                strengthening the ecosystem by the day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row whychoose">
            <div class="col-sm-7">
                <div class="card card-body left-grad">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <h5>VIRTUAL LAB</h5>
                            <p>Our modules deliver gamified learning driven by curiosity, with a choice of
                                industry-specific projects and help build real skills for a global career pathway.</p>
                        </div>
                        <img src="../../../assets/image/training/choosing.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="mb-4">TESTIMONIALS</h3>
                <h5>Recent Feedback</h5>
                <p class="w-50 fw-normal">Trusted by more than 700 people</p>
                <div class="position-relative">
                    <button class="carousel-control-prev" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#TestimonialCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-8">
                <div id="TestimonialCarousel" class="carousel slide testimonal" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="../../../assets/image/members-user.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h6>John Smith</h6>
                                                <small>Lorem Ipsum</small>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum is simply dummy text of the printing.
                                        </p>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">Frequently Asked Questions</h2>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa-solid fa-circle"></i>Is Ethical Hacking a good career option?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text ofthe anadthe printing of typesetting industry dummy
                                texat the dummy text ofthe anadthe printing dummy text ofthe anadthe printing of dummy
                                text of the anadthe printing of dummy text ofthe anadthe printing of typesetting texat
                                the dummy text of the anadthe printing dummy text ofthe anadthe printing of dummy text
                                ofthe anadthe printing of Lorem Ipsum is simply dummy text ofthe anadthe printing of
                                type setting industry dummy texat the dummy text ofthe anadthe printing dummy text ofthe
                                anadthe printing of dummy text ofthe anadthe printing of dummy text ofthe anadthe
                                printing of type
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa-solid fa-circle"></i>What is the average salary of an Ethical Hacker?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text ofthe anadthe printing of typesetting industry dummy
                                texat the dummy text ofthe anadthe printing dummy text ofthe anadthe printing of dummy
                                text of the anadthe printing of dummy text ofthe anadthe printing of typesetting texat
                                the dummy text of the anadthe printing dummy text ofthe anadthe printing of dummy text
                                ofthe anadthe printing of Lorem Ipsum is simply dummy text ofthe anadthe printing of
                                type setting industry dummy texat the dummy text ofthe anadthe printing dummy text ofthe
                                anadthe printing of dummy text ofthe anadthe printing of dummy text ofthe anadthe
                                printing of type
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa-solid fa-circle"></i>Who will be the trainer for the course?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text ofthe anadthe printing of typesetting industry dummy
                                texat the dummy text ofthe anadthe printing dummy text ofthe anadthe printing of dummy
                                text of the anadthe printing of dummy text ofthe anadthe printing of typesetting texat
                                the dummy text of the anadthe printing dummy text ofthe anadthe printing of dummy text
                                ofthe anadthe printing of Lorem Ipsum is simply dummy text ofthe anadthe printing of
                                type setting industry dummy texat the dummy text ofthe anadthe printing dummy text ofthe
                                anadthe printing of dummy text ofthe anadthe printing of dummy text ofthe anadthe
                                printing of type
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>