<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>TRACE</h1>
                <h3>
                    Threat Reconnaissance And <br>Classification Engine
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <section>
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="ratio ratio-16x9">
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/JQD3n2Rh1uM" title="Ecosystem"
                        frameborder="0" class="rounded border border-dark"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="">
                    <p class="text-white">
                        TRACE is a highly scalable CyberDeception software (patent pending), which uses Sensors in
                        private and public network running in a hybrid environment to detect threat in an organization's
                        environment. It has been designed to capture and analyse live and real attacks on any
                        enterprise. TRACE comprises of Honeynets including software scanners that are deployed, to
                        fingerprint malicious activities, classify traffic accurately in real time and to unlock the
                        full potential of AIbased analysis methodologies. The customer updates will consist of new
                        product features and new Signatures for attacks not presently captured by known signatures.
                    </p>
                    <p class="text-white">
                        Adeception strategy provides businesses with another layer of protection and the ability to
                        rapidly respond to attacks as soon as they occur in their environment. As a result, an
                        organization can become alert and provide further security layers resulting in securing of
                        production systems and sensitive data stores against unauthorized access, thus reducing the
                        likelihood of disruption and loss. Taking the time to put a deception-based strategy in place
                        will reduce overall risk and safeguard against both current threats and those that are just
                        around the corner.
                    </p>
                    <p class="text-white">
                        IT security teams recognize that, despite there being a range of security tools and services in
                        place, cybercriminals are still managing to bypass them and gain entry to infrastructures.
                        Clearly, a new approach is required. That new approach is based on cyber deception. A deception
                        strategy is also a highly effective way to detect insider threats. Any staff accessing deceptive
                        elements is an indication that the person is roaming in parts of the network where they have no
                        authority. A properly instigated deception strategy, therefore, delivers six key benefits for
                        organizations. It will
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-------Solution-by-Industry----------->

    <section>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-white">Solution by Industry</h3>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <div class="card card-body">
                            <img src="../../../../assets/image/cyber-range/Universities.svg" class="w-50 m-auto">
                            <h5>Power</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is
                                simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="card card-body">
                            <img src="../../../../assets/image/cyber-range/Companies.svg" class="w-50 m-auto">
                            <h5>Oil & Gas</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is
                                simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="card card-body">
                            <img src="../../../../assets/image/cyber-range/Companies-1.svg" class="w-50 m-auto">
                            <h5>Railways</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is
                                simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-----------Clients-section--------------->

    <section>
        <h2 class="mb-4 text-white">Clients</h2>
        <div class="row align-items-center mb-5">
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
        </div>
    </section>

    <!-----------------Testimonials-section------------------>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="mb-4">TESTIMONIALS</h3>
                    <h5>Recent Feedback</h5>
                    <p class="w-50 fw-normal">Trusted by more than 700 people</p>
                    <div class="position-relative">
                        <button class="carousel-control-prev" type="button" data-bs-target="#TestimonialCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#TestimonialCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div id="TestimonialCarousel" class="carousel slide testimonal" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="flex-shrink-0">
                                                    <img src="../../../assets/image/members-user.png" alt="...">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6>John Smith</h6>
                                                    <small>Lorem Ipsum</small>
                                                </div>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing.
                                            </p>
                                            <div class="star-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="flex-shrink-0">
                                                    <img src="../../../assets/image/members-user.png" alt="...">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6>John Smith</h6>
                                                    <small>Lorem Ipsum</small>
                                                </div>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing.
                                            </p>
                                            <div class="star-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="flex-shrink-0">
                                                    <img src="../../../assets/image/members-user.png" alt="...">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6>John Smith</h6>
                                                    <small>Lorem Ipsum</small>
                                                </div>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing.
                                            </p>
                                            <div class="star-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="flex-shrink-0">
                                                    <img src="../../../assets/image/members-user.png" alt="...">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6>John Smith</h6>
                                                    <small>Lorem Ipsum</small>
                                                </div>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing.
                                            </p>
                                            <div class="star-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="flex-shrink-0">
                                                    <img src="../../../assets/image/members-user.png" alt="...">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6>John Smith</h6>
                                                    <small>Lorem Ipsum</small>
                                                </div>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing.
                                            </p>
                                            <div class="star-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="flex-shrink-0">
                                                    <img src="../../../assets/image/members-user.png" alt="...">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6>John Smith</h6>
                                                    <small>Lorem Ipsum</small>
                                                </div>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum is simply dummy text of the printing.
                                            </p>
                                            <div class="star-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>