<div class="dialog-header">
    <span>Register Now</span>
    <button mat-icon-button mat-dialog-close>
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</div>
<div class="dialog-body form-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row gy-3">
            <div class="col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Full Name</mat-label>
                    <input matInput placeholder="Enter Full Name" formControlName="fullName"
                        [value]="registerForm.get('fullName')?.value | titlecase" maxlength="30"
                        (keypress)="validator.noFirstSpaceAllow($event)">
                    <mat-error class="mt-2" *ngIf="f.fullName.errors">
                        <span class="text-danger" *ngIf="f.fullName.errors?.required">
                            Full Name is Required.</span>
                        <span class="text-danger" *ngIf="f.fullName.errors?.pattern">
                            Please enter Valid Full Name</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email ID</mat-label>
                    <input matInput placeholder="Enter Email ID" formControlName="email"
                        (keypress)="validator.emailRegex($event)">
                    <mat-error class="mt-2" *ngIf="f.email.errors">
                        <span class="text-danger" *ngIf="f.email.errors?.required">
                            Email ID is Required.</span>
                        <span class="text-danger" *ngIf="f.email.errors?.pattern">
                            Please enter Valid Email ID</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Mobile No.</mat-label>
                    <input matInput placeholder="Enter Mobile No." formControlName="mobileNo" maxlength="10"
                        (keypress)="validator.acceptedOnlyNumbers($event)" maxlength="10">
                    <mat-error class="mt-2" *ngIf="f.mobileNo.errors">
                        <span class="text-danger" *ngIf="f.mobileNo.errors?.required">
                            Mobile No is required.</span>
                        <span class="text-danger" *ngIf="f.mobileNo.errors?.pattern">
                            Please enter Valid Mobile No</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Course Selected</mat-label>
                    <input matInput placeholder="Course Selected" formControlName="courseId" [readonly]="true">
                </mat-form-field>
            </div>
            <div class="col-sm-12">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Message</mat-label>
                    <textarea matInput placeholder="Enter Message" rows="5" maxlength="200" formControlName="message"
                        (keypress)="validator.noFirstSpaceAllow($event)"></textarea>
                    <mat-error *ngIf="registerForm.controls['message'].hasError('required')" class="mt-2">*Message is Required.</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center justify-content-between p-3">
                <button mat-button class="btn-main-outline" type="reset">Cancel</button>
                <button mat-button class=" btn btn-main" type="submit">OK</button>
            </div>
        </div>
    </form>
</div>