<div class="">
    <img src="../../../assets/image/Comman-Banner.png" class="card-img w-100">
    <div class="card-img-overlay">
        <div class="container">
            <h2 class="card-title text-white">ABOUT US</h2>
            <p class="card-text text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="row align-items-center g-0">
                    <div class="col-md-6">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">WHO WE ARE</h3>
                            <p class="card-text">
                                WhizHack is India’s only vertically integrated cyber security organisation that
                                wants to build a completely self-reliant digitally secure India.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------------Milestones-section------------>

    <div class="">
        <h2 class="text-white">MILESTONES</h2>
        <div class="row">
            <div class="col-6 col-sm-3">
                <div class="card card-body">
                    <img src="../../../assets/image/about-us/Customers.svg" class="w-25">
                    <p class="mb-0">1,200 +</p>
                    <small>Customers</small>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="card card-body">
                    <img src="../../../assets/image/about-us/Revenue.svg" class="w-25">
                    <p class="mb-0">1,200 +</p>
                    <small>Revenue</small>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="card card-body">
                    <img src="../../../assets/image/about-us/Team.svg" class="w-25">
                    <p class="mb-0">1,200 +</p>
                    <small>Team</small>
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div class="card card-body">
                    <img src="../../../assets/image/about-us/Countries.svg" class="w-25">
                    <p class="mb-0">1,200 +</p>
                    <small>Countries</small>
                </div>
            </div>
        </div>
    </div>

    <!------------------Our-Story-section------------>

    <div class="">
        <h2 class="text-white">OUR STORY</h2>
        <div class="text-white">
            <p> WhizHack has been formed by 3 highly passionate Indians, who realize that only the right cyber security
                ecosystem can empower budding entrepreneurs and produce global product IPs.
            </p>
            <p>
                Our paths converged in forming
                WhizHack when we realised that with the explosion of the cloud economy, India needs its own
                best-in-class
                portfolio. This is India’s moment to not become self-reliant but to serve as an engine of
                innovation-as-a-service to the rest of the World.
            </p>
            <p>
                Our Mission is not only to create a pipeline of cyber
                security products but also a team of empowered manpower that can drive sustainable innovation in
                securing
                the digital assets of tomorrow.
            </p>
        </div>
    </div>

    <!------------------Founder-section------------>

    <div class="">
        <h2 class="text-white">FOUNDERS</h2>
        <div id="carousel-Founder" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class=" col-sm-4">
                            <img src="../../../assets/image/about-us/Sanjay-Gupta.png" class="w-100">
                            <div class="card card-body">
                                <p class="mb-0">Sanjay Gupta</p>
                                <small>Chief Technology Officer</small>
                                <p class="card-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                    is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                    simply dummy text of the printing.
                                </p>
                            </div>
                        </div>
                        <div class=" col-sm-4">
                            <img src="../../../assets/image/about-us/Kaushik-Ray.png" class="w-100">
                            <div class="card card-body">
                                <p class="mb-0">Kaushik Ray</p>
                                <small>Chief Technology Officer</small>
                                <p class="card-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                    is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                    simply dummy text of the printing.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img src="../../../assets/image/about-us/Kallol-Sil.png" class="w-100">
                            <div class="card card-body">
                                <p class="mb-0">Kallol Sil</p>
                                <small>Chief Technology Officer</small>
                                <p class="card-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                    is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                    simply dummy text of the printing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class=" col-sm-4">
                        <img src="../../../assets/image/about-us/Sanjay-Gupta.png" class="w-100">
                        <div class="card card-body">
                            <p class="mb-0">Sanjay Gupta</p>
                            <small>Chief Technology Officer</small>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                simply dummy text of the printing.
                            </p>
                        </div>
                    </div>
                    <div class=" col-sm-4">
                        <img src="../../../assets/image/about-us/Kaushik-Ray.png" class="w-100">
                        <div class="card card-body">
                            <p class="mb-0">Kaushik Ray</p>
                            <small>Chief Technology Officer</small>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                simply dummy text of the printing.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../assets/image/about-us/Kallol-Sil.png" class="w-100">
                        <div class="card card-body">
                            <p class="mb-0">Kallol Sil</p>
                            <small>Chief Technology Officer</small>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                simply dummy text of the printing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class=" col-sm-4">
                        <img src="../../../assets/image/about-us/Sanjay-Gupta.png" class="w-100">
                        <div class="card card-body">
                            <p class="mb-0">Sanjay Gupta</p>
                            <small>Chief Technology Officer</small>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                simply dummy text of the printing.
                            </p>
                        </div>
                    </div>
                    <div class=" col-sm-4">
                        <img src="../../../assets/image/about-us/Kaushik-Ray.png" class="w-100">
                        <div class="card card-body">
                            <p class="mb-0">Kaushik Ray</p>
                            <small>Chief Technology Officer</small>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                simply dummy text of the printing.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../assets/image/about-us/Kallol-Sil.png" class="w-100">
                        <div class="card card-body">
                            <p class="mb-0">Kallol Sil</p>
                            <small>Chief Technology Officer</small>
                            <p class="card-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                                simply dummy text of the printing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-Founder" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-Founder" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <!-----------------Board-Members-section------------>

    <div class="">
        <h2 class="text-white">BOARD MEMBERS</h2>
        <div id="carousel-Board-Members" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <button type="button" class="btn btn-outline-warning">View More</button>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <button type="button" class="btn btn-outline-warning">View More</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <button type="button" class="btn btn-outline-warning">View More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <button type="button" class="btn btn-outline-warning">View More</button>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <button type="button" class="btn btn-outline-warning">View More</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <button type="button" class="btn btn-outline-warning">View More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <button type="button" class="btn btn-outline-warning">View More</button>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <button type="button" class="btn btn-outline-warning">View More</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <button type="button" class="btn btn-outline-warning">View More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-Board-Members"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-Board-Members"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-----------------Mission&Vision-section------------>

    <div class="">
        <h2 class="text-white">MISSION & VISION</h2>
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/image/about-us/mission.svg" class="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="text-warning">Mission</h5>
                            <p>To be Ranked #1 Vertically Integrated Cyber Security Innovation Player</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/image/about-us/Vision.svg" class="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="text-warning">Mission</h5>
                            <p>To be Ranked #1 Vertically Integrated Cyber Security Innovation Player</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-----------------Advisors-section------------>

    <div class="">
        <h2 class="text-white">ADVISORS</h2>
        <ul class="nav nav-tabs nav-pills nav-fill" id="myTab-Advisors" role="tablist">
            <li class="nav-item" role="presentation">
                <img src="../../../assets/image/members-user.png" class="">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                    John Smith
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <img src="../../../assets/image/members-user.png" class="">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                    John Smith
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <img src="../../../assets/image/members-user.png" class="">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                    type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                    John Smith
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                tabindex="0">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software.
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software.
            </div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software.
            </div>
        </div>
    </div>

    <!-----------------Strategic-Alliances-section------------>

    <div class="">
        <h2 class="text-white">STRATEGIC ALLIANCES</h2>
        <h4 class="text-white">Lorem Ipsum is simply dummy</h4>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum is simply
                    dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum is
                    simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <div class="col-sm-8">
                <div id="carousel-StrategicAlliances" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="../../../assets/image/about-us/Strategic-Alliances.png" class="w-75">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="../../../assets/image/about-us/Strategic-Alliances.png" class="w-75">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/image/about-us/Strategic-Alliances.png" class="w-75">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-StrategicAlliances"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-StrategicAlliances"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-----------------Partnership-Program-section------------>

    <div class="">
        <h2 class="text-white">PARTNERSHIP PROGRAM</h2>
        <h4 class="text-white">Lorem Ipsum is simply dummy</h4>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum is simply
                    dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum is
                    simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <div class="col-sm-8">
                <div id="carousel-PartnershipProgram" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="../../../assets/image/about-us/Pratnership-Program.png" class="w-75">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="../../../assets/image/about-us/Pratnership-Program.png" class="w-75">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/image/about-us/Pratnership-Program.png" class="w-75">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-PartnershipProgram"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-PartnershipProgram"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-----------------Media-Coverrage-section------------>

    <div class="">
        <h2 class="text-white">MEDIA COVERAGE</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="">
                    <img src="../../../assets/image/about-us/Media-Coverage-1.png" class="w-100">
                    <h5 class="text-white">Lorem Ipsum is simply dummy</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing.
                    </p>
                    <div class="">
                        <button type="button" class="btn btn-outline-warning">View More</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="">
                    <img src="../../../assets/image/about-us/Media-Coverage-2.png" class="w-100">
                    <h5 class="text-white">Lorem Ipsum is simply dummy</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing.
                    </p>
                    <div class="">
                        <button type="button" class="btn btn-outline-warning">View More</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="">
                    <img src="../../../assets/image/about-us/Media-Coverage-3.png" class="w-100">
                    <h5 class="text-white">Lorem Ipsum is simply dummy</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing.
                    </p>
                    <div class="">
                        <button type="button" class="btn btn-outline-warning">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>