<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>ABOUT US</h1>
                <!-- <h3>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </h3> -->
            </div>
        </div>
    </div>
</div>
<section id="whoweare">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="row align-items-center g-0">
                        <div class="col-md-6">
                            <div class="ratio ratio-16x9">
                                <iframe width="100%" height="350" src="https://www.youtube.com/embed/JQD3n2Rh1uM"
                                    title="Ecosystem" frameborder="0" class="rounded"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body p-5">
                                <h2 class="card-title mb-3">WHO WE ARE</h2>
                                <p class="about-text w-75">
                                    WhizHack is India’s only vertically integrated cyber security organisation that
                                    wants to build a completely self-reliant digitally secure India.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section id="milestones">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">MILESTONES</h2>
                <div class="row">
                    <div class="col-6 col-sm-3">
                        <div class="card card-body">
                            <img src="../../../assets/image/about-us/Customers.svg" class="w-25">
                            <h3>1,200 +</h3>
                            <small>Customers</small>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="card card-body">
                            <img src="../../../assets/image/about-us/Revenue.svg" class="w-25">
                            <h3>1,200 +</h3>
                            <small>Revenue</small>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="card card-body">
                            <img src="../../../assets/image/about-us/Team.svg" class="w-25">
                            <h3>1,200 +</h3>
                            <small>Team</small>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="card card-body">
                            <img src="../../../assets/image/about-us/Countries.svg" class="w-25">
                            <h3>1,200 +</h3>
                            <small>Countries</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">OUR STORY</h2>
                <div class="text-white">
                    <p class="about-text"> WhizHack was formed by 3 highly passionate Indians, who realize that
                        only the right cyber
                        security
                        ecosystem can empower budding entrepreneurs and produce global product IPs.
                    </p>
                    <p class="about-text">
                        Our paths converged in forming
                        WhizHack when we realised that with the explosion of the cloud economy, India needs its own
                        best-in-class
                        portfolio. This is India's moment to not just become self-reliant but to serve as an engine of
                        innovation-as-a-service to the rest of the World.
                    </p>
                    <p class="about-text">
                        Our Mission is not only to create a pipeline of cyber
                        security products but also a team of empowered manpower that can drive sustainable innovation in
                        securing
                        the digital assets of tomorrow.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="founders">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-4">MANAGEMENT TEAM</h2>
                <div class="row">
                    <div class="col-sm-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="../../../assets/image/about-us/management-team/Sanjay-Gupta.png" class="w-100">
                            <div class="card-body">
                                <h5 class="mb-0">Sanjay Sengupta</h5>
                                <small>CTO</small>
                                <p class="card-text">
                                    Sanjay is a visionary technologist. His training as a Masters in
                                    Computers and Space Physics, in the early years of tech boom, allowed
                                    him to work in product development across UK and USA with leading
                                    companies like Bay Networks, Nortel Networks etc. In a moment of
                                    nationalistic inspiration, he decided to return to India to pursue his
                                    lifelong ambition of building a true blue Indian IP. He built an
                                    integrated health information systems platform that still works in over
                                    50 top hospitals. For the past decade, he was the product architect of
                                    the World’s #1 rated Cyber Deception company.
                                </p>
                                <p class="card-text">
                                    Sanjay stays in Delhi with his wife and two sons. When not pursuing new
                                    frontiers in cyber security, he loves answering questions on Quora on
                                    topics ranging from Indian philosophy to Indian satellites.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.linkedin.com/in/sanjay-sengupta-65b5338" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="../../../assets/image/about-us/management-team/Kaushik-Ray.png" class="w-100">
                            <div class="card-body">
                                <h5 class="mb-0">Kaushik Ray</h5>
                                <small>COO </small>
                                <p class="card-text">
                                    Kaushik loves predicting the future before it becomes obvious. Over his
                                    stint with European and American MNCs and startups in the Ed-tech and
                                    Health-tech fields, he built highly symbiotic alliances that created
                                    completely new paradigms in business models. Kaushik also owns a
                                    business that has set up a tech-driven health knowledge network for
                                    multiple state Governments in India and is expanding to North America.
                                    Kaushik is also active in his IIT Delhi alumni meets, guides several startups
                                    and has built academic and research associations within this network.
                                </p>
                                <p class="card-text">
                                    He stays in Gurgaon with his wife and daughter, hates monotony,
                                    loves singing, and dreams of forming a fusion band one day. In case
                                    you’re stuck on cross roads of a business conundrum or looking to work
                                    with him in building breakthrough innovations.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.linkedin.com/in/kaushik-ray-3a958411/" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="../../../assets/image/about-us/management-team/Kallol-Sil.png" class="w-100">
                            <div class="card-body">
                                <h5 class="mb-0">Kallol Sil</h5>
                                <small>CEO </small>
                                <p class="card-text">
                                    Kallol is an indomitable growth engine. During his leadership stints in
                                    MNCs like Comparex, Ernst & Young & Microsoft,
                                    He has headed all possible
                                    business units including Enterprise, Government, Consulting, SME etc
                                    though he particularly thrived on starting new divisions or
                                    significantly turning around stagnant ones.
                                </p>
                                <p class="card-text">
                                    He was the recipient of
                                    “National Human Capital Leadership Award” presented by World HRD
                                    Congress & Zee Media. Kallol has also mentored several startups and
                                    identified key ecosystem gaps that can make Indian companies match the
                                    scale and success of their global counterparts.
                                </p>
                                <p class="card-text">
                                    Kallol stays in Gurgaon with his wife and daughter and loves to
                                    experiment with exotic travel and food.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.linkedin.com/in/kallol-sil-3166381b/" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="../../../assets/image/about-us/management-team/Somnath-Banerjee.png"
                                class="w-100">
                            <div class="card-body">
                                <h5 class="mb-0">Somnath Banerjee</h5>
                                <small>CISO & SVP Services Delivery</small>
                                <p class="card-text">
                                    Somnath Banerjee is one of the most accomplished cyber security practitioners with
                                    26+ years’ experience, trusted by C-level executives & cross-functional business
                                    partners to masterfully orchestrate, large-scale complex information security
                                    projects (both captive delivery and on premise).
                                </p>
                                <p class="card-text">
                                    His stints with some of the World's leading Security companies and portfolios like
                                    CheckPoint, McAfee, Microsoft, Novell, Intel etc. coupled with cross industry
                                    experience on solving compex challenges for diverse industry verticals including
                                    Government, IT/ITES, Banking and Finance, Manufacturing etc. have made him an
                                    invaluable asset across APAC, EMEA & ASEAN region.
                                </p>
                                <p class="card-text">
                                    As an avocation, Somnath is an award-winning avid wildlife photographer and has
                                    undertaken multiple exhibitions and mentorship programs on various themes.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="https://www.linkedin.com/in/somnathbanerjee/" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section id="board-members">
    <div class="container">
        <h2 class="mb-4">BOARD MEMBERS</h2>
        <div id="carousel-Board-Members" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <a class="text-main" routerLink="">View More</a>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <a class="text-main" routerLink="">View More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <a class="text-main" routerLink="">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <a class="text-main" routerLink="">View More</a>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <a class="text-main" routerLink="">View More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <a class="text-main" routerLink="">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <a class="text-main" routerLink="">View More</a>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <a class="text-main" routerLink="">View More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="../../../assets/image/members-user.png" class="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0">Sanjay Gupta</p>
                                        <small>Chief Technology Officer</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing.
                                </p>
                                <div class="text-end">
                                    <a class="text-main" routerLink="">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-Board-Members"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-Board-Members"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section> -->
<section>
    <div class="container">
        <h2 class="mb-4">MISSION & VISION</h2>
        <div class="row gx-5">
            <div class="col-sm-6">
                <div class="card card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/image/about-us/mission.svg" class="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="text-main">Mission</h5>
                            <p class="text-dark">To be Ranked #1 Vertically Integrated Cyber Security Innovation Player
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/image/about-us/Vision.svg" class="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="text-main">Vision</h5>
                            <p class="text-dark">
                                Invest in Deep Research to create globally respected Digital Products and Empowered
                                Human Capital
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="advisor">
    <div class="container">
        <h2 class="mb-4">ADVISORS</h2>
        <p class="about-text">
            WhizHack has taken upon the extremely arduous goal to achieve a Sustainable Digitally Secured World. As a
            relatively new entrant in the cyber security industry with large global legacy players, we receive valuable
            guidance in steering towards our 'true north’.
        </p>
        <ul class="nav nav-tabs nav-pills nav-fill" id="myTab-Advisors" role="tablist">
            <li class="nav-item" role="presentation">
                <img src="../../../assets/image/about-us/advisors/SomitraSanadhya.png" class="">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                    Prof. Somitra Sanadhya
                    <p class="small mb-0">Dean</p>
                    <small>Digital Transformations and Professor - Deptt of CSE
                        IIT Jodhpur</small>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <img src="../../../assets/image/about-us/advisors/MilanPatnaik.png" class="">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                    Dr. Milan Patnaik
                    <p class="small mb-0">Senior Director of Information Security at Government of India,</p>
                    <small>New Delhi, Delhi, India and Adjunct Faculty Rashtriya Raksha University</small>
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                tabindex="0">
                <p class="about-text">Prof. Somitra is a leading exponent of Cyber Security in India. He completed his
                    B.Tech. from IIT
                    Delhi and his Ph.D. in Cryptology from ISI Kolkata.</p>
                <p class="about-text">
                    His research has been supported by grants from various government agencies and organizations like
                    DRDO, the Ministry of Electronics and Info. Technology (Meity) etc. He has supervised more than 20
                    PhD and Masters students and published more than 60 peer-reviewed papers in the domain of
                    Cryptography and Cybersecurity in reputed venues. Prof. Somitra actively advises Indian Defence and
                    Corporates.
                </p>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <p class="about-text">
                    Dr. Milan is one of the subject matter experts in the field of Cyber Security including designing
                    and developing futuristic solutions for safeguarding critical infrastructure. He completed his
                    B.Tech. in Telecom & IT from JNU, Masters in CSE/ Information Security from IIT Madras as well as
                    Masaryk University, Czech Republic and Ph.D. in IT Security from IIT Chennai. Dr. Milan has also
                    trained thousands of students in eminent institutions and guided multiple teams for research in
                    developing real-life solutions to national Cyber Security problems.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="stategic-alliances">
    <div class="container">
        <h2 class="mb-4">STRATEGIC ALLIANCES</h2>
        <div class="row gx-5 mb-4">
            <div class="col-sm-12">
                <p class="about-text">
                    As a startup trying to develop breakthrough paradigms in solving complex cyber security challenges,
                    we have forged strategic alliances with leading knowledge hubs and industry bodies for building
                    Centers of Excellence (CoE). These CoE would produce "Made in India" products that would compare
                    with global majors and contribute towards building a self-reliant digitally secure ecosystem.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-2 p-4">
                            <img src="assets/image/about-us/Indian_Institute_of_Technology_Jodhpur_Logo.png"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">IIT Jodhpur</h5>
                                <p class="card-text">
                                    IIT Jodhpur is India's eminent academic and research institution. WhizHack has a
                                    wide-ranging partnership with IIT Jodhpur. It co-develops a range of training
                                    programs from the school level to working professionals and also on emerging areas
                                    like Blockchain. The CoE in IIT Jodhpur has been set up to conduct deep research and
                                    product development for Cyber-Physical Systems, particularly for critical
                                    infrastructures like Waterways, Smart Cities, Railways and Energy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-2 p-4">
                            <img src="assets/image/about-us/NPTI_Logo.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">National Power Training Institute (NPTI)</h5>
                                <p class="card-text">NPTI is a nodal training body under the Ministry of Power, India.
                                    The Power sector, which is
                                    critical for a country's sustenance, faces some of the maximum and most
                                    sophisticated cyber
                                    attacks, with a majority of them being state-sponsored from hostile countries.
                                    WhizHack's CoE at
                                    NPTI conducts research on the Power sector and also supplements training for power
                                    sector
                                    employees with customised threat intelligence and mitigation products.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-2 p-4">
                            <img src="assets/image/about-us/DSCI_Logo.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">Data Security Council of India (DSCI)</h5>
                                <p class="card-text">DSCI is Cyber Security Industry body in India under NASSCOM.
                                    WhizHack's CoE in DSCI actively
                                    collaborates with multiple industry verticals like Defence, Telecom and other Indian
                                    product
                                    OEMs for building large-scale cyber defence solutions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="mb-4">PARTNERSHIP PROGRAM (VAR & VAS)</h2>
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div id="carousel-PartnershipProgram" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="../../../assets/image/about-us/Pratnership-Program.png" class="w-100">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="../../../assets/image/about-us/Pratnership-Program.png" class="w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/image/about-us/Pratnership-Program.png" class="w-100">
                        </div>
                    </div>
                    <div class="mt-4">
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carousel-PartnershipProgram" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carousel-PartnershipProgram" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <p class="about-text">
                    WhizHack intends to be a dominant player in building cost effective cyber security ecosystems. Our
                    partners help plan and execute technology deployment into customer security stack and overall
                    security operations. Throughout the process, we share our expertise with partners to give them the
                    knowledge they need to optimize customer security implementations.
                </p>
                <p class="about-text">
                    We seek partners in key geographies across the World to provide our entire range of security
                    products and custom training and security services. Please write to <a
                        href="mailto:partnership@whizhack.com" class="text-main">partnership@whizhack.com</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="media-converage">
    <div class="container">
        <h2 class="mb-4">MEDIA COVERAGE</h2>
        <div id="MediaCoverageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row" *ngFor="let mediaData of mediaCoverageData">
                        <div class="col-sm-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5>{{mediaData.article_Title}}</h5>
                                    <p>{{mediaData.source}}
                                    </p>
                                    <a class="text-main" href="{{mediaData.url}}" target="_blank">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#MediaCoverageCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#MediaCoverageCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Mr. Sanjay Sengupta, Co-Founder and CTO, WhizHack Technologies talks about Cyber Security training for students.</h5>
                        <p>TISC
                        </p>
                        <a class="text-main" routerLink="">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Mr. Sanjay Sengupta, Co-Founder and CTO, WhizHack Technologies talks about Cyber Security training for students.</h5>
                        <p>TISC
                        </p>
                        <a class="text-main" routerLink="">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Mr. Sanjay Sengupta, Co-Founder and CTO, WhizHack Technologies talks about Cyber Security training for students.</h5>
                        <p>TISC
                        </p>
                        <a class="text-main" routerLink="">View More</a>
                    </div>
                </div>
            </div>
        </div> -->
        
    </div>
</section>