<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Job Name</h1>
                <div class="d-flex">
                    <div>
                        <i class="fa-solid fa-location-dot me-1"></i> Location
                    </div>
                    <div class="mx-5">
                        <i class="fa-regular fa-calendar-days me-1"></i> Date of Posting
                    </div>
                    <div>
                        <i class="fa-regular fa-calendar-days me-1"></i> Last Date of Application
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="mb-2">Job Description</h5>
                <p class="about-text mb-4">
                    Add captions to your slides easily with the .carousel-caption element within any .carousel-item.
                    They can be easily hidden on smaller viewports, as shown below, with optional display utilities. We
                    hide them initially with .d-none and bring them back on medium-sized devices with .d-md-block.
                </p>
                <h5 class="mb-2">Roles & Responsibility</h5>
                <p class="about-text mb-4">
                    Add captions to your slides easily with the .carousel-caption element within any .carousel-item.
                    They can be easily hidden on smaller viewports, as shown below, with optional display utilities. We
                    hide them initially with .d-none and bring them back on medium-sized devices with .d-md-block.
                </p>
                <h5 class="mb-2">Experience</h5>
                <p class="about-text mb-4">
                    Add captions to your slides easily with the .carousel-caption element within any .carousel-item.
                    They can be easily hidden on smaller viewports, as shown below, with optional display utilities. We
                    hide them initially with .d-none and bring them back on medium-sized devices with .d-md-block.
                </p>
                <h5 class="mb-2">Qualification</h5>
                <p class="about-text mb-4">
                    Add captions to your slides easily with the .carousel-caption element within any .carousel-item.
                    They can be easily hidden on smaller viewports, as shown below, with optional display utilities. We
                    hide them initially with .d-none and bring them back on medium-sized devices with .d-md-block.
                </p>
                <h5 class="mb-2">Skills Required</h5>
                <p class="about-text mb-4">
                    Add captions to your slides easily with the .carousel-caption element within any .carousel-item.
                    They can be easily hidden on smaller viewports, as shown below, with optional display utilities. We
                    hide them initially with .d-none and bring them back on medium-sized devices with .d-md-block.
                </p>
            </div>

            <div class="col-sm-4">
                <div class="card form-card">
                    <div class="card-header py-4">
                        <h5 class="mb-0">Other Jobs</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="#">UI Developer</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">UI Developer</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">UI Developer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>