section {
    padding-block: 4rem;
    color: #fff;
}
.list-group .list-group-item{
    background-color:transparent;
    padding-block: 15px;
}
.list-group .list-group-item a{
    color:#fff;
    text-decoration: none;
}
.list-group .list-group-item a:hover{
    color:var(--main-color);
}
.jobs-card-height{
    height: 70vh !important;
    max-height: 100vh !important;
    overflow: auto !important;
}