<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{postJobArray?.job_Title}}</h1>
                <div class="d-flex">
                    <div>
                        <i class="fa-solid fa-location-dot me-1"></i> {{postJobArray?.job_Location}}
                    </div>
                    <div class="mx-5">
                        <i class="fa-regular fa-calendar-days me-1"></i> {{postJobArray?.date_of_Posting | date:
                        'dd-MM-yyyy'}}
                    </div>
                    <div>
                        <i class="fa-regular fa-calendar-days me-1"></i> {{postJobArray?.date_of_Application | date:
                        'dd-MM-yyyy'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="mb-2">Job Description</h5>
                <p class="about-text mb-4">
                    {{postJobArray?.job_Description}}
                </p>
                <h5 class="mb-2">Roles & Responsibility</h5>
                <p class="about-text mb-4" innerHTML="{{postJobArray?.roles_and_Responsibility}}">
                </p>
                <h5 class="mb-2">Experience</h5>
                <p class="about-text mb-4" innerHTML="{{postJobArray?.experience}}">
                </p>
                <h5 class="mb-2">Qualification</h5>
                <p class="about-text mb-4" innerHTML="{{postJobArray?.qualification}}">
                </p>
                <h5 class="mb-2">Skills Required</h5>
                <p class="about-text mb-4" innerHTML="{{postJobArray?.skills_Required}}">
                </p>

                <div class="text-center">
                    <button mat-stroked-button type="button" (click)="openDialog(postJobArray)"
                        class="btn-main-outline rounded-pill px-5 py-3">Apply Now</button>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card form-card">
                    <div class="card-header py-4">
                        <h5 class="mb-0">Other Jobs</h5>
                    </div>
                    <div class="card-body scrollbar jobs-card-height">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let allPost of allPostJobArray">
                                <a [class.text-secondary]="allPost?.jobpostId==JobPostId"
                                    (click)="JobPostId = allPost?.jobpostId;getByIdPostJobs()">{{allPost?.job_Title}}</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>