<div class="row">
    <div class="col-sm-12">
        <div class="card form-card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div>

                        <span>Enquiries</span>
                    </div>
                    <div class="text-end">
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="Search by page name" [formControl]="searchFilter"
                            (keypress)="vadations.noFirstSpaceAllow($event)"
                            maxlength="50">
                            
                            <button mat-icon-button matSuffix *ngIf="searchFilter.value"  matTooltip="close" aria-label="tooltip"
                            (click)="clearSearchFilter()">
                                <span class="material-symbols-outlined">
                                    close
                                </span>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table mat-table [dataSource]="dataSource" class="dashboard-table" matSort>
                    <ng-container matColumnDef="srNo">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element;let i=index;">{{((currentPage + 1) * 10 + i + 1)-10}}</td>
                    </ng-container>
                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName || '-' | titlecase}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.email ||'-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="mobileNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.mobileNo || '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="courseId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Selected </th>
                        <td mat-cell *matCellDef="let element"> {{element.course_Title || '-' }} </td>
                    </ng-container>
                    <ng-container matColumnDef="pageName">
                        <th mat-header-cell *matHeaderCellDef> Page </th>
                        <td mat-cell *matCellDef="let element"> {{element.pageName || '-' | titlecase}} </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="openDialog(element)" matTooltip="View">
                                <span class="material-symbols-outlined">
                                    visibility
                                </span>
                            </button>
                            <button mat-icon-button class="text-danger"  matTooltip="Delete">
                                <span class="material-symbols-outlined" (click)="openDeleteDialog(element)">
                                    delete
                                </span>
                            </button>
                        </td>
                    </ng-container>
                    <tr class="mat-row p-2 w-100" *matNoDataRow col>
                        <td class="alert alert-danger text-center m-2 mt-2" colspan="8">
                            No Data Found </td>
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
        <div>
            <div *ngIf="totalCount>=10">
                <mat-paginator [pageSize]="10" [length]="totalCount" [pageIndex]="currentPage"
                    (page)="pageChanged($event)" showFirstLastButtons aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>