<div class="row">
    <div class="col-sm-12">
        <div class="card form-card mb-3">
            <form [formGroup]="postNewJobFrm" #formDirective="ngForm">
                <div class="card-header">Post New Job</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 border-end">
                            <div class="mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Job Title</mat-label>
                                    <input matInput placeholder="Enter Job Title" formControlName="job_Title" maxlength="50"
                                        (keypress)="validation.noFirstSpaceAllow($event)">
                                    <mat-error class="mt-2">
                                        <div *ngIf="f['job_Title'].hasError('required') || f['job_Title'].hasError('touched')">
                                            Job Title is Required</div>
                                        <div *ngIf="f['job_Title'].hasError('pattern') || f['job_Title'].hasError('touched')">Please enter
                                            Valid Job Title.
                                        </div>
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Job Location</mat-label>
                                    <input matInput placeholder="Enter Job Location" formControlName="job_Location"
                                        (keypress)="validation.noFirstSpaceAllow($event)"><br>
                                    <mat-error class="mt-2">
                                        <div *ngIf="f['job_Location'].hasError('required') || f['job_Location'].hasError('touched')">
                                            Job Location is Required</div>
                                        <div *ngIf="f['job_Location'].hasError('pattern') || f['job_Location'].hasError('touched')">Please enter
                                            Valid Job Location
                                        </div>
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <!-- <div class="mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Date Of Posting</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="date_of_Posting"
                                        [min]="min">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error class="mt-2"
                                        *ngIf="f['date_of_Posting'].hasError('required') || f['date_of_Posting'].hasError('touched')">
                                        Date Of Posting Is Required
                                    </mat-error>
                                </mat-form-field>
                            </div> -->
                            <div class="mb-1">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Last Date of Application</mat-label>
                                    <input matInput [matDatepicker]="picker1" formControlName="date_of_Application"
                                        [min]="min">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                    <mat-error class="mt-2"
                                        *ngIf="f['date_of_Application'].hasError('required') || f['date_of_Application'].hasError('touched')">
                                        Last Date of Application Is Required
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="mb-3">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>Job Description</mat-label>
                                    <textarea matInput placeholder="Enter Job Description" rows="15" maxlength="500"
                                        formControlName="job_Description"
                                        (keypress)="validation.noFirstSpaceAllow($event)"></textarea>
                                    <mat-error class="mt-2"
                                        *ngIf="f['job_Description'].hasError('required') || f['job_Description'].hasError('touched')">
                                        Job Description is Required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row gy-3 form-container">
                                <div class="col-sm-6">
                                    <div class="form-label">Roles & Responsibility</div>
                                    <angular-editor formControlName="roles_and_Responsibility" [config]="editorConfig" placeholder="Enter  Roles & Responsibility here...">
                                    </angular-editor>
                                    <mat-error class="mt-2">
                                        <div *ngIf="f['roles_and_Responsibility'].hasError('required') && submited == true">
                                            Roles & Responsibility is Required</div>
                                    </mat-error>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-label">Experience</div>
                                    <angular-editor formControlName="experience" [config]="editorConfig" placeholder="Enter Experience here...">
                                    </angular-editor>
                                    <mat-error class="mt-2"
                                        *ngIf="f['experience'].hasError('required') && submited == true">
                                        Experience Is Required
                                    </mat-error>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-label">Qualification</div>
                                    <angular-editor formControlName="qualification" [config]="editorConfig" placeholder="Enter Qualification here...">
                                    </angular-editor>
                                    <mat-error class="mt-2"
                                        *ngIf="f['qualification'].hasError('required') && submited == true">
                                        Qualification Is Required
                                    </mat-error>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-label">Skills Required</div>
                                    <angular-editor formControlName="skills_Required" [config]="editorConfig" placeholder="Enter Skills here...">
                                    </angular-editor>
                                    <mat-error class="mt-2"
                                    *ngIf="f['skills_Required'].hasError('required') && submited == true">
                                    Skills Is Required
                                </mat-error>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex align-items-center justify-content-between">
                        <button mat-stroked-button class="btn-main-outline" type="button"
                            (click)="clearForm()">Cancel</button>
                        <button mat-stroked-button class="btn-main" type="submit"
                            (click)="onSubmit()">{{buttonValue}}</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="card form-card">
            <div class="card-header">Jobs Posted</div>

            <div class="card-body">


                <table mat-table [dataSource]="dataSource" class="dashboard-table" matSort>
                    <ng-container matColumnDef="srNo">
                        <th mat-header-cell *matHeaderCellDef class="srno" mat-sort-header>Sr. No. </th>
                        <td mat-cell *matCellDef="let element" class="srno"> {{element.srNo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="job_Title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.job_Title}} </td>
                    </ng-container>
                    <ng-container matColumnDef="job_Location">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Location </th>
                        <td mat-cell *matCellDef="let element"> {{element.job_Location}} </td>
                    </ng-container>
                    <ng-container matColumnDef="date_of_Posting">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Posting </th>
                        <td mat-cell *matCellDef="let element"> {{element.date_of_Posting | date: 'dd-MM-yyyy'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="date_of_Application">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Date of Application </th>
                        <td mat-cell *matCellDef="let element"> {{element.date_of_Application | date: 'dd-MM-yyyy'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="publish">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Publish </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.publish" (click)="onClickToggle(element)">
                            </mat-slide-toggle>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="openDialog1(element)">
                                <span class="material-symbols-outlined">
                                    visibility
                                </span>
                            </button>
                            <button mat-icon-button class="text-warning" (click)="onEdit(element)">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>
                            <button mat-icon-button class="text-danger" (click)="openDeleteDialog(element.jobpostId)">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>


            </div>

            <ng-container>
                <mat-paginator [length]="totalCount" [pageSize]="10" (page)="paginationEvent($event)"
                    showFirstLastButtons aria-label="Select page">
                </mat-paginator>
            </ng-container>
        </div>
    </div>
</div>
