@import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
@import './assets/css/MaterialStyleSheet.css';

html,
body {
    height: 100%;
    background-color: #0e0e0e;
}

body
 {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
:root {
    --main-color: #2DF611;
    --main-dark-color: #149a02;
    --main-light-color: #e7ffe4;
    --card-bg-color:#0E1526;
}
.text-main{
  color: var(--main-color);
  text-decoration: none;
}
a.text-main:hover{
  color: var(--main-dark-color);
}
.bg-main{
  background-color:var(--main-color);
}
.btn-main{
  font-family: 'Lato', sans-serif !important;
  background-color:var(--main-color);
  color: #000;
  border: 1px solid var(--main-color) !important;
}
.btn-main:active,
.btn-main:focus,
.btn-main:hover{
  background-color:var(--main-dark-color);
  color: #fff !important;
  border: 1px solid var(--main-dark-color);
}
.btn-main-outline{
  font-family: 'Lato', sans-serif !important;
  background-color:transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color) !important;
  font-size: 0.85rem;
}
.btn-main-outline:hover{
  background-color:var(--main-color);
  color: #000;
  border: 1px solid var(--main-color);
}
.about-text{
  line-height: 2.3rem;
  font-weight: 300;
  font-size: 1.2rem;
}
.products .card{
  padding: 15px;
  border-radius: 20px;
  background-color: var(--card-bg-color);
  text-decoration: none;
  color: #fff;
}
.products .card .card-body{
  padding: 15px 0 0 0px;
}
.products .card .card-title{
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.products .card .card-text{
  font-size: 0.9rem;
}
.testimonal .card{
  background-color: var(--card-bg-color);
  color: #fff;
}
.testimonal img{
  width: 60px;
}
.testimonal h6{
  margin-bottom: 0px;
}
.testimonal small{
 font-size: 0.8rem;
 font-weight: 200;
}
.testimonal p{
 font-size: 0.85rem;
 font-weight: 300;
 margin-bottom: 5px;
}
.testimonal .star-rating i{
 color: #DDB32A;
 margin-right: 3px;
}
.page-header{
  background-image: url('https://whizhack.mahamining.com/assets/image/Comman-Banner.png');
  height: 60vh;
  margin-top: 87px;
  color: #fff;
  display:flex;
  align-items: center;
  background-size: cover;
}
.page-header h1{
  font-size: 4rem;
  text-transform: uppercase;
}
#blog a{
  color: #fff;
  text-decoration: none;
}
#blog a:hover{
  color: var(--main-color);
}
#blog .main-blog-img{
  border-radius: 15px;
  height: 416px;
    object-fit: contain;
    object-position: top;
}
#blog .main-blog-body{
  border-radius: 15px;
  top: -30px;
  background-color: var(--card-bg-color)
}
#blog .main-blog-body .btn,
#blog .main-blog-body p{
  font-size: 0.85rem;
}
.scrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overscroll-behavior: contain;
  scrollbar-color: #989ea6 transparent;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}
.scrollbar:hover::-webkit-scrollbar, .scrollbar:hover::-webkit-scrollbar-thumb, .scrollbar:hover:focus::-webkit-scrollbar, .scrollbar:hover:focus::-webkit-scrollbar-thumb {
  visibility: visible;
}
.scrollbar::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  height: 0.375rem;
  visibility: hidden;
  width: 0.375rem;
}
.scrollbar::-webkit-scrollbar-button, .scrollbar::-webkit-scrollbar-corner {
  display: none;
}
.scrollbar::-webkit-scrollbar-button, .scrollbar::-webkit-scrollbar-corner {
  display: none;
}
.scrollbar:hover::-webkit-scrollbar, .scrollbar:hover::-webkit-scrollbar-thumb, .scrollbar:hover:focus::-webkit-scrollbar, .scrollbar:hover:focus::-webkit-scrollbar-thumb {
  visibility: visible;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: hsla(214,7%,62%,.4);
  border-radius: 3px;
  visibility: hidden;
}
.courses .card{
  background-color:#0E1526 ;
  color: #fff !important;
  padding: 15px;
  border-radius: 20px;
  height: 100%;
}
.courses .course-name{
  font-size: 1.4rem;
  margin-bottom:0.5rem
}
.courses .course-type{
  font-size: 0.85rem;
  margin-bottom:1rem
}
.courses .duration-label{
  font-size: 0.85rem;
  color: #aaa;
  margin-bottom: 0.5rem;
}
.courses .price{
  font-size: 1.1rem;
  margin-bottom: 0;
}
.courses .cut-price{
  font-size: 1.1rem;
  text-decoration: line-through;
}
.courses .btn-more{
  font-size: 0.85rem;
  background-color: transparent;
  border: solid 1px var(--main-color);
  border-radius: 30px;
  color: var(--main-color);
  padding-inline: 15px;
}
.courses .btn-more:hover{
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
  color: #000;
}
.form-card{
  background-color:var(--card-bg-color);
  color: #fff;
  border: none;
}
#fileupload-button {
  padding:5px 10px;
  font-size: 0.85rem;
  color: #000;
  background-color: var(--main-color);
  border-radius: 5px;
  cursor: pointer;
  border: solid 1px var(--main-color);
}

#fileupload-button:hover {
  background-color: var(--main-dark-color);
}
.dashboard-table{
  width: 100%;
  font-family: 'Lato', sans-serif;
}
.dashboard-table .table-img{
  width:50px;
  height:50px;
  border-radius: 5px;
}
.dashboard-table th{
  font-size: 0.85rem;
  font-weight: 600;
  background-color: #111;
  padding-inline: 10px !important;
}
.dashboard-table td{
  font-size: 0.85rem;
  background-color: var(--card-bg-color);
  padding-block: 5px !important;
  padding-inline: 10px !important;
}
.dashboard-table .srno{
  width: 90px;
}
.dashboard-table .material-symbols-outlined{
  font-size:16px !important;
}
.dashboard-table tr.mat-row,
.dashboard-table tr.mat-header-row{
  height: 40px;
}
.form-container .form-label{
  font-size:0.85rem;
  color: #7a7a7a;
  margin-bottom: 3px;
}
.form-container .form-data,
.form-container .form-data a{
  font-size:0.85rem;
  color: #fff;
}

#captcha {
  background-image: url('assets/image/captcha_bg.jpg');
  border-radius: 0.375rem;
}
.snack-warning {
  background: #ffc107 !important;
  color: #fff !important;
  border-left: 5px solid #000 !important;
  border-radius: 0 !important;
}

.snack-danger {
  background: #ff4141 !important;
  color: #fff !important;
  border-left: 5px solid #000 !important;
  border-radius: 0 !important;
}

.snack-success {
  background: #198754 !important;
  color: #fff !important;
  border-left: 5px solid #000 !important;
  border-radius: 0 !important;
}
.g-backdrop {
  background-color: rgb(0 0 0 / 95%) !important;
}

.highlightedRow td{
  background: #000 !important;
}

/* ******** my css ****** */
.fixed-top {
  background-color: #000 !important;
}
.mat-paginator-page-size {
  display: none !important;
}
.textareaheight{
  resize:none !important;
  height: 20vh !important;
}
.description{
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4;
   -webkit-box-orient: vertical;
}

.w-0{
  width:0% !important;
}

/*********** Responsive CSS  *********************/
@media only screen and (max-width: 479px){
  .homepg-tabs{
    display: block !important;
    margin: 30px 0px;
  }
  #founders .card  img{
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    margin: 0px !important;
}
}