<div id="login" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <div class="card" id="loginbox">
                <form [formGroup]="registerForm" (ngSubmit)="onSumbit(clear)" #clear="ngForm">
                <div class="card-body p-5">
                    <div class="mobileno mb-3">
                        <h4 class="mb-5 text-white text-center">Forgot Password</h4>
                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter Mobile No.</mat-label>
                                <input matInput formControlName="mobile" placeholder="Enter Mobile No." minlength="10" maxlength="10" (keypress)="validations.onlyDigits($event)">
                                <mat-error *ngIf="fc['mobile'].hasError('required')">Mobile Number is required</mat-error>
                                <mat-error *ngIf="fc['mobile'].hasError('pattern')"> Please Enter Valid Mobile Number</mat-error>
                            </mat-form-field>
                        </div>
                        <button type="button" mat-raised-button class="bg-main w-100 text-dark mb-2" (click)="sendOTP();startTimer()" [disabled]="otpStatus == true">{{otpStatus ? 'RESEND OTP':'SEND OTP'}}</button>
                        <p *ngIf="otpStatus" style="color: white;"><b>Resend Otp in :</b> {{timeLeft}}</p>
                    </div>
                    <div class="verifyotp mb-3" *ngIf="displayFields">
                        <h4 class="mb-5 text-white text-center">Verify OTP</h4>
                        <div class="mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput formControlName="digitOne" placeholder="X" minlength="1" maxlength="1" class="text-center">
                                        <mat-error *ngIf="fc['digitOne'].hasError('required')">please enter OTP correctly</mat-error>
                                    </mat-form-field>
                                </div>
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput formControlName="digitTwo" placeholder="X"  maxlength="1" class="text-center">
                                        <mat-error *ngIf="fc['digitTwo'].hasError('required')">please enter OTP correctly</mat-error>
                                    </mat-form-field>
                                </div>
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput formControlName="digitThree" placeholder="X"  maxlength="1" class="text-center">
                                        <mat-error *ngIf="fc['digitThree'].hasError('required')">please enter OTP correctly</mat-error>

                                    </mat-form-field>
                                </div>
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput formControlName="digitFour" placeholder="X"  maxlength="1" class="text-center">
                                        <mat-error *ngIf="fc['digitFour'].hasError('required')">please enter OTP correctly</mat-error>

                                    </mat-form-field>
                                </div>
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput formControlName="digitFive" placeholder="X"   maxlength="1" class="text-center">
                                        <mat-error *ngIf="fc['digitFive'].hasError('required')">please enter OTP correctly</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <button type="button" mat-raised-button class="bg-main w-100 text-dark mb-2" (click)="verifyOTP()">VERIFY OTP</button>
                    </div>

                    <div class="mobileno mb-3" *ngIf="displayFields1">
                        <h4 class="mb-5 text-white text-center">Enter New Password</h4>
                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter New password</mat-label>
                                <input matInput formControlName="passwordNew" [type]="hide ? 'password' : 'text'">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                                </button>
                                <mat-error *ngIf="fc['passwordNew'].hasError('required')">New Password Is Required</mat-error>
                                <mat-error *ngIf="fc['passwordNew'].hasError('pattern')"> Please Enter Valid Password</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Retype Password</mat-label>
                                <input matInput formControlName="retypePassword" [type]="hide ? 'password' : 'text'">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                                </button>
                                <mat-error *ngIf="fc['retypePassword'].hasError('required')"> Password Is Required</mat-error>
                                <mat-error *ngIf="fc['retypePassword'].hasError('pattern')"> Please Enter Valid Password</mat-error>
                            </mat-form-field>
                        </div>
                        <button type="submit" mat-raised-button class="bg-main w-100 text-dark mb-2" >Submit Password</button>
                    </div>
                    <div class="text-center">
                        <a routerLink="../login" class="text-main">Go Back</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>