<div id="login" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <div class="card" id="loginbox">
                <form [formGroup]="registerForm" (ngSubmit)="onSumbit(clear)" #clear="ngForm">
                <div class="card-body p-5">
                    <div class="mobileno mb-3" *ngIf="displayFields2">
                        <h4 class="mb-5 text-white text-center">Forgot Password</h4>
                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter Email Id</mat-label>
                                <input matInput formControlName="email" placeholder="Enter Email Id."  maxlength="50" >
                                <mat-error class="mt-2" *ngIf="fc['email'].hasError('required')">Email Id Is Required</mat-error>
                                <mat-error class="mt-2" *ngIf="fc['email'].hasError('pattern')"> Please Enter Valid Email Id</mat-error>
                            </mat-form-field>
                        </div>
                        <button type="button" mat-raised-button class="bg-main w-100 text-dark mb-2" (click)="sendOTP();startTimer()">SEND OTP</button>
                    </div>
                    <div class="verifyotp mb-3" *ngIf="displayFields">
                        <h4 class="mb-5 text-white text-center">Verify OTP</h4>
                        <div class="mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput formControlName="digitOne" #input1  (input)="(input1.value.length == 1) ? input2.focus() : 'input1.focus()'" placeholder="X" minlength="1" maxlength="1" class="text-center" (keypress)="validations.onlyDigits($event)">
                                        <!-- <mat-error *ngIf="fc['digitOne'].hasError('required')">please enter OTP correctly</mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput formControlName="digitTwo" #input2 (input)="(input2.value.length == 1) ? input3.focus() : 'input2.focus()'" placeholder="X"  maxlength="1" class="text-center" (keypress)="validations.onlyDigits($event)">
                                        <!-- <mat-error class="mt-2" *ngIf="fc['digitTwo'].hasError('required')">please enter OTP correctly</mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput formControlName="digitThree" #input3 (input)="(input3.value.length == 1) ? input4.focus() : 'input3.focus()'" placeholder="X"  maxlength="1" class="text-center" (keypress)="validations.onlyDigits($event)">
                                        <!-- <mat-error class="mt-2" *ngIf="fc['digitThree'].hasError('required')">please enter OTP correctly</mat-error> -->

                                    </mat-form-field>
                                </div>
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput formControlName="digitFour" #input4 (input)="(input4.value.length == 1) ? input5.focus() : 'input4.focus()'" placeholder="X"  maxlength="1" class="text-center" (keypress)="validations.onlyDigits($event)">
                                        <!-- <mat-error class="mt-2" *ngIf="fc['digitFour'].hasError('required')">please enter OTP correctly</mat-error> -->

                                    </mat-form-field>
                                </div>
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput formControlName="digitFive" #input5 (input)="(input5.value.length == 1) ? input5.focus() : 'input4.focus()'" placeholder="X"   maxlength="1" class="text-center" (keypress)="validations.onlyDigits($event)">
                                        <!-- <mat-error class="mt-2" *ngIf="fc['digitFive'].hasError('required')">please enter OTP correctly</mat-error> -->
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <button type="button" mat-raised-button class="bg-main w-100 text-dark mb-2" (click)="verifyOTP()">VERIFY OTP</button>
                        <p *ngIf="otpStatus" style="color: white;"><b>Resend Otp in :</b> {{timeLeft}}</p>
                        <a (click)="sendOTP();startTimer()" *ngIf="!otpStatus"><p style="color: white;" >Resend OTP</p></a>

                    </div>

                    <div class="mobileno mb-3" *ngIf="displayFields1">
                        <h4 class="mb-5 text-white text-center">Enter New Password</h4>
                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter New password</mat-label>
                                <input matInput formControlName="passwordNew" [type]="hide ? 'password' : 'text'" (keypress)="validations.alphaNumericWithSpacesAndSpecChars($event)">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                                </button>
                                <mat-error class="mt-2" *ngIf="fc['passwordNew'].hasError('required')">New Password Is Required</mat-error>
                                <mat-error class="mt-2" *ngIf="fc['passwordNew'].hasError('pattern')"> Please Enter Valid Password</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Retype Password</mat-label>
                                <input matInput formControlName="retypePassword" [type]="hide1 ? 'password' : 'text'" (keypress)="validations.alphaNumericWithSpacesAndSpecChars($event)">
                                <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                    <span class="material-symbols-outlined">{{hide1 ? 'visibility_off' : 'visibility'}}</span>
                                </button>
                                <mat-error class="mt-2" *ngIf="fc['retypePassword'].hasError('required')"> Password Is Required</mat-error>
                                <mat-error class="mt-2" *ngIf="fc['retypePassword'].hasError('pattern')"> Please Enter Valid Password</mat-error>
                            </mat-form-field>
                        </div>
                        <button type="submit" mat-raised-button class="bg-main w-100 text-dark mb-2" >Submit Password</button>
                    </div>
                    <div class="text-center">
                        <a routerLink="../login" class="text-main">Go Back</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>