<div id="login" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <div class="card" id="loginbox">
                <div class="card-body p-5">
                    <div class="mobileno mb-3">
                        <h4 class="mb-5 text-white text-center">Forgot Password</h4>
                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter Mobile No.</mat-label>
                                <input matInput placeholder="Enter Mobile No.">
                            </mat-form-field>
                        </div>
                        <button type="submit" mat-raised-button class="bg-main w-100 text-dark mb-2">SEND OTP</button>
                    </div>
                    <div class="verifyotp mb-3">
                        <h4 class="mb-5 text-white text-center">Verify OTP</h4>
                        <div class="mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" class="text-center">
                                    </mat-form-field>
                                </div>
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" class="text-center">
                                    </mat-form-field>
                                </div>
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" class="text-center">
                                    </mat-form-field>
                                </div>
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" class="text-center">
                                    </mat-form-field>
                                </div>
                                <div style="width: 50px;">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="X" class="text-center">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <button type="submit" mat-raised-button class="bg-main w-100 text-dark mb-2">VERIFY OTP</button>
                    </div>

                    <div class="mobileno mb-3">
                        <h4 class="mb-5 text-white text-center">Enter New Password</h4>
                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter your Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter New password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Retype Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                                </button>
                            </mat-form-field>
                        </div>
                        <button type="submit" mat-raised-button class="bg-main w-100 text-dark mb-2">Submit Password</button>
                    </div>

                    <div class="text-center">
                        <a routerLink="../login" class="text-main">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>