<div class="dialog-header">
    <span>Delete</span>
    <button mat-icon-button mat-dialog-close>
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</div>
<div class="dialog-body form-container">
    <div class="row gy-3">
        <div class="d-flex align-items-center justify-content-between p-3">
            <button mat-button mat-dialog-close class="btn-main-outline">Cancel</button>
            <button mat-button class="btn-main" type="submit">OK</button>
        </div>
    </div>
</div>
  