<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5><span class="badge bg-warning bg-opacity-10 text-warning">Blog Category</span></h5>
                <h2>
                    Blog Name
                </h2>
            </div>
        </div>
    </div>
</div>
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-8" id="blog-details">
                <div class="d-flex align-items-center justify-content-between details">
                    <div>
                        By - <span>Pankaj Gadkar</span>
                    </div>
                    <div>
                        Date : <span>12-02-2022</span>
                    </div>
                </div>
                <img src="assets/image/Products/blog-image.png" class="img-fluid rounded">
                <p class="about-text">
                    blog Description
                </p>
                <h5>Blog Sub-Title</h5>
                <p class="about-text">
                    blog sub-Description
                </p>
            </div>
            <div class="col-sm-4">
                <div class="card blogs-all">
                    <div class="card-header p-3">
                        Related Blogs
                    </div>
                    <div class="card-body scrollbar blog-list">
                        <p class="border-bottom pb-2 mb-4">Recent Posts</p>
                        <a class="d-flex blog" routerLink="../blog-details">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/image/Products/blog-image.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text</p>
                                <small>June 07</small>
                            </div>
                        </a>
                        <a class="d-flex blog" routerLink="../blog-details">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/image/Products/blog-image.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text</p>
                                <small>June 07</small>
                            </div>
                        </a>
                        <a class="d-flex blog" routerLink="../blog-details">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/image/Products/blog-image.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text</p>
                                <small>June 07</small>
                            </div>
                        </a>
                        <a class="d-flex blog" routerLink="../blog-details">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/image/Products/blog-image.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text</p>
                                <small>June 07</small>
                            </div>
                        </a>
                        <a class="d-flex blog" routerLink="../blog-details">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/image/Products/blog-image.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text</p>
                                <small>June 07</small>
                            </div>
                        </a>
                        <a class="d-flex blog" routerLink="../blog-details">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/image/Products/blog-image.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text</p>
                                <small>June 07</small>
                            </div>
                        </a>
                        <a class="d-flex blog" routerLink="../blog-details">
                            <div class="flex-shrink-0">
                                <img src="../../../assets/image/Products/blog-image.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text</p>
                                <small>June 07</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>