<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <h5><span class="badge bg-warning bg-opacity-10 text-warning">{{blogArray?.categoryName}}</span></h5>
                <h2>
                    {{blogArray?.title}}
                </h2>
            </div>
        </div>
    </div>
</div>
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-8" id="blog-details">
                <div class="d-flex align-items-center justify-content-between details">
                    <div>
                        By - <span>{{blogArray?.userName}}</span>
                    </div>
                    <div>
                        Date : <span>{{blogArray?.createdDate |date:'dd/MM/yyyy'}}</span> 
                    </div>
                </div>
                <img src="{{blogArray?.imagePath}}" class="img-fluid rounded">
                <p class="about-text">
                    {{blogArray?.description}}
                </p>
               <div *ngFor="let data of blogArray?.blogRegisterDetailsModel">
                <h5>Sub Title : {{data.title}}</h5>
                <p class="about-text">
                   Sub Title Description : {{data.description}}
                </p>
               </div>
            </div>
            <div class="col-sm-4">
                <div class="card blogs-all">
                    <div class="card-header p-3">
                        Related Blogs
                    </div>
                    <div class="card-body scrollbar blog-list">
                        <p class="border-bottom pb-2 mb-4">Recent Posts</p>
                        <a class="d-flex blog" routerLink="../blog-details" *ngFor="let blogData of getAllBlog">
                            <div class="flex-shrink-0">
                                <img src="{{blogData.imagePath}}" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p>{{blogData.description}}</p>
                                <small>{{blogData.createdDate| date}}</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>