section {
    padding-block: 4rem;
    color: #fff;
}
.blog{
    margin-bottom: 15px;
}
.blog img{
    width: 100px;
    height: 70px;
    object-fit: contain;
    border-radius: 0.375rem;
}
.blog p{
    font-size: 0.85rem;
    margin-bottom: 0;
}
.blogs-all{
    background-color: var(--card-bg-color);
}
.blog small{
    font-size: 0.7rem;
}
.blog-list{
    height: 89vh;
    overflow-y: auto;
}
#blog-details .details{
    color:#888;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px #666;
}
#blog-details .details span{
    color:#fff;
}
.pointer-link{
    cursor: pointer;
}