<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>products</h1>
                <h3>
                    Next-generation security products for risk mitigation and training.
                </h3>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row py-4">
            <div class="col-sm-12">
                <p class="about-text">
                    Whizhack product portfolio is creating a secure digital cyberspace, ranging from surveillance tools
                    that predict impending advanced attacks and also remediation engines post attacks. All our solutions
                    are built for massive scale and efficiency.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="mb-4">PRODUCTS</h2>
        <div class="row gx-5 products">
            <div class="col-sm-4">
                <a class="card h-100" routerLink="../products/zero-hack">
                    <img src="../../../assets/image/home/Product3.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/image/home/Zero-Hack.svg" class="me-3">
                                <span>Zero Hack</span>
                            </div>
                        </h5>
                        <p class="card-text mt-3">
                            An adaptable, triple-layer security system that uses industry-standard mature signature
                            technology with highly optimized machine language and deep learning-based models on live
                            traffic to detect threats in the hybrid cloud.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="card h-100" routerLink="../products/trace">
                    <img src="../../../assets/image/home/Product2.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/image/home/TRACE.svg" class="me-3">
                                <span>TRACE</span>
                            </div>
                        </h5>
                        <p class="card-text mt-3">
                            A highly scalable and adaptable cyber deception software that has been designed to capture
                            and analyze live and real attacks on any enterprise.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="card h-100" routerLink="../products/cyber-range">
                    <img src="../../../assets/image/home/Product1.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/image/home/Cyber-Range.svg" class="me-3">
                                <span>Cyber Range</span>
                            </div>
                        </h5>
                        <p class="card-text mt-3">
                            Cyber Range is a platform that trains professionals in a simulated environment to help them
                            learn how to respond to real-world cyberattacks.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- <section>
    <div class="container">
        <h2 class="mb-4">Clients</h2>
        <div class="row align-items-center mb-5">
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/mobnia.png" class="">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/G-Pay.png" class="">
            </div>
            <div class="col col-sm text-center">
                <img src="../../../assets/image/Services/access.png" class="">
            </div>
        </div>
    </div>
</section> -->
<section>
    <div class="container">
        <h2 class="mb-4">Featured Resources</h2>
        <div class="row gx-5 products">
            <div class="col-sm-4">
                <a class="card h-100">
                    <img src="../../../assets/image/home/Product1.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            White Papers
                        </h5>
                        <p class="card-text">
                            An adaptable, triple-layer security system that uses industry-standard mature signature
                            technology with highly optimized machine language and deep learning-based models on live
                            traffic to detect threats in the hybrid cloud.
                        </p>
                        <div>
                            <button type="button" class="btn btn-main-outline" (click)="resourceDetails('papers')">View More</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="card h-100">
                    <img src="../../../assets/image/home/Product2.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            Case Studies
                        </h5>
                        <p class="card-text">
                            An adaptable, triple-layer security system that uses industry-standard mature signature
                            technology with highly optimized machine language and deep learning-based models on live
                            traffic to detect threats in the hybrid cloud.
                        </p>
                        <div>
                            <button type="button" class="btn btn-main-outline" (click)="resourceDetails('caseStudy')">View More</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="card h-100">
                    <img src="../../../assets/image/home/Product3.png" alt="Product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            Blogs
                        </h5>
                        <p class="card-text">
                            An adaptable, triple-layer security system that uses industry-standard mature signature
                            technology with highly optimized machine language and deep learning-based models on live
                            traffic to detect threats in the hybrid cloud.
                        </p>
                        <div>
                            <button type="button" class="btn btn-main-outline" (click)="resourceDetails('blogs')">View More</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="mb-4">Case Studies</h2>
        <div class="text-center">
            <h4>Our Successful Casestudies</h4>
            <p>
                Lorem Ipsum is simply dummy text of the printing and <br>typesetting industry. Lorem Ipsum is simply
                dummy
                text of the printing and typesetting industry.
            </p>
        </div>
        <div class="case-studies">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-All" role="tabpanel" aria-labelledby="pills-All-tab"
                    tabindex="0">
                    <div class="row">
                        <div class="col-sm-4" *ngFor="let caseData of caseStudyArray">
                            <div class="card pointer-link">
                                <img src="{{caseData.imagePath}}" class="card-img-top" (click)="blogDetails(caseData.id)"
                                    alt="...">
                                <div class="card-overlay">
                                    <h5>{{caseData.title}}</h5>
                                    <p>{{caseData.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog">
    <div class="container">
        <h2 class="mb-4">Blogs</h2>
        <div class="row">
            <div class="col-sm-7">
                <div class="position-relative">
                    <a>
                        <img src="{{blogPostArray[0]?.imagePath}}" alt="blog" class="main-blog-img w-100">
                        <div class="card card-body main-blog-body mx-3">
                            <p class="mb-2">{{blogPostArray[0]?.createdDate| date}}</p>
                            <hr>
                            <p>
                                {{blogPostArray[0]?.title}}
                            </p>
                            <small>{{blogPostArray[0]?.description}}</small>
                            <div class="text-end">
                                <button type="button" class="btn btn-outline-light rounded-pill"
                                    (click)="blogDetails(blogPostArray[0].id)">Read More</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card blogs-all">
                    <div class="card-header p-3">
                        <!-- <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Blogs">
                            <button class="btn" type="button" id="button-addon2">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="card-body scrollbar blog-list">
                        <p class="border-bottom pb-2 mb-4">Recent Posts</p>
                        <a class="d-flex blog" *ngFor="let blogData of blogPostArray" (click)="blogDetails(blogData.id)">
                            <div class="flex-shrink-0">
                                <img src="{{blogData.imagePath}}" alt="..."  class="pointer-link">
                            </div>
                            <div class="flex-grow-1 ms-3 pointer-link">
                                <p>{{blogData.title}}</p>
                                <small>{{blogData.createdDate| date}}</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>