<div class="breadcrumb breadcrumb-products">
    <div class="container">
        <div class="col-md-8">
            <div class="">
                <h1 id="heading-h1">PRODUCTS</h1>
                <p class="mb-0 heading-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            
        </div>
    </div>
</div>
<div class="mainContent">
    <div class="container">
        <ul class="ulGreen">
            <li>Our Products capture attack data from millions of sensors on our unique, globally patented, industry-specific threat intelligence platform.</li>
        </ul>
    </div>
</div>

<div class="caseStudies">
    <div class="container">
        <h4 class="secHead secHeadgreen">Case Studies</h4>
        <div class="secTitles">
            <h5>Our Successful Casestudies</h5>
            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="caseStudies-tab-content">
            <nav>
                <div class="nav nav-tabs justify-content-center mb-3" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-All-tab" data-bs-toggle="tab" data-bs-target="#nav-All" type="button" role="tab" aria-controls="nav-All" aria-selected="true">All</button>
                  <button class="nav-link" id="nav-Business-tab" data-bs-toggle="tab" data-bs-target="#nav-Business" type="button" role="tab" aria-controls="nav-Business" aria-selected="false">Business</button>
                  <button class="nav-link" id="nav-Financial-tab" data-bs-toggle="tab" data-bs-target="#nav-Financial" type="button" role="tab" aria-controls="nav-Financial" aria-selected="false">Financial</button>
                  <button class="nav-link" id="nav-Environment-tab" data-bs-toggle="tab" data-bs-target="#nav-Environment" type="button" role="tab" aria-controls="nav-Environment" aria-selected="false">Environment</button>
                  <button class="nav-link" id="nav-Investment-tab" data-bs-toggle="tab" data-bs-target="#nav-Investment" type="button" role="tab" aria-controls="nav-Investment" aria-selected="false">Investment</button>
                  <button class="nav-link" id="nav-Marketing-tab" data-bs-toggle="tab" data-bs-target="#nav-Marketing" type="button" role="tab" aria-controls="nav-Marketing" aria-selected="false">Marketing</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-All" role="tabpanel" aria-labelledby="nav-All-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="caseStudies-card">
                                <div class="caseStudies-card__overlay"></div>
                                <img class="caseStudies-card__image" src="../../../assets/image/products/CaseStudies1.png">
                                <div class="caseStudies-card__details">
                                    <h3 class="content-title">Lorem Ipsum is simply </h3>
                                    <p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="caseStudies-card">
                                <div class="caseStudies-card__overlay"></div>
                                <img class="caseStudies-card__image" src="../../../assets/image/products/CaseStudies2.png">
                                <div class="caseStudies-card__details">
                                    <h3 class="content-title">Lorem Ipsum is simply </h3>
                                    <p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="caseStudies-card">
                                <div class="caseStudies-card__overlay"></div>
                                <img class="caseStudies-card__image" src="../../../assets/image/products/CaseStudies3.png">
                                <div class="caseStudies-card__details">
                                    <h3 class="content-title">Lorem Ipsum is simply </h3>
                                    <p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Business" role="tabpanel" aria-labelledby="nav-Business-tab">Business</div>
                <div class="tab-pane fade" id="nav-Financial" role="tabpanel" aria-labelledby="nav-Financial-tab">Financial</div>
                <div class="tab-pane fade" id="nav-Environment" role="tabpanel" aria-labelledby="nav-Environment-tab">Environment</div>
                <div class="tab-pane fade" id="nav-Investment" role="tabpanel" aria-labelledby="nav-Investment-tab">Investment</div>
                <div class="tab-pane fade" id="nav-Marketing" role="tabpanel" aria-labelledby="nav-Marketing-tab">Marketing</div>
              </div>
        </div>
    </div>
</div>