<div class="row">
    <div class="col-sm">
        <div class="card card-body form-card">
            <h3 class="text-primary fw-bold">34</h3>
            <p class="mb-0 text-end">Blog</p> 
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-body form-card">
            <h3 class="text-info fw-bold">345</h3>
            <p class="mb-0 text-end">Enquiries</p> 
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-body form-card">
            <h3 class="text-success fw-bold">45</h3>
            <p class="mb-0 text-end"> Case Studies</p> 
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-body form-card">
            <h3 class="text-warning fw-bold">435</h3>
            <p class="mb-0 text-end"> White Papers</p> 
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-body form-card">
            <h3 class="text-light fw-bold">43</h3>
            <p class="mb-0 text-end"> Courses</p> 
        </div>
    </div>
</div>