<div class="row">
    <div class="col-sm">
        <div class="card card-body form-card">
            <h4> Case studies</h4>
            <p>  Count - 10</p>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-body form-card">
            <h4>
                Training
            </h4>
            <p>
                Count - 10
            </p>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-body form-card">
            <h4>
                Products
            </h4>
            <p>
                Count - 12
            </p>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-body form-card">
            <h4>
                Case studies
            </h4>
            <p>
                Count - 17
            </p>
        </div>
    </div>
    <div class="col-sm">
        <div class="card card-body form-card">
            <h4>
                Case studies
            </h4>
            <p>
                Count - 22
            </p>
        </div>
    </div>
</div>